Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

fix(cli): update command names to use CliCmd constants for consistency
  src/topmark/cli/commands/__init__.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
Due: lychee-src, docstring-ref-links

refactor(pipeline,cli): centralize outcome bucketing and decouple CLI coloring
  src/topmark/api/types.py
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/utils.py
  src/topmark/cli_shared/machine_output.py
  src/topmark/cli_shared/outcomes.py
  src/topmark/pipeline/outcomes.py
Due: lychee-src, docstring-ref-links

feat(makefile): add pytest-full target and remove slow tests from pytest target
  Makefile
Due: none

chore (deps): update dependencies and configuration files
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
Due: none

feat(cli): add default+markdown pipeline emitters for check/strip output
  src/topmark/cli/emitters/default/pipeline.py
  src/topmark/cli_shared/emitters/markdown/pipeline.py
Due: lychee-src, docstring-ref-links

fix(mkdocs): update mermaid extension format for diagram rendering
  mkdocs.yml
Due: none

refactor(cli)!: move shared human emitters to text/markdown and centralize CLI policies
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/emitters/__init__.py
  src/topmark/cli/emitters/text/__init__.py
  src/topmark/cli/emitters/text/config.py
  src/topmark/cli/emitters/text/diagnostic.py
  src/topmark/cli/emitters/text/pipeline.py
  src/topmark/cli/emitters/text/registry.py
  src/topmark/cli/emitters/text/utils.py
  src/topmark/cli/emitters/text/version.py
  src/topmark/cli/emitters/utils.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  src/topmark/cli_shared/color.py
  src/topmark/cli_shared/emitters/markdown/pipeline.py
  src/topmark/cli_shared/emitters/markdown/registry.py
  src/topmark/cli_shared/emitters/shared/__init__.py
  src/topmark/cli_shared/emitters/shared/config.py
  src/topmark/cli_shared/emitters/shared/diagnostic.py
  src/topmark/cli_shared/emitters/shared/pipeline.py
  src/topmark/cli_shared/emitters/shared/registry.py
  src/topmark/core/formats.py
  src/topmark/core/keys.py
  tests/cli/test_config_dump_output.py
  tests/cli/test_logging_flags.py
  tests/cli/test_version.py
Due: lychee-src, docstring-ref-links

docs(mkdocs,gen-api): generate internals API nav + improve docs pipeline & pins
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .vscode/settings.json
  INSTALL.md
  README.md
  docs/_snippets/config-resolution.md
  docs/api/internals.md
  docs/ci/release-workflow.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines-reference.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config_check.md
  docs/usage/commands/config_defaults.md
  docs/usage/commands/config_dump.md
  docs/usage/commands/config_init.md
  docs/usage/commands/filetypes.md
  docs/usage/commands/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/global-options.md
  docs/usage/pre-commit.md
  mkdocs.yml
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  tools/docs/gen_api_pages.py
  tools/docs/hooks.py
Due: lychee-md

refactor(config): introduce HasPolicyConfig protocol to break import cycle
  src/topmark/config/policy.py
Due: lychee-src, docstring-ref-links

refactor(registry)!: break filetype/processor registry cycle via facade API
  src/topmark/registry/filetypes.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
  tests/api/conftest.py
  tests/api/test_public_api_views.py
  tests/api/test_registry_linkage.py
  tests/api/test_registry_one_step.py
  tests/api/test_registry_overlays.py
  tests/api/test_registry_public_api.py
Due: lychee-src, docstring-ref-links

refactor(types): make pipeline Step generic and add minimal context protocols
  docs/api/public.md
  pyproject.toml
  src/topmark/api/__init__.py
  src/topmark/api/runtime.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/pipelines.py
  src/topmark/pipeline/protocols.py
  src/topmark/pipeline/runner.py
  src/topmark/processors/base.py
  src/topmark/rendering/api.py
  tests/api/test_api_discovery_parity.py
  tests/pipeline/conftest.py
  tests/pipeline/processors/test_cblock.py
  tests/pipeline/processors/test_pound.py
  tests/pipeline/processors/test_slash.py
  tests/pipeline/processors/test_slash_indent.py
  tests/pipeline/processors/test_xml.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(settings): update YAML schema configuration for mkdocs and set rulers in editor
  .vscode/settings.json
Due: none

refactor(docs): remove trailing spaces in code examples for consistency
  CONTRIBUTING.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/documentation-pipeline.md
  src/topmark/api/__init__.py
  src/topmark/cli/config_resolver.py
  src/topmark/registry/__init__.py
  src/topmark/registry/filetypes.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(docs): fix import statement formatting for consistency
  README.md
  docs/index.md
  src/topmark/registry/__init__.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(docs): fix formatting issue in API documentation for clarity
  docs/api/public.md
Due: lychee-md

refactor(cli)!: reorganize registry commands, emitters, and CLI error handling
  docs/api/public.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  lychee.toml
  mkdocs.yml
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/emitters/text/diagnostic.py
  src/topmark/cli/errors.py
  src/topmark/cli/io.py
  src/topmark/cli/keys.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  src/topmark/cli_shared/emitters/__init__.py
  src/topmark/core/exit_codes.py
  src/topmark/core/keys.py
  tests/cli/test_filetypes.py
  tests/cli/test_help_all.py
  tools/docs/gen_api_pages.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(config,cli)!: drop header_format and add shared merge helpers
  docs/dev/config-schema.md
  pyproject.toml
  src/topmark/api/runtime.py
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/config/args_io.py
  src/topmark/config/io/getters.py
  src/topmark/config/io/loaders.py
  src/topmark/config/io/template_surgery.py
  src/topmark/config/keys.py
  src/topmark/config/model.py
  src/topmark/config/policy.py
  src/topmark/config/topmark-example.toml
  src/topmark/constants.py
  src/topmark/core/keys.py
  src/topmark/core/merge.py
  src/topmark/diagnostic/model.py
  src/topmark/filetypes/instances.py
  src/topmark/pipeline/runner.py
  src/topmark/processors/base.py
  src/topmark/processors/registry.py
  src/topmark/rendering/api.py
  src/topmark/rendering/formats.py
  tests/cli/test_completion.py
  tests/cli/test_completion_integration.py
  tests/config/test_config_resolution.py
  tests/config/test_io.py
  tests/config/test_model_export.py
  tests/filetypes/test_content_gate.py
  tests/filetypes/test_instances_plugins.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/test_header_bounds_property.py
  tests/processors/test_mixins.py
  tests/strategies_topmark.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(tools): move docstring link checker to tools/docs
  .pre-commit-config.yaml
  Makefile
  noxfile.py
  tools/docs/check_docstring_links.py
Due: none

feat(ci): add reusable setup-python-nox composite action
  .github/actions/setup-python-nox/action.yml
Due: none

refactor(ci): gate releases via CI workflow_run and shared setup action
  .github/actions/setup-python-nox/action.yml
  .github/workflows/release.yml
Due: none

refactor(ci): gate jobs by changed file groups and simplify shared setup
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
Due: none

docs(api,readme)!: align README with registry and policy API changes
  README.md
Due: none

docs(api,readme)!: align README with registry and policy API changes (#2)
  README.md
Due: none

chore(api): sync PublicPolicy TypedDict with internal policy options
  src/topmark/api/protocols.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/machine/serializers.py
  src/topmark/config/policy.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/registry/registry.py
Due: lychee-src, docstring-ref-links

chore(api): sync PublicPolicy TypedDict with internal policy options (#3)
  src/topmark/api/protocols.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/machine/serializers.py
  src/topmark/config/policy.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/registry/registry.py
Due: lychee-src, docstring-ref-links

chore(ci): remove temporary release workflow diagnostics
  .github/workflows/release.yml
Due: none

style(repo): standardize YAML and Markdown editor formatting
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .readthedocs.yml
  .vscode/settings.json
  mkdocs.linkcheck.yml
Due: none

refactor(files): relocate input file resolution under topmark.resolution
  docs/api/public.md
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/resolution/__init__.py
  src/topmark/resolution/files.py
  tests/api/test_api_discovery_parity.py
  tests/config/test_config_resolution.py
  tests/unit/test_resolve_file_list.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(docs): update stale references to example TOML config, correct origin of builtin runtime defaults.
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/config-schema.md
  docs/usage/pre-commit.md
Due: lychee-md
