Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

test(cli): add validator policy coverage
  tests/cli/test_validators.py
Due: none

test(xml): expand XML processor anchor and strip coverage
  tests/processors/test_xml.py
  tests/processors/test_xml_anchor.py
Due: none

fix(filetypes): detect JSONC block comments
  src/topmark/filetypes/detectors/jsonc.py
  tests/filetypes/test_content_gate.py
Due: lychee-src, docstring-ref-links

test(pipeline): add focused outcome bucketing coverage
  tests/pipeline/test_outcomes.py
Due: none

test(filetypes): add JSON-like insert-check coverage
  src/topmark/filetypes/checks/json_like.py
  src/topmark/filetypes/model.py
  tests/filetypes/test_content_gate.py
Due: lychee-src, docstring-ref-links

test(pipeline): add context status helper coverage
  tests/pipeline/test_context_status.py
Due: none

refactor(presentation): remove obsolete rendering package
  src/topmark/core/enum_mixins.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/presentation/formatters/unified_diff.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/rendering/__init__.py
  src/topmark/rendering/api.py
  tests/pipeline/steps/test_patcher.py
  tests/presentation/test_diff_render.py
  tests/utils/__init__.py
Due: lychee-src, docstring-ref-links

test(core): add enum mixin and parsing helper coverage
  src/topmark/core/enum_mixins.py
  tests/unit/test_enum_mixins.py
Due: lychee-src, docstring-ref-links

refactor(planner): inline pre-insert checker naming
  src/topmark/pipeline/steps/planner.py
  src/topmark/utils/introspection.py
Due: lychee-src, docstring-ref-links

test(utils): add merge helper coverage
  src/topmark/utils/merge.py
  tests/utils/test_merge.py
Due: lychee-src, docstring-ref-links

fix(cli): render color option warnings with enum values
  src/topmark/cli/validators.py
  tests/cli/test_validators.py
Due: lychee-src, docstring-ref-links

docs(changelog)!: prepare 1.0.0b5 beta release
  CHANGELOG.md
  docs/dev/roadmap.md
Due: lychee-md

docs(roadmap): record coverage-badge follow-up
  docs/dev/roadmap.md
Due: lychee-md

refactor(types): tighten pre-insert views and version payload result
  src/topmark/filetypes/checks/xml.py
  src/topmark/filetypes/model.py
  src/topmark/pipeline/adapters.py
  src/topmark/version/machine/envelopes.py
  src/topmark/version/machine/payloads.py
  src/topmark/version/machine/serializers.py
  tests/filetypes/test_content_gate.py
Due: lychee-src, docstring-ref-links

refactor(version): replace mixed version tuple with typed result object
  src/topmark/presentation/shared/version.py
  src/topmark/utils/version.py
Due: lychee-src, docstring-ref-links

refactor(toml): replace template tuple return with typed result object
  src/topmark/config/resolution/bridge.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/defaults.py
Due: lychee-src, docstring-ref-links

refactor(api)!: return typed pipeline run results
  src/topmark/api/__init__.py
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  tests/api/public_api_snapshot.json
  tests/pipeline/integration/test_nested_config_e2e.py
Due: lychee-src, docstring-ref-links

refactor(pipeline)!: return typed engine execution results
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/engine.py
  tests/api/test_api_discovery_parity.py
  tests/helpers/api.py
  tests/pipeline/test_engine_path_configs.py
Due: lychee-src, docstring-ref-links

refactor(processors): return typed strip header results
  src/topmark/pipeline/steps/stripper.py
  src/topmark/processors/base.py
  src/topmark/processors/builtins/xml.py
  src/topmark/processors/types.py
  tests/pipeline/steps/test_stripper.py
  tests/processors/test_bom_newline_matrix.py
  tests/processors/test_bounds_inclusive.py
  tests/processors/test_cblock.py
  tests/processors/test_final_newline_policy.py
  tests/processors/test_multiple_headers.py
  tests/processors/test_pound.py
  tests/processors/test_slash.py
  tests/processors/test_xml.py
  tests/processors/test_xml_single_line_roundtrip.py
Due: lychee-src, docstring-ref-links

refactor(cli): use typed from-option helper results
  src/topmark/cli/io.py
  src/topmark/cli/options.py
Due: lychee-src, docstring-ref-links

refactor(types): tighten read-only protocol and view mappings
  src/topmark/api/protocols.py
  src/topmark/pipeline/protocols.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/views.py
  src/topmark/processors/base.py
Due: lychee-src, docstring-ref-links

refactor(policy): tighten policy typing and documentation
  src/topmark/config/policy.py
  src/topmark/pipeline/context/policy.py
Due: lychee-src, docstring-ref-links

docs(api): clarify plugin-facing protocol contracts
  src/topmark/api/protocols.py
Due: lychee-src, docstring-ref-links

refactor(presentation): return typed human diagnostics
  src/topmark/presentation/shared/config.py
  src/topmark/presentation/shared/diagnostic.py
  tests/presentation/test_diagnostic_rendering.py
Due: lychee-src, docstring-ref-links

refactor(utils): return typed rebased glob patterns
  src/topmark/config/io/serializers.py
  src/topmark/utils/file.py
Due: lychee-src, docstring-ref-links

refactor(config): return typed resolved config drafts
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_init.py
  src/topmark/config/resolution/bridge.py
  tests/config/resolution/test_bridge.py
  tests/config/test_config_resolution_discovery.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_resolution_paths.py
  tests/config/test_config_strictness_and_validity.py
  tests/helpers/api.py
Due: lychee-src, docstring-ref-links

refactor(cli): return typed prepared config state
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
Due: lychee-src, docstring-ref-links

refactor(resolution): use typed file type candidate order keys
  src/topmark/resolution/filetypes.py
Due: lychee-src, docstring-ref-links

docs(cli): clarify console protocol ownership and runtime guards
  src/topmark/cli/console/protocols.py
Due: lychee-src, docstring-ref-links

docs(cli): clarify CLI parameter helper contracts
  src/topmark/cli/cli_types.py
Due: lychee-src, docstring-ref-links

refactor(diagnostics): tighten read-only diagnostic protocols
  src/topmark/diagnostic/types.py
Due: lychee-src, docstring-ref-links

docs(processors): clarify mixin state and delimiter ownership
  src/topmark/processors/mixins.py
Due: lychee-src, docstring-ref-links

docs(pipeline): clarify writer step sink contracts
  src/topmark/pipeline/steps/writer.py
Due: lychee-src, docstring-ref-links

docs(release): finalize roadmap and changelog for 1.0.0b6
  CHANGELOG.md
  docs/dev/roadmap.md
Due: lychee-md

chore(deps): update pre-commit dependencies
  .pre-commit-config.yaml
Due: none

ci(github): add canonical coverage reporting job
  .github/workflows/ci.yml
Due: none

ci(github): fix coverage summary publishing
  .github/workflows/ci.yml
Due: none

ci(github): stabilize coverage summary publishing
  .github/workflows/ci.yml
Due: none

docs(ci): document canonical coverage reporting workflow
  docs/ci/ci-workflow.md
  docs/ci/release-workflow.md
  docs/ci/test-validation.md
Due: lychee-md

docs(roadmap): record canonical CI coverage reporting integration
  docs/dev/roadmap.md
Due: lychee-md

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
