Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

fix(pipeline): strengthen planner contracts and preview hints (#279)
  CHANGELOG.md
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/steps/planner.py
  tests/pipeline/steps/test_planner.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen writer sink contracts
  CHANGELOG.md
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/steps/test_writer.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen writer sink contracts (#280)
  CHANGELOG.md
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/steps/test_writer.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen base step lifecycle contracts
  src/topmark/pipeline/steps/base.py
  tests/pipeline/steps/test_base.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen base step lifecycle contracts (#281)
  src/topmark/pipeline/steps/base.py
  tests/pipeline/steps/test_base.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen comparer and view-pruning contracts
  CHANGELOG.md
  src/topmark/pipeline/steps/comparer.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/test_view_pruning.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen comparer and view-pruning contracts (#282)
  CHANGELOG.md
  src/topmark/pipeline/steps/comparer.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/test_view_pruning.py
Due: lychee-src, docstring-ref-links

fix(pipeline): compare rendered empty headers against missing content
  CHANGELOG.md
  src/topmark/pipeline/steps/comparer.py
  tests/pipeline/steps/test_comparer.py
Due: lychee-src, docstring-ref-links

fix(pipeline): compare rendered empty headers against missing content (#283)
  CHANGELOG.md
  src/topmark/pipeline/steps/comparer.py
  tests/pipeline/steps/test_comparer.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen patcher failure contracts
  CHANGELOG.md
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/patcher.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen patcher failure contracts (#284)
  CHANGELOG.md
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/patcher.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen prober contracts
  src/topmark/pipeline/steps/prober.py
  tests/pipeline/steps/test_prober.py
  tests/pipeline/test_pipelines.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen prober contracts (#285)
  src/topmark/pipeline/steps/prober.py
  tests/pipeline/steps/test_prober.py
  tests/pipeline/test_pipelines.py
Due: lychee-src, docstring-ref-links

fix(api): strengthen public API contracts
  CHANGELOG.md
  src/topmark/api/collectors.py
  src/topmark/api/commands/pipeline.py
  src/topmark/api/commands/registry.py
  src/topmark/api/view.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_core.py
  tests/api/test_api_runtime_config.py
  tests/api/test_api_smoke.py
  tests/api/test_api_stream_collectors.py
  tests/api/test_public_imports.py
  tests/api/test_result_view.py
Due: lychee-src, docstring-ref-links

fix(api): strengthen public API contracts (#286)
  CHANGELOG.md
  src/topmark/api/collectors.py
  src/topmark/api/commands/pipeline.py
  src/topmark/api/commands/registry.py
  src/topmark/api/view.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_core.py
  tests/api/test_api_runtime_config.py
  tests/api/test_api_smoke.py
  tests/api/test_api_stream_collectors.py
  tests/api/test_public_imports.py
  tests/api/test_result_view.py
Due: lychee-src, docstring-ref-links

fix(processors): strengthen processor contracts
  CHANGELOG.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  src/topmark/processors/base.py
  src/topmark/processors/builtins/cblock.py
  src/topmark/processors/builtins/markdown.py
  src/topmark/processors/builtins/xml.py
  src/topmark/processors/instances.py
  src/topmark/processors/mixins.py
  tests/processors/test_base_contracts.py
  tests/processors/test_cblock.py
  tests/processors/test_instances_contracts.py
  tests/processors/test_markdown.py
  tests/processors/test_mixins.py
  tests/processors/test_xml.py
  tests/processors/test_xml_anchor.py
Due: lychee-md, lychee-src, docstring-ref-links

test(processors): preserve XML fixture newlines on Windows
  tests/processors/test_xml.py
Due: none

fix(processors): strengthen processor contracts and XML placement (#291)
  CHANGELOG.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  src/topmark/processors/base.py
  src/topmark/processors/builtins/cblock.py
  src/topmark/processors/builtins/markdown.py
  src/topmark/processors/builtins/xml.py
  src/topmark/processors/instances.py
  src/topmark/processors/mixins.py
  tests/processors/test_base_contracts.py
  tests/processors/test_cblock.py
  tests/processors/test_instances_contracts.py
  tests/processors/test_markdown.py
  tests/processors/test_mixins.py
  tests/processors/test_xml.py
  tests/processors/test_xml_anchor.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(toml): preserve config-init template formatting
  CHANGELOG.md
  docs/usage/commands/config/init.md
  src/topmark/toml/defaults.py
  src/topmark/toml/surgery.py
  src/topmark/toml/template_surgery.py
  tests/presentation/test_config_rendering.py
  tests/toml/test_defaults.py
  tests/toml/test_surgery.py
  tests/toml/test_template_surgery.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(toml): preserve config-init template formatting (#292)
  CHANGELOG.md
  docs/usage/commands/config/init.md
  src/topmark/toml/defaults.py
  src/topmark/toml/surgery.py
  src/topmark/toml/template_surgery.py
  tests/presentation/test_config_rendering.py
  tests/toml/test_defaults.py
  tests/toml/test_surgery.py
  tests/toml/test_template_surgery.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(toml): strengthen source loading and extraction contracts
  CHANGELOG.md
  docs/dev/configuration-schema.md
  src/topmark/toml/loaders.py
  src/topmark/toml/validation.py
  tests/config/test_config_resolution_discovery.py
  tests/toml/test_loaders.py
  tests/toml/test_parse.py
  tests/toml/test_pyproject.py
  tests/toml/test_validation.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(toml): strengthen source loading and extraction contracts (#293)
  CHANGELOG.md
  docs/dev/configuration-schema.md
  src/topmark/toml/loaders.py
  src/topmark/toml/validation.py
  tests/config/test_config_resolution_discovery.py
  tests/toml/test_loaders.py
  tests/toml/test_parse.py
  tests/toml/test_pyproject.py
  tests/toml/test_validation.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(version): strengthen conversion and fallback contracts
  CHANGELOG.md
  docs/api/public.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/machine-output.md
  src/topmark/utils/version.py
  src/topmark/version/convert.py
  tests/api/test_api_smoke.py
  tests/utils/test_version.py
  tests/version/machine/test_version_machine_serializers.py
  tests/version/test_convert.py
  tests/version/test_runtime.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(version): strengthen conversion and fallback contracts (#294)
  CHANGELOG.md
  docs/api/public.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/machine-output.md
  src/topmark/utils/version.py
  src/topmark/version/convert.py
  tests/api/test_api_smoke.py
  tests/utils/test_version.py
  tests/version/machine/test_version_machine_serializers.py
  tests/version/test_convert.py
  tests/version/test_runtime.py
Due: lychee-md, lychee-src, docstring-ref-links

test(utils): strengthen filesystem and timestamp contracts
  src/topmark/utils/file.py
  src/topmark/utils/path.py
  tests/utils/test_file.py
  tests/utils/test_path.py
  tests/utils/test_timestamp.py
Due: lychee-src, docstring-ref-links

test(utils): make path contracts portable on Windows
  tests/utils/test_file.py
  tests/utils/test_path.py
Due: none

test(utils): strengthen filesystem and timestamp contracts (#295)
  src/topmark/utils/file.py
  src/topmark/utils/path.py
  tests/utils/test_file.py
  tests/utils/test_path.py
  tests/utils/test_timestamp.py
Due: lychee-src, docstring-ref-links

test(types): establish protocol conformance contracts
  docs/dev/protocol-contracts.md
  mkdocs.yml
  pyproject.toml
  src/topmark/api/protocols.py
  src/topmark/config/policy.py
  tests/typecheck/config/__init__.py
  tests/typecheck/config/policy_protocols.py
  tests/typecheck/diagnostic/__init__.py
  tests/typecheck/diagnostic/protocols.py
  tests/typecheck/filetypes/__init__.py
  tests/typecheck/filetypes/protocols.py
  tests/typecheck/pipeline/context_protocols.py
  tests/typecheck/pipeline/result_protocols.py
  tests/typecheck/pipeline/step_protocols.py
  tests/typecheck/pipeline/view_protocols.py
  tests/typecheck/pipeline/writer_protocols.py
  tests/typecheck/processors/__init__.py
  tests/typecheck/processors/base_protocols.py
Due: lychee-md, lychee-src, docstring-ref-links

test(types): establish protocol conformance contracts (#296)
  docs/dev/protocol-contracts.md
  mkdocs.yml
  pyproject.toml
  src/topmark/api/protocols.py
  src/topmark/config/policy.py
  tests/typecheck/config/__init__.py
  tests/typecheck/config/policy_protocols.py
  tests/typecheck/diagnostic/__init__.py
  tests/typecheck/diagnostic/protocols.py
  tests/typecheck/filetypes/__init__.py
  tests/typecheck/filetypes/protocols.py
  tests/typecheck/pipeline/context_protocols.py
  tests/typecheck/pipeline/result_protocols.py
  tests/typecheck/pipeline/step_protocols.py
  tests/typecheck/pipeline/view_protocols.py
  tests/typecheck/pipeline/writer_protocols.py
  tests/typecheck/processors/__init__.py
  tests/typecheck/processors/base_protocols.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(machine): standardize output format handling
  docs/dev/machine-formats.md
  src/topmark/cli/emitters/machine.py
  src/topmark/registry/machine/serializers.py
  src/topmark/version/machine/serializers.py
  tests/cli/machine/test_processing_machine.py
  tests/config/machine/test_config_machine_serializers.py
  tests/registry/machine/test_registry_machine_serializers.py
  tests/version/machine/test_version_machine_serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(machine): standardize output format handling (#297)
  docs/dev/machine-formats.md
  src/topmark/cli/emitters/machine.py
  src/topmark/registry/machine/serializers.py
  src/topmark/version/machine/serializers.py
  tests/cli/machine/test_processing_machine.py
  tests/config/machine/test_config_machine_serializers.py
  tests/registry/machine/test_registry_machine_serializers.py
  tests/version/machine/test_version_machine_serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(policy): remove unsupported reader hooks
  docs/dev/architecture.md
  docs/usage/policies.md
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/steps/reader.py
  tests/pipeline/context/test_policy.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(policy): remove unsupported reader hooks (#300)
  docs/dev/architecture.md
  docs/usage/policies.md
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/steps/reader.py
  tests/pipeline/context/test_policy.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(cli)!: enforce kebab-case enum values
  CHANGELOG.md
  docs/_snippets/option-spelling.md
  docs/configuration/discovery.md
  docs/dev/configuration-schema.md
  docs/usage/commands/check.md
  docs/usage/configuration.md
  docs/usage/policies.md
  src/topmark/cli/cli_types.py
  src/topmark/cli/options.py
  tests/cli/completion/test_completion.py
  tests/cli/test_cli_types.py
  tests/cli/test_options_helpers.py
  tests/cli/test_policy_options.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(cli)!: enforce kebab-case enum values (#304)
  CHANGELOG.md
  docs/_snippets/option-spelling.md
  docs/configuration/discovery.md
  docs/dev/configuration-schema.md
  docs/usage/commands/check.md
  docs/usage/configuration.md
  docs/usage/policies.md
  src/topmark/cli/cli_types.py
  src/topmark/cli/options.py
  tests/cli/completion/test_completion.py
  tests/cli/test_cli_types.py
  tests/cli/test_options_helpers.py
  tests/cli/test_policy_options.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(cli)!: enforce lowercase choice values
  CHANGELOG.md
  docs/_snippets/option-spelling.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/policies.md
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/options.py
  src/topmark/cli/state.py
  tests/cli/completion/test_completion.py
  tests/cli/completion/test_completion_integration.py
  tests/cli/test_cli_types.py
  tests/cli/test_cmd_common.py
  tests/cli/test_finite_choice_options.py
  tests/cli/test_options_helpers.py
  tests/cli/test_policy_options.py
  tests/cli/test_state.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(cli)!: enforce lowercase choice values (#305)
  CHANGELOG.md
  docs/_snippets/option-spelling.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/policies.md
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/options.py
  src/topmark/cli/state.py
  tests/cli/completion/test_completion.py
  tests/cli/completion/test_completion_integration.py
  tests/cli/test_cli_types.py
  tests/cli/test_cmd_common.py
  tests/cli/test_finite_choice_options.py
  tests/cli/test_options_helpers.py
  tests/cli/test_policy_options.py
  tests/cli/test_state.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(policy): preserve mixed line endings
  CHANGELOG.md
  README.md
  docs/_snippets/runtime-configuration-model.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/policies.md
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/overrides.py
  src/topmark/config/policy.py
  src/topmark/core/keys.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/toml/defaults.py
  src/topmark/toml/keys.py
  src/topmark/toml/schema.py
  src/topmark/toml/topmark-example.toml
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_policy_overlays.py
  tests/cli/test_policy_options.py
  tests/config/test_policy_resolution.py
  tests/pipeline/steps/test_reader.py
Due: lychee-md, lychee-src, docstring-ref-links

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
