Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

docs(commands): harmonize config and version command pages
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/version.md
Due: lychee-md

docs(commands): harmonize registry command pages
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
Due: lychee-md

docs(commands): harmonize pipeline command pages
  docs/usage/commands/check.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
Due: lychee-md

docs(usage): refine command-family and shared-option docs
  docs/usage/commands/config.md
  docs/usage/commands/registry.md
  docs/usage/shared-options.md
Due: lychee-md

docs(dev): expand registry model architecture documentation
  docs/dev/registry-model.md
Due: lychee-md

docs(snippets): fix file type identifier alert syntax
  docs/_snippets/file-type-identifiers.md
Due: lychee-md

docs(usage): centralize stdin and filtering contracts
  docs/_snippets/file-discovery-patterns.md
  docs/_snippets/no-stdin-option.md
  docs/index.md
  docs/usage/filtering.md
  docs/usage/shared-options.md
Due: lychee-md

docs(commands): align pipeline command page structure
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/probe.md
Due: lychee-md

docs(snippets): shorten file type identifier reuse
  docs/_snippets/file-type-identifiers.md
  docs/usage/cli.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/policies.md
  docs/usage/pre-commit.md
Due: lychee-md

docs(config): centralize config resolution contract
  docs/_snippets/config-resolution.md
  docs/_snippets/config-validation-contract.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/config-schema.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
Due: lychee-md

docs(conventions): clarify snippet governance
  docs/dev/documentation-conventions.md
Due: lychee-md

docs(tooling): add lightweight documentation hygiene validation
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  docs/ci/dev-validation.md
  docs/contributing.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  docs/index.md
  docs/usage/cli.md
  docs/usage/filtering.md
  docs/usage/header-placement.md
  docs/usage/policies.md
  noxfile.py
  tools/docs/check_docs_hygiene.py
  tools/docs/check_docstring_links.py
Due: lychee-md

docs(roadmap): record post-beta readiness and docs governance status
  docs/dev/roadmap.md
Due: lychee-md

docs(changelog): add 1.0.0b2 release entry
  CHANGELOG.md
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs(roadmap): add post-1.0 exploration item for multi-line header fields
  docs/dev/roadmap.md
Due: lychee-md

ci(docs, roadmap): add published artifact validation workflow and release-install verification docs
  .github/workflows/published-artifact-validation.yml
  docs/ci/ci-workflow.md
  docs/ci/published-artifact-validation.md
  docs/ci/release-workflow.md
  docs/dev/roadmap.md
Due: lychee-md

ci: add GitHub Action pin audit
  .github/actions/setup-python-nox/action.yml
  .github/workflows/action-pin-audit.yml
  tools/ci/audit_action_pins.py
Due: none

docs(ci): harmonize CI workflow documentation
  docs/_snippets/ci/related-pages.md
  docs/ci/action-pin-audit.md
  docs/ci/ci-workflow.md
  docs/ci/dependabot.md
  docs/ci/dev-validation.md
  docs/ci/index.md
  docs/ci/published-artifact-validation.md
  docs/ci/release-workflow.md
  docs/ci/test-validation.md
  mkdocs.yml
Due: lychee-md

docs(dev): document release process
  CONTRIBUTING.md
  docs/contributing.md
  docs/dev/release-process.md
  mkdocs.yml
Due: lychee-md

docs(dev): add workflow documentation conventions
  docs/dev/documentation-conventions.md
Due: lychee-md

ci(published-artifact-validation): strengthen installed-package validation coverage
  .github/workflows/published-artifact-validation.yml
Due: none

docs(changelog): standardize breaking change sections
  CHANGELOG.md
Due: none

docs: clarify top-level contributor documentation
  CONTRIBUTING.md
  README.md
Due: none

docs(dev): improve API stability documentation
  docs/dev/api-stability.md
Due: lychee-md

docs(dev): clarify documentation conventions and pipeline roles
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
Due: lychee-md

tools(docs): extend documentation hygiene checks
  tools/docs/check_docs_hygiene.py
Due: none

ci(workflows): split published artifact CLI validation steps
  .github/workflows/published-artifact-validation.yml
Due: none

docs(readme): fix API reference links
  README.md
Due: none

ci(workflows): add Windows diagnostics for published artifact check validation
  .github/workflows/published-artifact-validation.yml
Due: none

ci: add Windows debug logging for published artifact validation
  .github/workflows/published-artifact-validation.yml
Due: none

fix(writer): make atomic file writes portable on Windows
  src/topmark/pipeline/steps/writer.py
Due: lychee-src, docstring-ref-links

Refine published artifact validation workflow matrix controls and runtime logging
  .github/workflows/published-artifact-validation.yml
Due: none

ci(release): publish prerelease tags as GitHub prereleases
  .github/workflows/release.yml
Due: none

docs(ci): document GitHub prereleases in release workflow
  docs/ci/release-workflow.md
Due: lychee-md

docs(ci): expand published artifact validation workflow documentation
  docs/ci/published-artifact-validation.md
Due: lychee-md

docs(changelog): add 1.0.0b3 release notes
  CHANGELOG.md
Due: none

docs(roadmap): record 1.0.0b3 stabilization and release-validation progress
  docs/dev/roadmap.md
Due: lychee-md

docs: formalize CHANGELOG.md heading and section conventions
  docs/dev/documentation-conventions.md
Due: lychee-md

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
