Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

docs(identity): clarify compatibility boundaries (#111)
  CHANGELOG.md
  docs/_snippets/path-serialization-contract.md
  docs/api/public.md
  docs/dev/api-stability.md
  docs/dev/machine-formats.md
  docs/terminology.md
  src/topmark/utils/path.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(config): document resolved discovery-anchor behavior
  CHANGELOG.md
  README.md
  docs/_snippets/runtime-configuration-model.md
  docs/_snippets/runtime-validation-model.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/dev/index.md
  docs/dev/machine-formats.md
  docs/dev/resolution.md
  docs/index.md
  docs/terminology.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/exit-codes.md
  docs/usage/filtering.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  docs/usage/index.md
  docs/usage/machine-output.md
  docs/usage/policies.md
  docs/usage/shared-options.md
  tests/config/test_config_resolution_discovery.py
Due: lychee-md

docs(config): document resolved discovery-anchor behavior (#113)
  CHANGELOG.md
  README.md
  docs/_snippets/runtime-configuration-model.md
  docs/_snippets/runtime-validation-model.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/dev/index.md
  docs/dev/machine-formats.md
  docs/dev/resolution.md
  docs/index.md
  docs/terminology.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/exit-codes.md
  docs/usage/filtering.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  docs/usage/index.md
  docs/usage/machine-output.md
  docs/usage/policies.md
  docs/usage/shared-options.md
  tests/config/test_config_resolution_discovery.py
Due: lychee-md

fix(config): deduplicate resolved TOML source identities
  CHANGELOG.md
  docs/_snippets/runtime-configuration-model.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/dev/machine-formats.md
  docs/dev/resolution.md
  docs/terminology.md
  docs/usage/configuration.md
  docs/usage/machine-output.md
  src/topmark/toml/resolution.py
  tests/config/resolution/test_bridge.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(config): deduplicate resolved TOML source identities (#118)
  CHANGELOG.md
  docs/_snippets/runtime-configuration-model.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/dev/machine-formats.md
  docs/dev/resolution.md
  docs/terminology.md
  docs/usage/configuration.md
  docs/usage/machine-output.md
  src/topmark/toml/resolution.py
  tests/config/resolution/test_bridge.py
Due: lychee-md, lychee-src, docstring-ref-links

ci: align setup-uv action pin
  .github/actions/setup-python-nox/action.yml
Due: none

feat(ci): add repair mode to GitHub Actions pin audit
  CHANGELOG.md
  docs/ci/action-pin-audit.md
  docs/ci/index.md
  tools/ci/audit_action_pins.py
Due: lychee-md

feat(ci): add repair mode to GitHub Actions pin audit (#121)
  CHANGELOG.md
  docs/ci/action-pin-audit.md
  docs/ci/index.md
  tools/ci/audit_action_pins.py
Due: lychee-md

docs(api): clarify filesystem-identity compatibility boundaries
  CHANGELOG.md
  docs/api/public.md
  docs/terminology.md
Due: lychee-md

docs(api): clarify filesystem-identity compatibility boundaries (#122)
  CHANGELOG.md
  docs/api/public.md
  docs/terminology.md
Due: lychee-md

test(ci): require symlink-dependent filesystem tests in CI
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/ci/ci-workflow.md
  tests/helpers/paths.py
Due: lychee-md

test(ci): require symlink-dependent filesystem tests in CI (#123)
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/ci/ci-workflow.md
  tests/helpers/paths.py
Due: lychee-md

feat(machine): expose discovery anchor in configuration provenance
  CHANGELOG.md
  docs/dev/machine-formats.md
  docs/usage/commands/config/dump.md
  docs/usage/machine-output.md
  src/topmark/config/resolution/bridge.py
  src/topmark/toml/machine/payloads.py
  src/topmark/toml/machine/schemas.py
  src/topmark/toml/resolution.py
  tests/cli/machine/test_config_dump_machine.py
  tests/toml/machine/test_toml_machine_payloads.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(machine): expose discovery anchor in configuration provenance (#124)
  CHANGELOG.md
  docs/dev/machine-formats.md
  docs/usage/commands/config/dump.md
  docs/usage/machine-output.md
  src/topmark/config/resolution/bridge.py
  src/topmark/toml/machine/payloads.py
  src/topmark/toml/machine/schemas.py
  src/topmark/toml/resolution.py
  tests/cli/machine/test_config_dump_machine.py
  tests/toml/machine/test_toml_machine_payloads.py
Due: lychee-md, lychee-src, docstring-ref-links

docs: complete documentation consistency review
  CHANGELOG.md
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
  tools/docs/gen_api_pages.py
Due: lychee-md

docs: complete documentation consistency review (#125)
  CHANGELOG.md
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
  tools/docs/gen_api_pages.py
Due: lychee-md

fix(vscode): restore Markdown mdformat run-on-save matching
  .vscode/settings.json
  CHANGELOG.md
Due: none

docs(governance): clarify roadmap ownership and stable-line planning scope
  CHANGELOG.md
  docs/dev/documentation-conventions.md
  docs/dev/index.md
  docs/dev/road-to-1.0.md
  docs/dev/roadmap.md
Due: lychee-md

docs(governance): clarify roadmap ownership and stable-line planning scope (#127)
  CHANGELOG.md
  docs/dev/documentation-conventions.md
  docs/dev/index.md
  docs/dev/road-to-1.0.md
  docs/dev/roadmap.md
Due: lychee-md

ci(workflows): reduce superseded PR runs
  .github/workflows/action-pin-audit.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/ci/action-pin-audit.md
  docs/ci/ci-workflow.md
Due: lychee-md

ci(workflows): reduce superseded PR runs (#128)
  .github/workflows/action-pin-audit.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/ci/action-pin-audit.md
  docs/ci/ci-workflow.md
Due: lychee-md

test(coverage): add targeted runtime coverage for issue 129
  CHANGELOG.md
  docs/ci/test-validation.md
  tests/pipeline/steps/test_planner.py
  tests/pipeline/steps/test_stripper.py
  tests/pipeline/test_policy_whitespace.py
  tests/processors/test_mixins.py
  tests/registry/test_register_unregister.py
Due: lychee-md

test(coverage): add targeted runtime coverage for issue 129 (#130)
  CHANGELOG.md
  docs/ci/test-validation.md
  tests/pipeline/steps/test_planner.py
  tests/pipeline/steps/test_stripper.py
  tests/pipeline/test_policy_whitespace.py
  tests/processors/test_mixins.py
  tests/registry/test_register_unregister.py
Due: lychee-md

feat(perf): establish pipeline memory/allocation baselines
  .gitignore
  CHANGELOG.md
  Makefile
  docs/ci/index.md
  docs/ci/test-validation.md
  docs/dev/index.md
  docs/dev/performance-baselines.md
  mkdocs.yml
  noxfile.py
  pyproject.toml
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md

ci(nox): install docs deps for pyright over tools
  noxfile.py
Due: none

fix(perf): handle RSS collection typing on Windows
  docs/dev/performance-baselines.md
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md

Establish pipeline memory/allocation baselines (#142)
  .gitignore
  CHANGELOG.md
  Makefile
  docs/ci/index.md
  docs/ci/test-validation.md
  docs/dev/index.md
  docs/dev/performance-baselines.md
  mkdocs.yml
  noxfile.py
  pyproject.toml
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md

perf(pipeline): add typed view-consumer pruning lifecycle
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/protocols.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/steps/base.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/pipeline/views.py
  tests/pipeline/test_view_pruning.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): add typed view-consumer pruning lifecycle (#143)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/protocols.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/steps/base.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/pipeline/views.py
  tests/pipeline/test_view_pruning.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): reduce diff-preview allocations during patch generation
  CHANGELOG.md
  docs/dev/performance-baselines.md
  src/topmark/pipeline/steps/patcher.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): reduce diff-preview allocations during patch generation (#144)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  src/topmark/pipeline/steps/patcher.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): add repeatable updated-content composition
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/views.py
  tests/pipeline/test_updated_content.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): add repeatable updated-content composition (#145)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/views.py
  tests/pipeline/test_updated_content.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): stream updated content through writer sinks
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/steps/test_writer.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): stream updated content through writer sinks (#146)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/steps/test_writer.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(performance): document Track B conclusions and output-streaming audit
  CHANGELOG.md
  docs/dev/performance-baselines.md
Due: lychee-md

docs(performance): document Track B conclusions and output-streaming audit (#149)
  CHANGELOG.md
  docs/dev/performance-baselines.md
Due: lychee-md

feat(pipeline): add durable processing result primitives
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/context/status.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_context_status.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

test(pipeline): normalize machine-path assertion across platforms
  tests/pipeline/test_result.py
Due: none
