Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

refactor(registry): align processor errors with qualified keys and add unbind-by-processor helpers
  src/topmark/core/errors.py
  src/topmark/registry/bindings.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
Due: lychee-src, docstring-ref-links

fix(docs): update link after changes in HeaderProcessorRegistry
  docs/api/public.md
Due: lychee-md

refactor(registry): clarify binding facade and complete registry docstrings
  src/topmark/core/errors.py
  src/topmark/registry/bindings.py
  src/topmark/registry/registry.py
  tests/registry/test_registry_linkage.py
  tests/registry/test_registry_one_step.py
  tests/registry/test_registry_overlays.py
Due: lychee-src, docstring-ref-links

chore(dev): enforce Yields sections in pydoclint and bump ruff hook
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor(registry): require explicit processor registration before binding
  CONTRIBUTING.md
  docs/dev/documentation-pipeline.md
  pyproject.toml
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
  tests/registry/test_registry_linkage.py
  tests/registry/test_registry_overlays.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(registry): harmonize key naming and split file type registration
  docs/api/public.md
  src/topmark/api/commands/registry.py
  src/topmark/cli_shared/emitters/shared/registry.py
  src/topmark/config/model.py
  src/topmark/registry/bindings.py
  src/topmark/registry/filetypes.py
  src/topmark/registry/machine/payloads.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
  src/topmark/resolution/filetypes.py
  tests/api/conftest.py
  tests/api/test_public_api_views.py
  tests/conftest.py
  tests/filetypes/test_instances_plugins.py
  tests/registry/test_register_unregister.py
  tests/registry/test_registry_facade.py
  tests/registry/test_registry_linkage.py
  tests/registry/test_registry_one_step.py
  tests/registry/test_registry_overlays.py
  tests/registry/test_registry_public_api.py
  tests/unit/test_processor_key_token.py
  tests/unit/test_resolve_file_list.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(api): fix markdown formatting and escaping in public API guide
  docs/api/public.md
Due: lychee-md

refactor(registry): finalize naming, docstrings, and exception documentation policy
  src/topmark/registry/bindings.py
  src/topmark/registry/filetypes.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
Due: lychee-src, docstring-ref-links

docs(dev): document deterministic file type resolution and ambiguity policy
  docs/dev/architecture.md
  docs/dev/pipelines.md
  docs/dev/plugins.md
  docs/dev/resolution.md
  mkdocs.yml
  src/topmark/pipeline/steps/resolver.py
  src/topmark/resolution/filetypes.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(roadmap): update 1.0 roadmap for registry split and resolver policy
  docs/dev/roadmap.md
Due: lychee-md

refactor(api)!: align registry metadata with split binding model
  docs/api/public.md
  docs/dev/roadmap.md
  src/topmark/api/commands/registry.py
  src/topmark/api/types.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_smoke.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli): correct StrEnum comparison and rendering in emitters
  src/topmark/cli/emitters/utils.py
Due: lychee-src, docstring-ref-links

refactor(cli.console): extract and reorganize console subsystem
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/console/__init__.py
  src/topmark/cli/console/click_console.py
  src/topmark/cli/console/color.py
  src/topmark/cli/console/context.py
  src/topmark/cli/console/protocols.py
  src/topmark/cli/console/standard_console.py
  src/topmark/cli/console/utils.py
  src/topmark/cli/console_helpers.py
  src/topmark/cli/emitters/__init__.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/emitters/text/config.py
  src/topmark/cli/emitters/text/diagnostic.py
  src/topmark/cli/emitters/text/pipeline.py
  src/topmark/cli/emitters/text/registry.py
  src/topmark/cli/emitters/text/version.py
  src/topmark/cli/emitters/utils.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
Due: lychee-src, docstring-ref-links

format(docs): Fix document formatting
  docs/api/public.md
  docs/dev/roadmap.md
Due: lychee-md

refactor(version): move human output to presentation renderers
  src/topmark/cli/commands/version.py
  src/topmark/cli/emitters/text/version.py
  src/topmark/cli/errors.py
  src/topmark/cli/presentation.py
  src/topmark/cli_shared/emitters/markdown/version.py
  src/topmark/core/presentation.py
  src/topmark/presentation/__init__.py
  src/topmark/presentation/markdown/__init__.py
  src/topmark/presentation/markdown/version.py
  src/topmark/presentation/shared/__init__.py
  src/topmark/presentation/shared/version.py
  src/topmark/presentation/text/__init__.py
  src/topmark/presentation/text/version.py
Due: lychee-src, docstring-ref-links

refactor(presentation): move config, diagnostic, and pipeline output into topmark.presentation
  docs/dev/roadmap.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/text/config.py
  src/topmark/cli/emitters/utils.py
  src/topmark/cli/presentation.py
  src/topmark/cli_shared/emitters/shared/pipeline.py
  src/topmark/core/presentation.py
  src/topmark/pipeline/outcomes.py
  src/topmark/presentation/markdown/config.py
  src/topmark/presentation/markdown/diagnostic.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/utils.py
  src/topmark/presentation/shared/config.py
  src/topmark/presentation/shared/diagnostic.py
  src/topmark/presentation/shared/outcomes.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/config.py
  src/topmark/presentation/text/diagnostic.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/utils.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(registry.filetypes): align CLI output with structured filetype metadata
  src/topmark/api/commands/registry.py
  src/topmark/api/types.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/emitters/text/__init__.py
  src/topmark/cli/emitters/text/registry.py
  src/topmark/cli_shared/__init__.py
  src/topmark/cli_shared/emitters/__init__.py
  src/topmark/cli_shared/emitters/markdown/__init__.py
  src/topmark/cli_shared/emitters/shared/__init__.py
  src/topmark/filetypes/factory.py
  src/topmark/filetypes/model.py
  src/topmark/presentation/formatters/filetypes.py
  src/topmark/presentation/formatters/utils.py
  src/topmark/presentation/markdown/registry.py
  src/topmark/presentation/shared/registry.py
  src/topmark/presentation/text/registry.py
  src/topmark/processors/instances.py
  src/topmark/registry/filetypes.py
  tests/api/public_api_snapshot.json
  tests/conftest.py
Due: lychee-src, docstring-ref-links

refactor(registry,cli,machine)!: align registry CLI with triple-registry model and refactor machine output
  src/topmark/api/commands/registry.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/console/click_console.py
  src/topmark/cli/console/protocols.py
  src/topmark/cli/console/standard_console.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/errors.py
  src/topmark/core/machine/payloads.py
  src/topmark/core/machine/schemas.py
  src/topmark/presentation/markdown/registry.py
  src/topmark/presentation/shared/registry.py
  src/topmark/presentation/text/registry.py
  src/topmark/registry/machine/__init__.py
  src/topmark/registry/machine/envelopes.py
  src/topmark/registry/machine/payloads.py
  src/topmark/registry/machine/schemas.py
  src/topmark/registry/machine/serializers.py
  tests/api/public_api_snapshot.json
  tests/cli/test_filetypes.py
Due: lychee-src, docstring-ref-links

docs(registry,cli): document triple-registry model and add bindings command
  .pre-commit-config.yaml
  docs/ci/dev-validation.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  mkdocs.yml
  tools/docs/gen_api_pages.py
Due: lychee-md

chore(testing): add coverage tracking setup
  .gitignore
  Makefile
  noxfile.py
  pyproject.toml
Due: none

fix(config): preserve empty CLI overrides for header fields and values
  src/topmark/config/overrides.py
Due: lychee-src, docstring-ref-links

refactor(api,config): align API config building with config-layer helpers
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/config/__init__.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/render.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/types.py
  src/topmark/presentation/shared/config.py
  src/topmark/utils/merge.py
Due: lychee-src, docstring-ref-links

docs(config): update discovery, roadmap, and config schema for policy and relative_to changes
  docs/configuration/discovery.md
  docs/dev/config-schema.md
  docs/dev/roadmap.md
Due: lychee-md

refactor(config): tighten TOML typing and remove incidental Any usage
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/cli/cli_types.py
  src/topmark/cli/errors.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/getters.py
  src/topmark/config/io/guards.py
  src/topmark/config/io/loaders.py
  src/topmark/config/io/render.py
  src/topmark/config/io/resolution.py
  src/topmark/config/io/serializers.py
  src/topmark/config/io/surgery.py
  src/topmark/config/io/types.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/policy.py
  src/topmark/config/types.py
  src/topmark/core/enum_mixins.py
  src/topmark/core/machine/schemas.py
  src/topmark/core/merge.py
  src/topmark/filetypes/instances.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/pipelines.py
  src/topmark/pipeline/protocols.py
  src/topmark/pipeline/runner.py
  src/topmark/processors/mixins.py
  src/topmark/utils/introspection.py
  tests/api/conftest.py
  tests/api/public_api_snapshot.json
  tests/api/test_buckets_check.py
  tests/cli/test_machine_output.py
  tests/config/test_config_resolution.py
  tests/config/test_io.py
  tests/config/test_model_export.py
  tests/config/test_policy_resolution.py
Due: lychee-src, docstring-ref-links

refactor(policy): route API and CLI overlays through ConfigOverrides
  src/topmark/api/protocols.py
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/loaders.py
  src/topmark/config/io/serializers.py
  src/topmark/config/keys.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/policy.py
  src/topmark/config/topmark-example.toml
  src/topmark/core/errors.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/steps/writer.py
  tests/api/conftest.py
  tests/api/test_api_additional.py
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/api/test_api_policy_overlays.py
  tests/api/test_buckets_check.py
  tests/config/test_config_resolution.py
  tests/config/test_policy_resolution.py
Due: lychee-src, docstring-ref-links

fix(docs) enable rendering of task lists in generated docs
  mkdocs.yml
Due: none

refactor(cli,config,docs)!: finalize policy refactor and reporting model; align CLI, config, and docs
  README.md
  docs/configuration/discovery.md
  docs/dev/config-schema.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/filtering.md
  docs/usage/policies.md
  docs/usage/pre-commit.md
  pyproject.toml
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  src/topmark/config/topmark-example.toml
  src/topmark/core/keys.py
Due: lychee-md, lychee-src, docstring-ref-links

test(cli): cover policy options and reject check-only flags on strip
  src/topmark/cli/commands/strip.py
  src/topmark/cli/validators.py
  tests/cli/test_policy_options.py
Due: lychee-src, docstring-ref-links

docs: link policy guide from command and configuration docs
  docs/configuration/discovery.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  mkdocs.yml
Due: lychee-md

feat(api)!: replace skip_* with report-based filtering and unify reporting
  src/topmark/api/commands/pipeline.py
  src/topmark/api/protocols.py
  src/topmark/api/types.py
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  src/topmark/core/errors.py
  src/topmark/pipeline/reporting.py
  src/topmark/presentation/shared/pipeline.py
  tests/api/conftest.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/api/test_api_more.py
  tests/api/test_api_policy_overlays.py
  tests/api/test_api_strip_report_scope.py
  tests/api/test_api_strip_skip_unsupported.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_strip.py
Due: lychee-src, docstring-ref-links

docs: align API docs and roadmap with report-based filtering and 1.0 priorities
  README.md
  docs/api/public.md
  docs/dev/roadmap.md
  docs/index.md
Due: lychee-md

refactor(processors): rename context protocol and clarify protocol intent
  src/topmark/processors/base.py
Due: lychee-src, docstring-ref-links

chore(release): bump version to 0.12.0.dev12 and update pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(builder): use logical stdin filename for header path fields
  src/topmark/pipeline/steps/builder.py
Due: lychee-src, docstring-ref-links

refactor(pipeline,processors): remove context log wrappers and use diagnostics directly
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/processors/base.py
Due: lychee-src, docstring-ref-links

feat(config): introduce pattern provenance via PatternGroup and origin-aware serialization
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/io/types.py
  src/topmark/config/keys.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/paths.py
  src/topmark/config/types.py
  src/topmark/core/errors.py
  src/topmark/resolution/files.py
  src/topmark/utils/file.py
  tests/config/test_config_resolution.py
  tests/conftest.py
  tests/unit/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

refactor(config): introduce config layer discovery in resolution
  src/topmark/config/io/resolution.py
  src/topmark/config/io/types.py
Due: lychee-src, docstring-ref-links

refactor(runtime): apply effective config per path during pipeline execution
  src/topmark/api/runtime.py
  src/topmark/config/io/resolution.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/engine.py
Due: lychee-src, docstring-ref-links

feat(config): introduce provenance-aware merge semantics and per-path resolution
  docs/configuration/discovery.md
  docs/configuration/index.md
  src/topmark/config/model.py
  tests/config/test_config_resolution.py
  tests/config/test_model_export.py
  tests/config/test_policy_resolution.py
Due: lychee-md, lychee-src, docstring-ref-links
