Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

Add repository-scale pipeline memory benchmark suite (#223)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  tests/dev_validation/test_perf_baseline_tooling.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md

docs(pipeline): clarify durable diff ownership across reduction boundary
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(pipeline): clarify durable diff ownership across reduction boundary (#224)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(api): define public streaming event contracts
  CHANGELOG.md
  docs/api/public.md
  src/topmark/api/__init__.py
  src/topmark/api/types.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_stream_events.py
  tests/api/test_public_imports.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(api): define public streaming event contracts (#226)
  CHANGELOG.md
  docs/api/public.md
  src/topmark/api/__init__.py
  src/topmark/api/types.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_stream_events.py
  tests/api/test_public_imports.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(api): add public streaming API entry points
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/api/__init__.py
  src/topmark/api/commands/pipeline.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_stream_events.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(api): add public streaming API entry points (#227)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/api/__init__.py
  src/topmark/api/commands/pipeline.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_stream_events.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(api): add reusable stream collectors for durable batch reconstruction
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/api/collectors.py
  src/topmark/api/commands/pipeline.py
  tests/api/test_api_stream_collectors.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(api): add reusable stream collectors for durable batch reconstruction (#228)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/api/collectors.py
  src/topmark/api/commands/pipeline.py
  tests/api/test_api_stream_collectors.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(machine): emit NDJSON from internal pipeline stream events
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/streaming.py
  tests/pipeline/machine/test_serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(machine): emit NDJSON from internal pipeline stream events (#229)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/streaming.py
  tests/pipeline/machine/test_serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(presentation): stream human check/strip output through event bridge
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/presentation/output/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(presentation): stream human check/strip output through event bridge (#230)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/performance-baselines.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/presentation/output/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): migrate check/strip orchestration onto streaming engine
  CHANGELOG.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/streaming.py
  src/topmark/pipeline/events.py
  src/topmark/pipeline/machine/streaming.py
  src/topmark/pipeline/pipelines.py
  tests/cli/test_stream_routing.py
  tests/pipeline/machine/test_serializers.py
  tests/pipeline/test_pipelines.py
  tests/pipeline/test_view_pruning.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): migrate check/strip orchestration onto streaming engine (#231)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/streaming.py
  src/topmark/pipeline/events.py
  src/topmark/pipeline/machine/streaming.py
  src/topmark/pipeline/pipelines.py
  tests/cli/test_stream_routing.py
  tests/pipeline/machine/test_serializers.py
  tests/pipeline/test_pipelines.py
  tests/pipeline/test_view_pruning.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): stream probe command output
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/streaming.py
  src/topmark/presentation/output/pipeline.py
  tests/cli/machine/test_probe_machine.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): stream probe command output (#232)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/streaming.py
  src/topmark/presentation/output/pipeline.py
  tests/cli/machine/test_probe_machine.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(machine): migrate JSON output onto durable-result stream collectors
  CHANGELOG.md
  docs/_snippets/config-strictness.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/usage/machine-output.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/serializers.py
  tests/api/test_api_report_scope.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_diff_output.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_stream_routing.py
  tests/helpers/console.py
  tests/pipeline/machine/test_payloads.py
  tests/pipeline/machine/test_serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(machine): migrate JSON output onto durable-result stream collectors (#238)
  CHANGELOG.md
  docs/_snippets/config-strictness.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/usage/machine-output.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/serializers.py
  tests/api/test_api_report_scope.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_diff_output.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_stream_routing.py
  tests/helpers/console.py
  tests/pipeline/machine/test_payloads.py
  tests/pipeline/machine/test_serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): complete durable-result streaming architecture cleanup
  CHANGELOG.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/roadmap.md
  docs/terminology.md
  docs/usage/machine-output.md
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/__init__.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/serializers.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/pipeline/machine/test_payloads.py
  tests/pipeline/machine/test_stream_envelopes.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): complete durable-result streaming architecture cleanup (#239)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/roadmap.md
  docs/terminology.md
  docs/usage/machine-output.md
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/__init__.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/serializers.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/pipeline/machine/test_payloads.py
  tests/pipeline/machine/test_stream_envelopes.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(ci): synchronize local cache action pin Update the local `setup-python-nox` composite action to use the same `actions/cache` pin as the workflow files after the Dependabot upgrade to v6.1.0.
  .github/actions/setup-python-nox/action.yml
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hooks (#240)
  .pre-commit-config.yaml
Due: none

test(machine): strengthen machine-readable contract coverage
  src/topmark/config/machine/serializers.py
  src/topmark/core/machine/errors.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/registry/machine/serializers.py
  src/topmark/toml/machine/payloads.py
  tests/cli/machine/test_registry_machine_serializers.py
  tests/config/machine/test_config_machine_serializers.py
  tests/diagnostic/machine/__init__.py
  tests/diagnostic/machine/test_diagnostic_machine_envelopes.py
  tests/toml/machine/test_toml_machine_payloads.py
  tests/version/__init__.py
  tests/version/machine/__init__.py
  tests/version/machine/test_version_machine_serializers.py
Due: lychee-src, docstring-ref-links

test(machine): strengthen machine-readable contract coverage (#242)
  src/topmark/config/machine/serializers.py
  src/topmark/core/machine/errors.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/registry/machine/serializers.py
  src/topmark/toml/machine/payloads.py
  tests/cli/machine/test_registry_machine_serializers.py
  tests/config/machine/test_config_machine_serializers.py
  tests/diagnostic/machine/__init__.py
  tests/diagnostic/machine/test_diagnostic_machine_envelopes.py
  tests/toml/machine/test_toml_machine_payloads.py
  tests/version/__init__.py
  tests/version/machine/__init__.py
  tests/version/machine/test_version_machine_serializers.py
Due: lychee-src, docstring-ref-links

test(cli): harden CLI contract coverage
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  tests/cli/completion/__init__.py
  tests/cli/completion/test_completion.py
  tests/cli/completion/test_completion_integration.py
  tests/cli/conftest.py
  tests/cli/test_cli_helper_contracts.py
  tests/cli/test_cli_types.py
  tests/cli/test_cmd_common.py
  tests/cli/test_config_human_output.py
  tests/cli/test_help_all.py
  tests/cli/test_option_meta.py
  tests/cli/test_options_helpers.py
  tests/cli/test_presentation.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_stdin_content.py
  tests/cli/test_version.py
  tests/registry/machine/__init__.py
  tests/registry/machine/test_registry_machine_serializers.py
Due: lychee-src, docstring-ref-links

test(cli): make discovery-anchor contract test platform-neutral
  tests/cli/test_cmd_common.py
Due: none

Improve CLI contract coverage for lower-covered helper and command seams (#245)
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  tests/cli/completion/__init__.py
  tests/cli/completion/test_completion.py
  tests/cli/completion/test_completion_integration.py
  tests/cli/conftest.py
  tests/cli/test_cli_helper_contracts.py
  tests/cli/test_cli_types.py
  tests/cli/test_cmd_common.py
  tests/cli/test_config_human_output.py
  tests/cli/test_help_all.py
  tests/cli/test_option_meta.py
  tests/cli/test_options_helpers.py
  tests/cli/test_presentation.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_stdin_content.py
  tests/cli/test_version.py
  tests/registry/machine/__init__.py
  tests/registry/machine/test_registry_machine_serializers.py
Due: lychee-src, docstring-ref-links

fix(cli): accept files-from as sole path input
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
  docs/usage/exit-codes.md
  docs/usage/filtering.md
  docs/usage/getting-started.md
  docs/usage/shared-options.md
  noxfile.py
  src/topmark/cli/io.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_stdin_errors.py
  tests/cli/test_stdin_lists.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli): accept files-from as sole path input (#246)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
  docs/usage/exit-codes.md
  docs/usage/filtering.md
  docs/usage/getting-started.md
  docs/usage/shared-options.md
  noxfile.py
  src/topmark/cli/io.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_stdin_errors.py
  tests/cli/test_stdin_lists.py
Due: lychee-md, lychee-src, docstring-ref-links

test(config): strengthen configuration contract coverage
  tests/config/resolution/test_bridge.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_resolution_paths.py
  tests/config/test_model_export.py
  tests/config/test_policy_resolution.py
  tests/toml/test_getters.py
Due: none

test(config): strengthen configuration contract coverage (#247)
  tests/config/resolution/test_bridge.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_resolution_paths.py
  tests/config/test_model_export.py
  tests/config/test_policy_resolution.py
  tests/toml/test_getters.py
Due: none

test(core): strengthen core contract coverage
  src/topmark/core/logging.py
  tests/core/test_constants.py
  tests/core/test_enum_mixins.py
  tests/core/test_errors.py
  tests/core/test_logging.py
Due: lychee-src, docstring-ref-links

test(core): make error path assertions platform-neutral
  tests/core/test_errors.py
Due: none

Strengthen core contract coverage for #241 (#249)
  src/topmark/core/logging.py
  tests/core/test_constants.py
  tests/core/test_enum_mixins.py
  tests/core/test_errors.py
  tests/core/test_logging.py
Due: lychee-src, docstring-ref-links

fix(version): reject runtimes above supported Python range
  CHANGELOG.md
  src/topmark/core/constants.py
  src/topmark/utils/version.py
  tests/core/test_constants.py
  tests/utils/test_version.py
Due: lychee-src, docstring-ref-links

fix(version): reject runtimes above supported Python range (#251)
  CHANGELOG.md
  src/topmark/core/constants.py
  src/topmark/utils/version.py
  tests/core/test_constants.py
  tests/utils/test_version.py
Due: lychee-src, docstring-ref-links

test(filetypes): add focused filetype contract coverage
  src/topmark/filetypes/detectors/jsonc.py
  src/topmark/filetypes/model.py
  tests/filetypes/checks/__init__.py
  tests/filetypes/checks/test_checks_json_like.py
  tests/filetypes/checks/test_checks_xml.py
  tests/filetypes/detectors/__init__.py
  tests/filetypes/detectors/test_detectors_jsonc.py
  tests/filetypes/test_base_registry.py
  tests/filetypes/test_instances_plugins.py
  tests/filetypes/test_model_matching.py
Due: lychee-src, docstring-ref-links

test(filetypes): add focused filetype contract coverage (#252)
  src/topmark/filetypes/detectors/jsonc.py
  src/topmark/filetypes/model.py
  tests/filetypes/checks/__init__.py
  tests/filetypes/checks/test_checks_json_like.py
  tests/filetypes/checks/test_checks_xml.py
  tests/filetypes/detectors/__init__.py
  tests/filetypes/detectors/test_detectors_jsonc.py
  tests/filetypes/test_base_registry.py
  tests/filetypes/test_instances_plugins.py
  tests/filetypes/test_model_matching.py
Due: lychee-src, docstring-ref-links

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
