Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-tables

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.6.2
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.7.3
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.405
    hooks:
      - id: pyright

feat(tests): add helper to bootstrap context from in-memory text for pipeline tests
  tests/pipeline/conftest.py
Due: none

docs(hooks,pre-commit): remove default hook args; document consumer-configured args policy
  .pre-commit-hooks.yaml
  docs/usage/pre-commit.md
Due: lychee-md

feat(dev,tooling): add mbake Makefile formatting/linting; stabilize lock tooling; DRY tox pipelines
  .bake.toml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  tox.ini
Due: none

fix(pre-commit): update mbake repo to use external source
  .pre-commit-config.yaml
Due: none

refactor(core,pipeline,policy): introduce PolicyRegistry and centralize effective policy resolution
  src/topmark/config/policy.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/rendering/api.py
Due: lychee-src, docstring-ref-links

test(api,pipeline): update suite for PolicyRegistry-based context bootstrap
  tests/api/test_api_discovery_parity.py
  tests/conftest.py
  tests/pipeline/conftest.py
  tests/pipeline/integration/test_comparer_e2e.py
  tests/pipeline/processors/test_cblock.py
  tests/pipeline/processors/test_pound.py
  tests/pipeline/processors/test_slash.py
  tests/pipeline/processors/test_slash_indent.py
  tests/pipeline/processors/test_xml.py
  tests/pipeline/processors/test_xml_single_line_roundtrip.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/steps/test_patcher.py
  tests/pipeline/steps/test_reader.py
  tests/pipeline/steps/test_resolver.py
  tests/pipeline/steps/test_sniffer.py
  tests/pipeline/steps/test_stripper.py
  tests/pipeline/test_bom_shebang_policy.py
Due: none

fix(cli): make check/strip per-file guidance policy-aware
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
Due: lychee-src, docstring-ref-links

refactor(api,cli): make outcome bucketing precedence-ordered and strip-aware
  src/topmark/api/view.py
  src/topmark/pipeline/pipelines.py
Due: lychee-src, docstring-ref-links

Refactor CLI/config/runtime to be policy- and STDIN-aware; align enums and tests
  src/topmark/api/runtime.py
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/io.py
  src/topmark/config/model.py
  src/topmark/config/topmark-default.toml
  src/topmark/config/types.py
  src/topmark/core/enum_mixins.py
  src/topmark/file_resolver.py
  src/topmark/pipeline/steps/writer.py
Due: lychee-src, docstring-ref-links

chore(release): bump version to 0.11.0 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

chore(dev,pre-commit): bump version to 0.11.1.dev0 and update pre-commit dependencies
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(dependencies): update development and documentation dependencies to latest versions
  requirements-dev.txt
  requirements-docs.txt
Due: none

build(ci): migrate from tox to nox (uv-backed) and update workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  noxfile.py
  pyproject.toml
  tox.ini
Due: none

chore(version): update version to 0.11.1rc1 in pyproject.toml
  pyproject.toml
Due: none

fix(ci/nox): make noxfile TOML parsing robust on Python < 3.11
  noxfile.py
Due: none

chore(version): update version to 0.11.1 in pyproject.toml and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

chore(version): update version to 0.11.2.dev0 in pyproject.toml and update .pre-commit-config.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor(registry,api,cli): introduce registry overlays and include/exclude file-type filtering
  pyproject.toml
  src/topmark/api/__init__.py
  src/topmark/api/runtime.py
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/options.py
  src/topmark/config/model.py
  src/topmark/config/topmark-default.toml
  src/topmark/file_resolver.py
  src/topmark/filetypes/base.py
  src/topmark/filetypes/instances.py
  src/topmark/filetypes/registry.py
  src/topmark/pipeline/processors/__init__.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/registry/filetypes.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
  tests/api/public_api_snapshot.json
Due: lychee-src, docstring-ref-links

test(registry): stabilize tests with registry overlay isolation and helpers
  tests/api/conftest.py
  tests/api/test_api_additional.py
  tests/api/test_api_core.py
  tests/api/test_api_discovery_parity.py
  tests/api/test_api_more.py
  tests/api/test_api_smoke.py
  tests/api/test_api_strip_skip_unsupported.py
  tests/api/test_buckets_check.py
  tests/api/test_buckets_strip.py
  tests/api/test_registry_facade.py
  tests/api/test_registry_linkage.py
  tests/api/test_registry_one_step.py
  tests/api/test_registry_public_api.py
  tests/conftest.py
  tests/filetypes/test_instances_plugins.py
  tests/pipeline/steps/test_resolver.py
  tests/pipeline/test_registry_validation.py
  tests/unit/test_resolve_file_list.py
Due: none

docs(architecture): document registry overlays, API stability, and CLI semantics
  README.md
  docs/api/public.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/machine-output.md
  docs/index.md
  docs/usage/commands/config_init.md
  mkdocs.yml
Due: lychee-md

refactor(cli): centralize CLI keys and support python -m topmark
  src/topmark/__main__.py
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/console_helpers.py
  src/topmark/cli/errors.py
  src/topmark/cli/io.py
  src/topmark/cli/keys.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/cli/utils.py
Due: lychee-src, docstring-ref-links

refactor(config): centralize TOML keys and align defaults
  src/topmark/config/__init__.py
  src/topmark/config/keys.py
  src/topmark/config/model.py
  src/topmark/config/topmark-default.toml
  src/topmark/core/diagnostics.py
Due: lychee-src, docstring-ref-links

chore(dev): tighten tooling and harden registries while continuing keys refactor
  pyproject.toml
  src/topmark/api/public_types.py
  src/topmark/cli_shared/machine_output.py
  src/topmark/cli_shared/utils.py
  src/topmark/file_resolver.py
  src/topmark/filetypes/base.py
  src/topmark/filetypes/builtins/core_langs.py
  src/topmark/filetypes/builtins/data.py
  src/topmark/filetypes/builtins/docs.py
  src/topmark/filetypes/builtins/ops.py
  src/topmark/filetypes/builtins/scripting.py
  src/topmark/filetypes/builtins/web.py
  src/topmark/filetypes/checks/json_like.py
  src/topmark/filetypes/checks/xml.py
  src/topmark/filetypes/policy.py
  src/topmark/filetypes/registry.py
  src/topmark/pipeline/context/__init__.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/context/status.py
  src/topmark/pipeline/policy_whitespace.py
  src/topmark/pipeline/processors/__init__.py
  src/topmark/pipeline/views.py
  src/topmark/rendering/api.py
  src/topmark/utils/file.py
Due: lychee-src, docstring-ref-links

refactor(test): migrate tests to canonical CLI/config keys and fix stdin edge cases
  tests/api/conftest.py
  tests/api/test_api_additional.py
  tests/api/test_api_core.py
  tests/api/test_api_discovery_parity.py
  tests/api/test_buckets_strip.py
  tests/api/test_public_imports.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_check_exit_codes.py
  tests/cli/test_completion.py
  tests/cli/test_completion_integration.py
  tests/cli/test_config_dump_output.py
  tests/cli/test_config_overrides.py
  tests/cli/test_diff_edge_cases.py
  tests/cli/test_exit_codes.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_help_all.py
  tests/cli/test_include_exclude_precedence.py
  tests/cli/test_logging_flags.py
  tests/cli/test_machine_output.py
  tests/cli/test_no_files.py
  tests/cli/test_smoke.py
  tests/cli/test_stdin_content.py
  tests/cli/test_stdin_errors.py
  tests/cli/test_stdin_lists.py
  tests/cli/test_strip.py
  tests/cli/test_unified_check_apply.py
  tests/cli/test_version.py
  tests/pipeline/processors/test_markdown.py
  tests/resolver/test_filters_and_types.py
  tests/unit/test_resolve_file_list.py
Due: none

docs(tooling): generate CLI reference pages and refresh docs & build checks
  README.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-output.md
  docs/gen_api_pages.py
  docs/usage/commands/check.md
  docs/usage/commands/filetypes.md
  docs/usage/commands/processors.md
  docs/usage/commands/strip.md
  docs/usage/filetypes.md
  docs/usage/filtering.md
  lychee.toml
  mkdocs.yml
  noxfile.py
Due: lychee-md

feat(config): harden TOML parsing, validation, and diagnostics
  src/topmark/config/io.py
  src/topmark/config/keys.py
  src/topmark/config/model.py
  src/topmark/config/paths.py
  src/topmark/config/topmark-default.toml
  tests/config/test_config_resolution.py
  tests/config/test_io.py
Due: lychee-src, docstring-ref-links

feat(lint): enable RUF010, RUF022, and RUF023 rules
  pyproject.toml
  src/topmark/api/__init__.py
  src/topmark/api/runtime.py
  src/topmark/api/view.py
  src/topmark/config/__init__.py
  src/topmark/registry/__init__.py
Due: lychee-src, docstring-ref-links

feat(config): add `topmark config check` and harden TOML/config validation
  docs/hooks.py
  docs/index.md
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/keys.py
  src/topmark/config/args_io.py
  src/topmark/config/io.py
  src/topmark/config/model.py
  src/topmark/config/types.py
  src/topmark/constants.py
  src/topmark/core/diagnostics.py
  tests/cli/test_config_dump_output.py
  tests/config/test_config_resolution.py
  tests/config/test_io.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(deps): update ruff and other dependencies to latest versions
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements-docs.txt
Due: none

refactor(config)!: split config.io into package; move ArgKey to core
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/console_helpers.py
  src/topmark/cli/errors.py
  src/topmark/cli/keys.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/config/io.py
  src/topmark/config/io/__init__.py
  src/topmark/config/io/getters.py
  src/topmark/config/io/guards.py
  src/topmark/config/io/loaders.py
  src/topmark/config/io/render.py
  src/topmark/config/io/surgery.py
  src/topmark/config/io/types.py
  src/topmark/config/model.py
  src/topmark/core/keys.py
  tests/config/test_config_resolution.py
  tests/config/test_io.py
  tests/config/test_model_export.py
Due: lychee-src, docstring-ref-links

build(docs): refactor MkDocs generation tooling into tools/docs
  .gitignore
  Makefile
  docs/api/internals.md
  docs/dev/documentation-pipeline.md
  docs/gen_api_pages.py
  docs/hooks.py
  mkdocs.yml
  pyproject.toml
  tools/docs/__init__.py
  tools/docs/docs_utils.py
  tools/docs/gen_api_pages.py
  tools/docs/hooks.py
Due: lychee-md

fix(docs): fix stale symbol references and harden docs helpers
  docs/api/public.md
  docs/ci/dev-validation.md
  docs/configuration/discovery.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/machine-output.md
  src/topmark/api/public_types.py
  src/topmark/api/runtime.py
  src/topmark/cli/utils.py
  src/topmark/cli_shared/machine_output.py
  src/topmark/config/__init__.py
  src/topmark/config/args_io.py
  src/topmark/config/model.py
  src/topmark/core/__init__.py
  src/topmark/core/enum_mixins.py
  src/topmark/core/keys.py
  src/topmark/filetypes/instances.py
  src/topmark/pipeline/context/__init__.py
  src/topmark/pipeline/context/status.py
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/writer.py
  src/topmark/registry/filetypes.py
  src/topmark/rendering/__init__.py
  src/topmark/rendering/api.py
  src/topmark/rendering/colored_enum.py
  src/topmark/rendering/formats.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/test_bom_shebang_policy.py
  tools/docs/docs_utils.py
  tools/docs/hooks.py
Due: lychee-md, lychee-src, docstring-ref-links

ci(links): add built-site lychee check and mkdocs linkcheck config
  .pre-commit-config.yaml
  Makefile
  lychee.toml
  mkdocs.linkcheck.yml
  noxfile.py
Due: none

docs(dev): add pipeline concepts + reference hub documentation
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  mkdocs.yml
Due: lychee-md

fix(resolver): treat content_matcher RuntimeError as safe miss
  src/topmark/pipeline/steps/resolver.py
Due: lychee-src, docstring-ref-links

docs(ci): clarify docs integrity and align CI documentation with workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/ci/ci-workflow.md
  docs/ci/dev-validation.md
  docs/ci/release-workflow.md
Due: lychee-md

fix(pipeline): preserve final-newline semantics when stripping headers
  src/topmark/pipeline/steps/stripper.py
  tests/pipeline/test_header_bounds_property.py
Due: lychee-src, docstring-ref-links

fix(view): use consistent bucket reason for header updates; improve debug logging
  src/topmark/api/view.py
Due: lychee-src, docstring-ref-links

refactor(machine): standardize JSON/NDJSON envelopes and move schemas into core/config
  docs/dev/machine-output.md
  pyproject.toml
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/utils.py
  src/topmark/cli_shared/machine_output.py
  src/topmark/config/machine/__init__.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/core/machine/__init__.py
  src/topmark/core/machine/emitters.py
  src/topmark/core/machine/formats.py
  src/topmark/core/machine/schemas.py
  tests/cli/test_machine_output.py
Due: lychee-md, lychee-src, docstring-ref-links
