Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

docs(probe): add command guide with text, markdown, and machine output
  docs/usage/commands/check.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
Due: lychee-md

refactor(resolution): remove legacy resolution helpers in favor of probe-based model
  src/topmark/pipeline/pipelines.py
  src/topmark/resolution/__init__.py
  src/topmark/resolution/filetypes.py
  tests/helpers/registry.py
Due: lychee-src, docstring-ref-links

docs(index,readme): add probe command to user-facing documentation
  README.md
  docs/index.md
Due: lychee-md

docs(api): document probe-based resolution API surface
  docs/api/public.md
Due: lychee-md

docs(roadmap): finalize probe-based resolution and explainability decisions for 1.0
  docs/dev/roadmap.md
Due: lychee-md

docs(changelog): add 1.0.0a6 entry for probe-based resolution and contract freeze
  CHANGELOG.md
Due: none

feat(probe): explain explicit inputs filtered during discovery
  src/topmark/cli/commands/probe.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/markdown/utils.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/probe.py
  src/topmark/resolution/discovery.py
  src/topmark/resolution/files.py
  src/topmark/resolution/probe.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_probe_human_output.py
  tests/resolver/test_discovery.py
Due: lychee-src, docstring-ref-links

docs(probe): document filtered explicit inputs in resolution diagnostics
  README.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines.md
  docs/dev/resolution.md
  docs/index.md
  docs/usage/commands/probe.md
  docs/usage/filtering.md
Due: lychee-md

docs(roadmap): reflect probe filtered-input support and contract completion
  docs/dev/roadmap.md
Due: lychee-md

chore(changelog): add 1.0.0a7 release entry
  CHANGELOG.md
Due: none

feat(probe): refine filtered input reasons
  src/topmark/cli/commands/probe.py
  src/topmark/resolution/discovery.py
  src/topmark/resolution/files.py
  src/topmark/resolution/probe.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_probe_human_output.py
  tests/resolver/test_discovery.py
Due: lychee-src, docstring-ref-links

docs(probe): document refined filtered-input reasons
  README.md
  docs/api/public.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/usage/commands/probe.md
  docs/usage/filtering.md
Due: lychee-md

chore(release): prepare 1.0.0a8 changelog
  CHANGELOG.md
Due: none

test(newlines): freeze standard newline contract
  src/topmark/constants.py
  src/topmark/pipeline/policy_whitespace.py
  src/topmark/pipeline/steps/reader.py
  tests/helpers/pipeline.py
  tests/pipeline/steps/test_reader.py
  tests/pipeline/steps/test_sniffer.py
  tests/processors/test_xml.py
  tests/processors/test_xml_anchor.py
  tests/processors/test_xml_single_line_roundtrip.py
  tests/strategies_topmark.py
Due: lychee-src, docstring-ref-links

docs(newlines): document fixed 1.0 newline contract
  docs/dev/architecture.md
  docs/dev/pipelines-reference.md
  docs/dev/roadmap.md
  docs/usage/policies.md
Due: lychee-md

docs(changelog): add 1.0.0a9 entry for line-ending support contract freeze
  CHANGELOG.md
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(docs): correct the generated `config defaults` page
  tools/docs/gen_api_pages.py
Due: none

docs(newline): update README.md with newline contract
  README.md
Due: none

feat(cli): remove --quiet from informational commands (version, config defaults/init)
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/version.py
  src/topmark/presentation/shared/version.py
  src/topmark/presentation/text/version.py
  tests/cli/machine/test_version_machine.py
  tests/cli/test_config_human_output.py
  tests/cli/test_logging_flags.py
  tests/cli/test_version.py
Due: lychee-src, docstring-ref-links

docs(cli): align documentation with --quiet contract restrictions
  README.md
  docs/_snippets/output-contract-no-quiet.md
  docs/_snippets/output-contract.md
  docs/dev/architecture.md
  docs/dev/roadmap.md
  docs/usage/commands/config.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/init.md
  docs/usage/commands/version.md
  docs/usage/global-options.md
Due: lychee-md

docs(cli): add and standardize exit-code contract across CLI documentation
  README.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/global-options.md
  mkdocs.yml
Due: lychee-md

tests(cli, pytest): add typed markers and CLI exit-code assertion helpers
  pyproject.toml
  tests/cli/conftest.py
  tests/conftest.py
Due: none

fix(config, machine): preserve invalid TOML diagnostics and harden provenance serialization
  src/topmark/config/machine/serializers.py
  src/topmark/config/resolution/bridge.py
  src/topmark/config/resolution/layers.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/machine/payloads.py
  src/topmark/toml/resolution.py
  tests/cli/test_config_overrides.py
Due: lychee-src, docstring-ref-links

tests(cli): refactor and consolidate CLI test suite; formalize exit-code coverage
  tests/cli/test_apply_write_guard.py
  tests/cli/test_check_exit_codes.py
  tests/cli/test_config_dump_output.py
  tests/cli/test_config_human_output.py
  tests/cli/test_config_overrides.py
  tests/cli/test_diff_edge_cases.py
  tests/cli/test_exit_codes.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_filetypes.py
  tests/cli/test_help_all.py
  tests/cli/test_include_exclude_precedence.py
  tests/cli/test_logging_flags.py
  tests/cli/test_no_files.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_policy_options.py
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_smoke.py
  tests/cli/test_stdin_content.py
  tests/cli/test_stdin_errors.py
  tests/cli/test_stdin_lists.py
  tests/cli/test_strip.py
  tests/cli/test_unified_check_apply.py
  tests/cli/test_version.py
  tests/resolver/test_filters_and_types.py
Due: none

feat(cli, resolution, pipeline): introduce diagnostic-aware file resolution and enforce exit-code priority
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/engine.py
  src/topmark/resolution/files.py
  tests/cli/conftest.py
  tests/cli/test_config_check_exit_codes.py
  tests/cli/test_write_error_exit_codes.py
  tests/config/test_config_resolution_paths.py
  tests/helpers/api.py
  tests/unit/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

feat(cli, pipeline, resolution): propagate missing inputs via synthetic contexts and fix exit-code semantics
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/synthetic.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  tests/cli/test_write_error_exit_codes.py
Due: lychee-src, docstring-ref-links

tests(cli): add probe exit-code parity and refine filesystem error semantics
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_write_error_exit_codes.py
Due: none

tests(cli): add unmatched glob exit-code contract tests
  tests/cli/test_unmatched_glob_exit_codes.py
Due: none

fix(tests): remove stale inline comment
  tests/utils/test_diff_render.py
Due: none

docs(cli): finalize exit-code contract documentation
  README.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/filtering.md
  docs/usage/pre-commit.md
Due: lychee-md

docs(changelog): add 1.0.0a10 release entry
  CHANGELOG.md
Due: none

docs(roadmap): defer in-memory pipeline support to post-1.0
  docs/dev/roadmap.md
Due: lychee-md

fix(cli): reject unsupported path-command options
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/validators.py
  tests/cli/test_command_applicability.py
Due: lychee-src, docstring-ref-links

docs(cli): freeze command applicability and report scope
  README.md
  docs/_snippets/file-discovery-patterns.md
  docs/_snippets/report-scope.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/filtering.md
  docs/usage/global-options.md
Due: lychee-md

docs(policy): freeze header mutation mode semantics
  docs/dev/config-schema.md
  docs/usage/commands/check.md
  docs/usage/policies.md
  src/topmark/config/policy.py
  src/topmark/pipeline/context/policy.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(policy): freeze empty insert mode semantics
  docs/usage/commands/check.md
  docs/usage/policies.md
Due: lychee-md

docs(policy): finalize policy semantics and discovery alignment
  docs/configuration/discovery.md
Due: lychee-md

docs(roadmap): finalize policy/report freeze and align 1.0 status
  docs/dev/roadmap.md
Due: lychee-md

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
