Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

test(pipeline,config): add merge invariants and engine path-config tests; optimize policy registry creation
  src/topmark/pipeline/engine.py
  tests/config/test_merge_semantics_invariants.py
  tests/pipeline/test_engine_path_configs.py
Due: lychee-src, docstring-ref-links

docs(roadmap): document config layering progress and update 1.0 readiness
  docs/dev/roadmap.md
Due: lychee-md

refactor(api): split resolved config, runtime overlays, and file discovery
  src/topmark/api/runtime.py
  tests/pipeline/integration/test_nested_config_e2e.py
Due: lychee-src, docstring-ref-links

refactor(api): clarify runtime helper naming and documentation
  src/topmark/api/runtime.py
Due: lychee-src, docstring-ref-links

refactor(api): add reusable PipelineKindLiteral for pipeline selection
  src/topmark/api/runtime.py
  src/topmark/api/types.py
Due: lychee-src, docstring-ref-links

refactor(api): centralize public value types in api.types
  src/topmark/api/commands/pipeline.py
  src/topmark/api/protocols.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  tests/api/conftest.py
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/api/test_api_policy_overlays.py
  tests/api/test_buckets_check.py
Due: lychee-src, docstring-ref-links

docs(roadmap): record runtime overlay split direction in config refactor
  docs/dev/roadmap.md
Due: lychee-md

refactor(config): use split-parsed TOML sources in config resolution
  src/topmark/config/io/deserializers.py
  src/topmark/config/resolution.py
  src/topmark/toml/resolution.py
  tests/config/test_config_resolution.py
Due: lychee-src, docstring-ref-links

feat(runtime): apply TOML writer options during run-option assembly
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/config/resolution.py
  src/topmark/runtime/writer_options.py
  src/topmark/toml/resolution.py
  tests/config/test_config_resolution.py
Due: lychee-src, docstring-ref-links

refactor(toml): move TOML rendering to topmark.toml and polish loaders/docs
  src/topmark/config/io/loaders.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/loaders.py
  src/topmark/toml/render.py
  tests/config/test_model_export.py
Due: lychee-src, docstring-ref-links

refactor(toml): rename to_toml to render_toml_table for clarity
  src/topmark/config/io/loaders.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/render.py
  tests/config/test_model_export.py
Due: lychee-src, docstring-ref-links

refactor(toml/core): finalize typing guards split and clean TOML parse surface
  src/topmark/cli/cmd_common.py
  src/topmark/config/io/__init__.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/machine/payloads.py
  src/topmark/core/typing_guards.py
  src/topmark/toml/getters.py
  src/topmark/toml/loaders.py
  src/topmark/toml/parse.py
  src/topmark/toml/render.py
  src/topmark/toml/resolution.py
  src/topmark/toml/typing_guards.py
  tools/docs/hooks.py
Due: lychee-src, docstring-ref-links

refactor(api,cli,config): unify TOML resolution across API and CLI
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/config/resolution.py
Due: lychee-src, docstring-ref-links

refactor(api,cli,config): unify TOML resolution and config draft construction
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/config/resolution.py
Due: lychee-src, docstring-ref-links

feat(config,toml,cli)!: align `[config]` schema, fix config-init nesting, and introduce structured TOML/template errors
  src/topmark/cli/commands/config_defaults.py
  src/topmark/config/io/loaders.py
  src/topmark/config/io/template_surgery.py
  src/topmark/config/topmark-example.toml
  src/topmark/core/errors.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/resolution.py
  src/topmark/toml/surgery.py
  tests/config/test_io.py
Due: lychee-src, docstring-ref-links

refactor(toml,config,core): consolidate TOML helpers, relocate enums, and tighten module boundaries
  pyproject.toml
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/model.py
  src/topmark/config/resolution.py
  src/topmark/constants.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/defaults.py
  src/topmark/toml/enums.py
  src/topmark/toml/render.py
  src/topmark/toml/surgery.py
  src/topmark/toml/template_surgery.py
  src/topmark/toml/topmark-example.toml
  src/topmark/toml/types.py
  src/topmark/toml/typing_guards.py
  src/topmark/toml/utils.py
  tests/config/test_model_export.py
Due: lychee-src, docstring-ref-links

refactor(config,machine)!: remove config-resolution compatibility facades and align strict config-check key
  src/topmark/cli/commands/config_check.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/model.py
  src/topmark/config/resolution.py
  src/topmark/core/machine/schemas.py
  tests/api/conftest.py
  tests/config/test_config_resolution.py
Due: lychee-src, docstring-ref-links

docs: align documentation with TOML → Config → Runtime architecture and CLI behavior
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/api/internals.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/contributing.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/documentation-pipeline.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/plugins.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/index.md
  docs/install.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/strip.md
  docs/usage/filtering.md
  docs/usage/global-options.md
  docs/usage/header-placement.md
  docs/usage/policies.md
  docs/usage/pre-commit.md
Due: lychee-md

ci(security): add minimal permissions block to CI workflow
  .github/workflows/ci.yml
Due: none

build(docs): constrain Pygments below 2.20 to avoid mkdocs attribute rendering crash
  pyproject.toml
  uv.lock
Due: none

Refactor pipeline-oriented CLI presentation into parallel Markdown and TEXT renderers.
  src/topmark/cli/__init__.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
Due: lychee-src, docstring-ref-links

build(ruff): allow external DOC noqa codes for pydoclint compatibility
  pyproject.toml
Due: none

refactor(config)!: make strict config checking a resolved TOML concern and unify validation semantics
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/options.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/resolution.py
  src/topmark/core/errors.py
  src/topmark/toml/parse.py
  src/topmark/toml/resolution.py
  tests/config/test_config_resolution.py
Due: lychee-src, docstring-ref-links

docs: align documentation with TOML→Config→Runtime model and strict config validation semantics
  CONTRIBUTING.md
  README.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/contributing.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/strip.md
  docs/usage/filtering.md
  docs/usage/header-placement.md
  docs/usage/pre-commit.md
Due: lychee-md

build(docs): remove Pygments constraint after upstream fix for rendering regression
  pyproject.toml
  uv.lock
Due: none

feat(config-dump): add layered config provenance export
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/machine/serializers.py
  src/topmark/config/machine/shapes.py
  src/topmark/core/keys.py
  src/topmark/core/machine/schemas.py
  src/topmark/presentation/markdown/config.py
  src/topmark/presentation/shared/config.py
  src/topmark/presentation/text/config.py
  src/topmark/presentation/text/utils.py
  src/topmark/toml/parse.py
  tests/cli/machine/test_config_dump_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_config_dump_output.py
Due: lychee-src, docstring-ref-links

docs(config): document layered config provenance for config dump
  README.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/config.md
  docs/usage/commands/config/dump.md
Due: lychee-md

test(config-machine): add machine output contract tests for config commands
  docs/dev/roadmap.md
  src/topmark/config/machine/__init__.py
  src/topmark/config/machine/envelopes.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/machine/serializers.py
  src/topmark/core/machine/schemas.py
  src/topmark/pipeline/machine/envelopes.py
  tests/cli/machine/test_config_check_machine.py
  tests/cli/machine/test_config_defaults_machine.py
  tests/cli/machine/test_config_dump_machine.py
  tests/cli/machine/test_config_init_machine.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(machine): harmonize naming and replace shapes with envelopes
  src/topmark/config/machine/envelopes.py
  src/topmark/core/machine/__init__.py
  src/topmark/core/machine/envelopes.py
  src/topmark/core/machine/serializers.py
  src/topmark/diagnostic/machine/envelopes.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/registry/machine/envelopes.py
  src/topmark/version/machine/__init__.py
  src/topmark/version/machine/envelopes.py
  src/topmark/version/machine/serializers.py
Due: lychee-src, docstring-ref-links

refactor(toml,config): move TOML provenance machine output to toml.machine and fix layer alignment
  docs/api/public.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/machine-output.md
  docs/usage/commands/config/dump.md
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/config_check.py
  src/topmark/config/layers.py
  src/topmark/config/machine/envelopes.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/machine/serializers.py
  src/topmark/config/resolution.py
  src/topmark/config/resolution/__init__.py
  src/topmark/config/resolution/bridge.py
  src/topmark/config/resolution/layers.py
  src/topmark/config/resolution/merge.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/machine/payloads.py
  src/topmark/toml/machine/schemas.py
  tests/api/conftest.py
  tests/config/test_config_resolution.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(machine): split machine schema ownership by domain
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  src/topmark/config/machine/envelopes.py
  src/topmark/config/machine/schemas.py
  src/topmark/core/machine/envelopes.py
  src/topmark/core/machine/schemas.py
  src/topmark/diagnostic/machine/envelopes.py
  src/topmark/diagnostic/machine/schemas.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/registry/machine/envelopes.py
  src/topmark/registry/machine/payloads.py
  src/topmark/registry/machine/schemas.py
  src/topmark/toml/machine/__init__.py
  src/topmark/toml/machine/payloads.py
  src/topmark/toml/machine/schemas.py
  src/topmark/version/machine/envelopes.py
  src/topmark/version/machine/payloads.py
  src/topmark/version/machine/schemas.py
  src/topmark/version/machine/serializers.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(toml/machine): keep provenance layer key as `kind`
  src/topmark/toml/machine/schemas.py
Due: lychee-src, docstring-ref-links

feat(toml): introduce structured TOML schema validation and integrate into config check pipeline
  src/topmark/config/io/deserializers.py
  src/topmark/config/resolution/bridge.py
  src/topmark/diagnostic/model.py
  src/topmark/toml/loaders.py
  src/topmark/toml/parse.py
  src/topmark/toml/schema.py
  src/topmark/toml/validation.py
  tests/config/test_config_resolution.py
Due: lychee-src, docstring-ref-links

refactor(toml,config,tests): introduce TOML schema validation and split test suite by layer
  pyproject.toml
  src/topmark/config/io/deserializers.py
  src/topmark/config/resolution/layers.py
  src/topmark/toml/loaders.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution.py
  tests/config/test_config_resolution_discovery.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_resolution_paths.py
  tests/config/test_config_strictness_and_validity.py
  tests/conftest.py
  tests/toml/test_schema_validation.py
Due: lychee-src, docstring-ref-links

refactor(config,tests): tighten layered-config API boundary and update callers
  src/topmark/config/io/deserializers.py
  src/topmark/config/resolution/layers.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_discovery.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_resolution_paths.py
  tests/config/test_config_strictness_and_validity.py
  tests/config/test_policy_resolution.py
  tests/conftest.py
  tests/toml/conftest.py
  tests/toml/test_schema_validation.py
Due: lychee-src, docstring-ref-links

refactor(config): tighten layered-config deserializer contract and docs
  src/topmark/config/io/deserializers.py
Due: lychee-src, docstring-ref-links

test(toml): extract shared TOML test helper and expand loader/schema coverage
  tests/config/test_config_resolution_paths.py
  tests/helpers/toml.py
  tests/toml/conftest.py
  tests/toml/test_schema_validation.py
Due: none
