Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

refactor(filetypes): make instances.py lazy, plugin-aware, and type-safe
  src/topmark/filetypes/instances.py
Due: lychee-src, docstring-ref-links

feat(processors): add reusable mixins for shebang, line, and XML processors
  src/topmark/pipeline/processors/mixins.py
  tests/pipeline/processors/test_mixins.py
Due: lychee-src, docstring-ref-links

refactor(processors): adopt LineCommentMixin in Pound and Slash, preserve subclass attrs in base
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/processors/pound.py
  src/topmark/pipeline/processors/slash.py
Due: lychee-src, docstring-ref-links

refactor(processors): clarify XML insertion strategy and make mixin purely line-based
  src/topmark/pipeline/processors/mixins.py
  src/topmark/pipeline/processors/xml.py
  tests/pipeline/processors/test_mixins.py
Due: lychee-src, docstring-ref-links

refactor(processors): adopt BlockCommentMixin for C-style block headers and add tests
  src/topmark/pipeline/processors/cblock.py
  src/topmark/pipeline/processors/mixins.py
  tests/pipeline/processors/test_mixins.py
Due: lychee-src, docstring-ref-links

refactor(pipeline): route updater step through compute_insertion_anchor façade
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/steps/updater.py
  tests/pipeline/processors/test_anchor_helper.py
Due: lychee-src, docstring-ref-links

test(pipeline): add guard tests for XML and C-block processors
  tests/pipeline/processors/test_cblock_affixes.py
  tests/pipeline/processors/test_xml_anchor.py
Due: none

docs(processors): clarify placement strategies in base and XML processors
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/processors/xml.py
Due: lychee-src, docstring-ref-links

refactor(processors): tighten typing and cache regex in base HeaderProcessor
  src/topmark/pipeline/processors/base.py
Due: lychee-src, docstring-ref-links

fix(xml): prevent double-wrapped header block on re-apply by anchoring via char offset
  src/topmark/pipeline/processors/base.py
  tests/pipeline/processors/test_cblock.py
  tests/pipeline/processors/test_idempotency.py
  tests/pipeline/processors/test_pound.py
  tests/pipeline/processors/test_xml.py
Due: lychee-src, docstring-ref-links

ci: add dev-validation job; docs and registry validation hooks
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/ci/dev-validation.md
  mkdocs.yml
  src/topmark/registry/processors.py
  tests/conftest.py
  tests/pipeline/test_registry_validation.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(filetypes): clean up entrypoint discovery and mypy issues; mark dev-validation tests
  src/topmark/filetypes/instances.py
  src/topmark/pipeline/processors/mixins.py
  tests/filetypes/test_instances_plugins.py
  tests/pipeline/processors/test_idempotency.py
  tests/pipeline/processors/test_xml.py
  tests/pipeline/test_registry_validation.py
Due: lychee-src, docstring-ref-links

refactor(processors): mixins + insertion façade; fix XML re-apply; add dev-validation
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/ci/dev-validation.md
  mkdocs.yml
  src/topmark/filetypes/instances.py
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/processors/cblock.py
  src/topmark/pipeline/processors/mixins.py
  src/topmark/pipeline/processors/pound.py
  src/topmark/pipeline/processors/slash.py
  src/topmark/pipeline/processors/xml.py
  src/topmark/pipeline/steps/updater.py
  src/topmark/registry/processors.py
  tests/conftest.py
  tests/filetypes/test_instances_plugins.py
  tests/pipeline/processors/test_anchor_helper.py
  tests/pipeline/processors/test_cblock.py
  tests/pipeline/processors/test_cblock_affixes.py
  tests/pipeline/processors/test_idempotency.py
  tests/pipeline/processors/test_mixins.py
  tests/pipeline/processors/test_pound.py
  tests/pipeline/processors/test_xml.py
  tests/pipeline/processors/test_xml_anchor.py
  tests/pipeline/test_registry_validation.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(release): cut 0.8.1; bump ruff-pre-commit to v0.13.2
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): bump to 0.8.2.dev0 and update pre-commit hook to v0.8.1
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(cli): preserve newline style when writing updated files
  src/topmark/cli_shared/utils.py
Due: lychee-src, docstring-ref-links

fix(pipeline): reapply BOM after stripping header for round-trip fidelity
  src/topmark/pipeline/steps/stripper.py
Due: lychee-src, docstring-ref-links

feat(pipeline): detect mixed line endings and enforce strict skip; track newline stats
  src/topmark/pipeline/context.py
  src/topmark/pipeline/steps/reader.py
Due: lychee-src, docstring-ref-links

fix(reader): guard stat() race and improve diagnostics; tests: expand coverage of newline/BOM/shebang cases
  src/topmark/pipeline/steps/reader.py
  tests/pipeline/steps/test_reader.py
Due: lychee-src, docstring-ref-links

fix(pipeline/resolver): handle multi-dot extensions and improve filename-tail normalization
  src/topmark/pipeline/steps/resolver.py
  tests/pipeline/steps/test_resolver.py
Due: lychee-src, docstring-ref-links

refactor(pipeline): replace FileStatus/SniffStatus with FsStatus, ResolveStatus, ContentStatus
  src/topmark/api/__init__.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli_shared/utils.py
  src/topmark/pipeline/context.py
  src/topmark/pipeline/pipelines.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  tests/pipeline/conftest.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/steps/test_reader.py
  tests/pipeline/steps/test_resolver.py
  tests/pipeline/steps/test_sniffer.py
  tests/pipeline/test_bom_shebang_policy.py
  tests/unit/test_classify_outcome.py
Due: lychee-src, docstring-ref-links

feat(filetypes,pipeline): strict pre-insert checks + policy-aware whitespace; doc-ready CLI markdown
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli_shared/utils.py
  src/topmark/filetypes/base.py
  src/topmark/filetypes/builtins/data.py
  src/topmark/filetypes/builtins/web.py
  src/topmark/filetypes/checks/__init__.py
  src/topmark/filetypes/checks/json_like.py
  src/topmark/filetypes/checks/xml.py
  src/topmark/filetypes/policy.py
  src/topmark/pipeline/context.py
  src/topmark/pipeline/policy_whitespace.py
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/processors/cblock.py
  src/topmark/pipeline/processors/mixins.py
  src/topmark/pipeline/processors/pound.py
  src/topmark/pipeline/processors/slash.py
  src/topmark/pipeline/processors/xml.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/updater.py
  tests/api/conftest.py
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/filetypes/test_content_gate.py
  tests/pipeline/processors/test_cblock.py
  tests/pipeline/processors/test_final_newline_policy.py
  tests/pipeline/processors/test_xml_single_line_roundtrip.py
  tests/pipeline/steps/test_reader.py
  tests/pipeline/steps/test_resolver.py
  tests/unit/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

chore(deps): bump pyright to 1.1.406 and pytest to 8.4.2 in requirements-dev.txt
  requirements-dev.txt
Due: none

feat(pipeline): enforce authoritative pre-insert gate; add `UNEVALUATED` capability; surface “unsafe:insert” cleanly
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli_shared/utils.py
  src/topmark/filetypes/base.py
  src/topmark/filetypes/checks/json_like.py
  src/topmark/filetypes/checks/xml.py
  src/topmark/pipeline/context.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/updater.py
  tests/conftest.py
  tests/pipeline/processors/test_xml.py
Due: lychee-src, docstring-ref-links

feat(config): layered discovery & path-aware resolution; docs and CLI integration
  README.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/usage/commands/check.md
  docs/usage/commands/dump_config.md
  docs/usage/commands/show_defaults.md
  docs/usage/commands/strip.md
  mkdocs.yml
  pyproject.toml
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/config_resolver.py
  src/topmark/config/__init__.py
  src/topmark/config/io.py
  src/topmark/config/topmark-default.toml
  src/topmark/file_resolver.py
  tests/api/conftest.py
  tests/api/test_api_additional.py
  tests/api/test_api_more.py
  tests/conftest.py
  tests/unit/test_resolve_file_list.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(config): finalize discovery/precedence model & path semantics; seed includes from CWD and config dirs
  README.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/usage/commands/check.md
  docs/usage/commands/dump_config.md
  docs/usage/commands/strip.md
  src/topmark/config/__init__.py
  src/topmark/config/topmark-default.toml
  src/topmark/file_resolver.py
  tests/cli/test_diff_edge_cases.py
  tests/config/test_config_resolution.py
  tests/unit/test_resolve_file_list.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(config): split config package into typed modules and update public API docstring
  src/topmark/config/__init__.py
  src/topmark/config/model.py
  src/topmark/config/paths.py
  src/topmark/config/types.py
Due: lychee-src, docstring-ref-links

chore(release): bump version to 0.9.0rc1
  pyproject.toml
Due: none

docs(config): add "Root semantics" section and fix intra-page anchors in discovery.md
  docs/configuration/discovery.md
Due: lychee-md

feat(api): make public API config discovery match CLI; respect `align_fields` in header rendering
  src/topmark/api/__init__.py
  src/topmark/pipeline/processors/base.py
  tests/api/test_api_discovery_parity.py
Due: lychee-src, docstring-ref-links

fix(cli): make --align-fields tri-state so CLI no longer overrides TOML by default
  src/topmark/cli/cmd_common.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/options.py
Due: lychee-src, docstring-ref-links

docs(mkdocs): switch to snippet-driven callouts; add simple-hooks; move mdformat config to pyproject; fix lychee false positives
  .mdformat.yml
  constraints.txt
  docs/_snippets/config-resolution.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/gen_api_pages.py
  docs/hooks.py
  docs/usage/commands/check.md
  docs/usage/commands/dump_config.md
  docs/usage/commands/strip.md
  lychee.toml
  mkdocs.yml
  pyproject.toml
Due: lychee-md

docs: reflow docs with mdformat; normalize line wrapping and minor wording tweaks
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/ci/ci-workflow.md
  docs/ci/dev-validation.md
  docs/ci/release-workflow.md
  docs/configuration/index.md
  docs/index.md
  docs/usage/commands/filetypes.md
  docs/usage/commands/init_config.md
  docs/usage/commands/processors.md
  docs/usage/commands/show_defaults.md
  docs/usage/commands/version.md
  docs/usage/filetypes.md
Due: lychee-md

docs(hooks): inject TopMark version into pages via simple-hook; add version macro to docs
  docs/api/internals.md
  docs/api/public.md
  docs/hooks.py
  docs/index.md
  docs/usage/commands/version.md
  mkdocs.yml
Due: lychee-md

chore(release): bump version to 0.9.0rc2
  pyproject.toml
Due: none

ci(docs): install MkDocs plugins via project extras; fix “include-markdown plugin is not installed”
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): finalize 0.9.0 — layered config resolution, CLI parity, and MkDocs modernization
  CHANGELOG.md
  pyproject.toml
Due: none

chore(dev): bump version to 0.9.1.dev0 and update pre-commit toolchain pins
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat(makefile)!: modernize docs workflow; add compile/sync/upgrade targets and rename venv
  Makefile
  requirements-dev.txt
  requirements-docs.in
  requirements-docs.txt
  requirements.txt
Due: none

build(python,ci): declare Python 3.14 support and extend tox matrix
  pyproject.toml
  tox.ini
Due: none

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
