Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

fix(docs): invoke uv module in Read the Docs jobs (#376)
  .readthedocs.yml
  CHANGELOG.md
Due: none

fix(docs): invoke Zensical module on Read the Docs
  .readthedocs.yml
  CHANGELOG.md
Due: none

fix(docs): invoke Zensical module on Read the Docs (#377)
  .readthedocs.yml
  CHANGELOG.md
Due: none

fix(docs): preserve RTD version metadata
  .readthedocs.yml
  CHANGELOG.md
  docs/dev/documentation-pipeline.md
Due: lychee-md

fix(docs): preserve RTD version metadata (#379)
  .readthedocs.yml
  CHANGELOG.md
  docs/dev/documentation-pipeline.md
Due: lychee-md

docs: add 2.0 upgrade guidance
  CHANGELOG.md
  README.md
  docs/dev/release-process.md
  docs/index.md
  docs/install.md
  docs/usage/index.md
  docs/usage/upgrading-to-2.0.md
  docs/usage/upgrading.md
  zensical.toml
Due: lychee-md

docs: add 2.0 upgrade guidance (#380)
  CHANGELOG.md
  README.md
  docs/dev/release-process.md
  docs/index.md
  docs/install.md
  docs/usage/index.md
  docs/usage/upgrading-to-2.0.md
  docs/usage/upgrading.md
  zensical.toml
Due: lychee-md

docs: update upgrade entry points
  INSTALL.md
  docs/install.md
Due: lychee-md

docs: update upgrade entry points (#381)
  INSTALL.md
  docs/install.md
Due: lychee-md

docs(release): document release milestone workflow
  CHANGELOG.md
  CONTRIBUTING.md
  docs/contributing.md
  docs/dev/release-process.md
Due: lychee-md

docs(release): document release milestone workflow (#385)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/contributing.md
  docs/dev/release-process.md
Due: lychee-md

build: add Python 3.15 support
  .github/workflows/published-artifact-validation.yml
  .github/workflows/release.yml
  .gitignore
  .python-version
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/ci/ci-workflow.md
  docs/ci/published-artifact-validation.md
  docs/ci/setup-python-nox-action.md
  docs/ci/test-validation.md
  docs/contributing.md
  docs/dev/api-stability.md
  docs/dev/protocol-contracts.md
  docs/dev/release-process.md
  docs/index.md
  docs/install.md
  docs/usage/index.md
  docs/usage/python-support.md
  pyproject.toml
  src/topmark/core/constants.py
  src/topmark/utils/version.py
  tests/core/test_constants.py
  tests/utils/test_version.py
  uv.lock
  zensical.toml
Due: lychee-md, lychee-src, docstring-ref-links
