Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

docs(filtering): clarify stable runtime filtering semantics
  docs/usage/filtering.md
Due: lychee-md

docs(policies): clarify stable runtime policy architecture
  docs/usage/policies.md
Due: lychee-md

docs(headers): clarify runtime header placement semantics
  docs/usage/header-placement.md
Due: lychee-md

docs(pre-commit): clarify stable runtime hook semantics
  docs/usage/pre-commit.md
Due: lychee-md

docs(config): clarify layered runtime configuration architecture
  docs/configuration/discovery.md
  docs/configuration/index.md
Due: lychee-md

docs(commands): align command references with stable 1.0 runtime model
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
Due: lychee-md

docs(snippets): align shared snippets with stable 1.0 terminology
  docs/_snippets/config-strictness.md
  docs/_snippets/file-type-identifiers.md
  docs/_snippets/output-contract.md
  docs/_snippets/report-scope.md
Due: lychee-md

docs(ci): align CI and release docs with stable 1.0 contracts
  docs/ci/action-pin-audit.md
  docs/ci/ci-workflow.md
  docs/ci/dependabot.md
  docs/ci/index.md
  docs/ci/published-artifact-validation.md
  docs/ci/release-workflow.md
  docs/ci/setup-python-nox-action.md
  docs/ci/test-validation.md
Due: lychee-md

docs(snippets): centralize runtime model summaries
  docs/_snippets/runtime-configuration-model.md
  docs/_snippets/runtime-validation-model.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/usage/configuration.md
  docs/usage/policies.md
  docs/usage/pre-commit.md
Due: lychee-md

docs: align file type identity terminology
  docs/api/internals.md
  docs/api/public.md
  docs/dev/api-stability.md
  docs/dev/configuration-schema.md
  docs/dev/plugins.md
Due: lychee-md

docs(roadmap): finalize 1.0 release readiness wording
  docs/dev/road-to-1.0.md
  docs/dev/roadmap.md
Due: lychee-md

docs(upgrade): add TopMark 1.0 migration guide
  docs/usage/upgrading-to-1.0.md
  mkdocs.yml
Due: lychee-md

docs: replace local docs links with hosted documentation URLs
  CONTRIBUTING.md
  INSTALL.md
  README.md
Due: none

docs(upgrade): add and wire TopMark 1.0 migration guidance
  INSTALL.md
  README.md
  docs/dev/release-process.md
  docs/index.md
  docs/install.md
  docs/usage/upgrading-to-1.0.md
Due: lychee-md

docs(roadmap): transition 1.0 governance docs to stable 1.x posture
  docs/dev/road-to-1.0.md
  docs/dev/roadmap.md
Due: lychee-md

docs(changelog): finalize TopMark 1.0 stable release entry
  CHANGELOG.md
Due: none

docs(nav): add section overview landing pages
  docs/api/index.md
  docs/dev/index.md
  docs/usage/index.md
  mkdocs.yml
Due: lychee-md

chore(deps): update pre-commit dependencies
  .pre-commit-config.yaml
Due: none

fix(pipeline): preserve diff output when pruning pipeline views
  src/topmark/api/commands/pipeline.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/rendering/unified_diff.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/views.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/api/test_api_check_and_strip.py
  tests/cli/conftest.py
  tests/cli/test_diff_output.py
  tests/pipeline/test_engine_path_configs.py
  tests/processors/test_cblock.py
  tests/processors/test_pound.py
  tests/processors/test_slash.py
  tests/processors/test_slash_indent.py
Due: lychee-src, docstring-ref-links

fix(pipeline): preserve diff output when pruning pipeline views (#57)
  src/topmark/api/commands/pipeline.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/rendering/unified_diff.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/views.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/api/test_api_check_and_strip.py
  tests/cli/conftest.py
  tests/cli/test_diff_output.py
  tests/pipeline/test_engine_path_configs.py
  tests/processors/test_cblock.py
  tests/processors/test_pound.py
  tests/processors/test_slash.py
  tests/processors/test_slash_indent.py
Due: lychee-src, docstring-ref-links

fix(markdown): render diffs with collision-safe code fences
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/utils.py
  tests/presentation/test_diff_render.py
Due: lychee-src, docstring-ref-links

fix(markdown): render diffs with collision-safe code fences (#58)
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/utils.py
  tests/presentation/test_diff_render.py
Due: lychee-src, docstring-ref-links

refactor(api): simplify pipeline selection
  src/topmark/api/runtime.py
Due: lychee-src, docstring-ref-links

docs(roadmap,changelog): prepare 1.0.1 release notes and roadmap
  CHANGELOG.md
  docs/dev/roadmap.md
Due: lychee-md

docs(hygiene): fix post-1.0.1 documentation hygiene violations
  docs/index.md
  docs/usage/ci.md
  docs/usage/getting-started.md
Due: lychee-md

refactor(cli): replace yachalk with rich presentation backend
  docs/dev/roadmap.md
  pyproject.toml
  src/topmark/cli/presentation.py
  src/topmark/cli/rendering/unified_diff.py
  src/topmark/core/enum_mixins.py
  src/topmark/core/presentation.py
  tools/docs/check_docs_hygiene.py
  uv.lock
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): replace yachalk with rich presentation backend (#59)
  docs/dev/roadmap.md
  pyproject.toml
  src/topmark/cli/presentation.py
  src/topmark/cli/rendering/unified_diff.py
  src/topmark/core/enum_mixins.py
  src/topmark/core/presentation.py
  tools/docs/check_docs_hygiene.py
  uv.lock
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): adopt rich-click for help rendering
  docs/dev/roadmap.md
  pyproject.toml
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/registry.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/help.py
  src/topmark/cli/main.py
  tests/cli/conftest.py
  tests/cli/machine/test_version_machine.py
  tests/cli/test_command_applicability.py
  tests/cli/test_config_human_output.py
  tests/cli/test_help_all.py
  tests/cli/test_help_epilog.py
  tests/cli/test_logging_flags.py
  tests/cli/test_policy_options.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_version.py
  uv.lock
Due: lychee-md, lychee-src, docstring-ref-links

test(cli): normalize ANSI in rich-click output assertions
  tests/cli/conftest.py
Due: none

refactor(cli): adopt rich-click for help rendering (#62)
  docs/dev/roadmap.md
  pyproject.toml
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/registry.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/help.py
  src/topmark/cli/main.py
  tests/cli/conftest.py
  tests/cli/machine/test_version_machine.py
  tests/cli/test_command_applicability.py
  tests/cli/test_config_human_output.py
  tests/cli/test_help_all.py
  tests/cli/test_help_epilog.py
  tests/cli/test_logging_flags.py
  tests/cli/test_policy_options.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_version.py
  uv.lock
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli): trap underscored option spellings consistently
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  tests/cli/test_options_helpers.py
Due: lychee-src, docstring-ref-links

fix(cli): trap underscored option spellings consistently (#64)
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  tests/cli/test_options_helpers.py
Due: lychee-src, docstring-ref-links

cleanup(tooling): remove stale tox references
  CONTRIBUTING.md
  pyproject.toml
  tools/docs/check_code_hygiene.py
Due: none

cleanup(tooling): remove stale tox references (#69)
  CONTRIBUTING.md
  pyproject.toml
  tools/docs/check_code_hygiene.py
Due: none

fix(cli): hide long file-type compatibility aliases from help
  src/topmark/cli/help.py
  src/topmark/cli/options.py
Due: lychee-src, docstring-ref-links

fix(cli): hide long file-type compatibility aliases from help (#70)
  src/topmark/cli/help.py
  src/topmark/cli/options.py
Due: lychee-src, docstring-ref-links

fix(cli): improve validation diagnostic formatting
  src/topmark/cli/validators.py
  tests/cli/test_command_applicability.py
  tests/cli/test_logging_flags.py
  tests/cli/test_options_helpers.py
  tests/cli/test_validators.py
Due: lychee-src, docstring-ref-links

fix(cli): improve validation diagnostic formatting (#71)
  src/topmark/cli/validators.py
  tests/cli/test_command_applicability.py
  tests/cli/test_logging_flags.py
  tests/cli/test_options_helpers.py
  tests/cli/test_validators.py
Due: lychee-src, docstring-ref-links
