Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

perf(pipeline): reduce comparison and patch materialization (#184)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/steps/base.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/prober.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/steps/test_base.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(reporting)!: align report-scope semantics across CLI and API
  CHANGELOG.md
  docs/_snippets/report-scope.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/reporting.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/api/test_api_more.py
  tests/api/test_api_report_scope.py
  tests/api/test_api_strip_report_scope.py
  tests/api/test_buckets_check.py
  tests/api/test_buckets_strip.py
  tests/api/test_result_view.py
  tests/cli/conftest.py
  tests/cli/test_command_applicability.py
  tests/cli/test_report_scope.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(reporting)!: align report-scope semantics across CLI and API (#197)
  CHANGELOG.md
  docs/_snippets/report-scope.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/reporting.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/api/test_api_more.py
  tests/api/test_api_report_scope.py
  tests/api/test_api_strip_report_scope.py
  tests/api/test_buckets_check.py
  tests/api/test_buckets_strip.py
  tests/api/test_result_view.py
  tests/cli/conftest.py
  tests/cli/test_command_applicability.py
  tests/cli/test_report_scope.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(markdown): omit empty files section in pipeline reports
  CHANGELOG.md
  src/topmark/presentation/markdown/pipeline.py
  tests/cli/test_pipeline_human_output.py
Due: lychee-src, docstring-ref-links

fix(markdown): omit empty files section in pipeline reports (#198)
  CHANGELOG.md
  src/topmark/presentation/markdown/pipeline.py
  tests/cli/test_pipeline_human_output.py
Due: lychee-src, docstring-ref-links

fix(cli): suppress empty diff sections in human reports
  CHANGELOG.md
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/text/pipeline.py
  tests/cli/test_diff_output.py
Due: lychee-src, docstring-ref-links

fix(cli): suppress empty diff sections in human reports (#199)
  CHANGELOG.md
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/text/pipeline.py
  tests/cli/test_diff_output.py
Due: lychee-src, docstring-ref-links

feat(cli)!: redesign machine-readable diff output and clarify CLI output contracts
  CHANGELOG.md
  README.md
  docs/_snippets/report-scope.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/getting-started.md
  docs/usage/machine-output.md
  docs/usage/shared-options.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/validators.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/output/__init__.py
  src/topmark/presentation/output/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_validators.py
  tests/helpers/pipeline.py
  tests/pipeline/machine/test_serializers.py
  tests/presentation/test_pipeline_rendering.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

test(cli): normalize Rich output assertions for diff/apply validation
  tests/cli/test_apply_write_guard.py
Due: none

chore(dev): update pinned QA tooling
  .pre-commit-config.yaml
  uv.lock
Due: none

fix(cli): align custom error exit code with Click
  src/topmark/cli/errors.py
Due: lychee-src, docstring-ref-links

Redesign machine-readable diff output and CLI output contracts (#200)
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docs/_snippets/report-scope.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/getting-started.md
  docs/usage/machine-output.md
  docs/usage/shared-options.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/errors.py
  src/topmark/cli/validators.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/output/__init__.py
  src/topmark/presentation/output/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_validators.py
  tests/helpers/pipeline.py
  tests/pipeline/machine/test_serializers.py
  tests/presentation/test_pipeline_rendering.py
  tools/perf/pipeline_memory_baseline.py
  uv.lock
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli): align CLI errors with Click exit code typing
  src/topmark/cli/errors.py
  uv.lock
Due: lychee-src, docstring-ref-links

fix(cli): align CLI errors with Click exit code typing (#201)
  src/topmark/cli/errors.py
  uv.lock
Due: lychee-src, docstring-ref-links

chore(deps): refresh tooling baselines and version constraints
  pyproject.toml
  uv.lock
Due: none

chore(deps): refresh build dependency baseline
  CHANGELOG.md
  pyproject.toml
Due: none

Refresh tooling dependency baselines (#202)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(cli): harden Rich-aware output assertions
  CHANGELOG.md
  tests/cli/conftest.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_config_human_output.py
  tests/cli/test_config_overrides.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_filetypes.py
  tests/cli/test_output_assertion_helpers.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_processing_case_insensitive_fs.py
  tests/cli/test_processing_case_sensitive_fs.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_smoke.py
  tests/cli/test_stdin_errors.py
Due: none

test(cli): harden Rich-aware output assertions (#212)
  CHANGELOG.md
  tests/cli/conftest.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_config_human_output.py
  tests/cli/test_config_overrides.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_filetypes.py
  tests/cli/test_output_assertion_helpers.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_processing_case_insensitive_fs.py
  tests/cli/test_processing_case_sensitive_fs.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_smoke.py
  tests/cli/test_stdin_errors.py
Due: none

fix(ci): synchronize local setup-python action pin
  .github/actions/setup-python-nox/action.yml
Due: none

fix(ci): synchronize local cache action pin
  .github/actions/setup-python-nox/action.yml
Due: none

test(pytest): enable importlib collection mode
  CHANGELOG.md
  pyproject.toml
Due: none

test(pytest): package test hierarchy consistently
  CHANGELOG.md
  tests/__init__.py
  tests/api/__init__.py
  tests/cli/__init__.py
  tests/cli/machine/__init__.py
  tests/config/__init__.py
  tests/config/machine/__init__.py
  tests/config/resolution/__init__.py
  tests/core/__init__.py
  tests/core/test_enum_mixins.py
  tests/filetypes/__init__.py
  tests/helpers/__init__.py
  tests/pipeline/__init__.py
  tests/pipeline/integration/__init__.py
  tests/pipeline/machine/__init__.py
  tests/pipeline/steps/__init__.py
  tests/presentation/__init__.py
  tests/processors/__init__.py
  tests/processors/test_processor_key_token.py
  tests/registry/__init__.py
  tests/resolver/test_resolve_file_list.py
  tests/toml/__init__.py
  tests/toml/machine/__init__.py
  tests/utils/__init__.py
Due: none

test(dev): validate test package layout
  CHANGELOG.md
  docs/ci/test-validation.md
  pyproject.toml
  tests/dev_validation/__init__.py
  tests/dev_validation/test_registry_validation.py
  tests/dev_validation/test_test_package_layout.py
Due: lychee-md

Adopt pytest importlib mode and package the test hierarchy (#214)
  CHANGELOG.md
  docs/ci/test-validation.md
  pyproject.toml
  tests/__init__.py
  tests/api/__init__.py
  tests/cli/__init__.py
  tests/cli/machine/__init__.py
  tests/config/__init__.py
  tests/config/machine/__init__.py
  tests/config/resolution/__init__.py
  tests/core/__init__.py
  tests/core/test_enum_mixins.py
  tests/dev_validation/__init__.py
  tests/dev_validation/test_registry_validation.py
  tests/dev_validation/test_test_package_layout.py
  tests/filetypes/__init__.py
  tests/helpers/__init__.py
  tests/pipeline/__init__.py
  tests/pipeline/integration/__init__.py
  tests/pipeline/machine/__init__.py
  tests/pipeline/steps/__init__.py
  tests/presentation/__init__.py
  tests/processors/__init__.py
  tests/processors/test_processor_key_token.py
  tests/registry/__init__.py
  tests/resolver/test_resolve_file_list.py
  tests/toml/__init__.py
  tests/toml/machine/__init__.py
  tests/utils/__init__.py
Due: lychee-md

ci: add local pre-PR validation gate
  .bake.toml
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/index.md
  docs/ci/test-validation.md
  docs/contributing.md
  noxfile.py
Due: lychee-md

ci: add local pre-PR validation gate (#218)
  .bake.toml
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/index.md
  docs/ci/test-validation.md
  docs/contributing.md
  noxfile.py
Due: lychee-md

test(presentation): expand rendering contract coverage
  CHANGELOG.md
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/shared/probe.py
  src/topmark/presentation/text/probe.py
  tests/cli/test_unified_diff_rendering.py
  tests/diagnostic/__init__.py
  tests/diagnostic/test_model.py
  tests/presentation/test_config_rendering.py
  tests/presentation/test_diagnostic_rendering.py
  tests/presentation/test_markdown_utils.py
  tests/presentation/test_pipeline_rendering.py
  tests/presentation/test_probe_rendering.py
  tests/presentation/test_version_rendering.py
  tests/utils/test_version.py
Due: lychee-src, docstring-ref-links

test(presentation): make provenance path assertion platform-independent
  tests/presentation/test_config_rendering.py
Due: none

Expand `topmark.presentation` rendering contract coverage (#219)
  CHANGELOG.md
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/shared/probe.py
  src/topmark/presentation/text/probe.py
  tests/cli/test_unified_diff_rendering.py
  tests/diagnostic/__init__.py
  tests/diagnostic/test_model.py
  tests/presentation/test_config_rendering.py
  tests/presentation/test_diagnostic_rendering.py
  tests/presentation/test_markdown_utils.py
  tests/presentation/test_pipeline_rendering.py
  tests/presentation/test_probe_rendering.py
  tests/presentation/test_version_rendering.py
  tests/utils/test_version.py
Due: lychee-src, docstring-ref-links

docs(machine): document machine-output compatibility policy
  CHANGELOG.md
  docs/dev/machine-formats.md
  docs/usage/machine-output.md
  tests/cli/machine/test_contract_policy.py
Due: lychee-md

docs(machine): document machine-output compatibility policy (#220)
  CHANGELOG.md
  docs/dev/machine-formats.md
  docs/usage/machine-output.md
  tests/cli/machine/test_contract_policy.py
Due: lychee-md

docs(cli): clarify stream-routing ownership
  CHANGELOG.md
  docs/dev/machine-formats.md
  docs/usage/cli.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/streaming.py
  tests/cli/test_stream_routing.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(cli): clarify stream-routing ownership (#221)
  CHANGELOG.md
  docs/dev/machine-formats.md
  docs/usage/cli.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/streaming.py
  tests/cli/test_stream_routing.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(presentation): consolidate shared pipeline summary rendering
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(presentation): consolidate shared pipeline summary rendering (#222)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  tests/presentation/test_pipeline_rendering.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(perf): add repository-scale pipeline memory benchmark suite
  CHANGELOG.md
  docs/dev/performance-baselines.md
  tests/dev_validation/test_perf_baseline_tooling.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md

fix(perf): avoid Windows-only Pyright import failure
  tools/perf/pipeline_memory_baseline.py
Due: none

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
