Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

test(registry): strengthen registry contract coverage
  src/topmark/registry/filetypes.py
  tests/registry/test_filetype_identity.py
  tests/registry/test_register_unregister.py
  tests/registry/test_registry_facade.py
  tests/registry/test_registry_public_api.py
  tests/registry/test_registry_types.py
Due: lychee-src, docstring-ref-links

test(registry): strengthen registry contract coverage (#254)
  src/topmark/registry/filetypes.py
  tests/registry/test_filetype_identity.py
  tests/registry/test_register_unregister.py
  tests/registry/test_registry_facade.py
  tests/registry/test_registry_public_api.py
  tests/registry/test_registry_types.py
Due: lychee-src, docstring-ref-links

test(resolution): strengthen resolver contract coverage
  src/topmark/resolution/files.py
  tests/resolver/test_discovery.py
  tests/resolver/test_filetypes.py
  tests/resolver/test_probe.py
  tests/resolver/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

test(resolution): strengthen resolver contract coverage (#255)
  src/topmark/resolution/files.py
  tests/resolver/test_discovery.py
  tests/resolver/test_filetypes.py
  tests/resolver/test_probe.py
  tests/resolver/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

test(resolution): reorganize resolution test tree
  tests/cli/test_filters_and_types.py
  tests/resolution/__init__.py
  tests/resolution/files/__init__.py
  tests/resolution/files/_helpers.py
  tests/resolution/files/test_discovery_diagnostics.py
  tests/resolution/files/test_file_type_filters.py
  tests/resolution/files/test_files_from.py
  tests/resolution/files/test_inputs.py
  tests/resolution/files/test_pattern_filters.py
  tests/resolution/test_discovery.py
  tests/resolution/test_filetypes.py
  tests/resolution/test_probe.py
  tests/resolver/test_resolve_file_list.py
Due: none

test(resolution): reorganize resolution test tree (#256)
  tests/cli/test_filters_and_types.py
  tests/resolution/__init__.py
  tests/resolution/files/__init__.py
  tests/resolution/files/_helpers.py
  tests/resolution/files/test_discovery_diagnostics.py
  tests/resolution/files/test_file_type_filters.py
  tests/resolution/files/test_files_from.py
  tests/resolution/files/test_inputs.py
  tests/resolution/files/test_pattern_filters.py
  tests/resolution/test_discovery.py
  tests/resolution/test_filetypes.py
  tests/resolution/test_probe.py
  tests/resolver/test_resolve_file_list.py
Due: none

fix(ci): synchronize local cache action pin Update the local `setup-python-nox` composite action to use the same `astral-sh/setup-uv` pin as the workflow files after the Dependabot upgrade to v8.3.2.
  .github/actions/setup-python-nox/action.yml
Due: none

test(pipeline): strengthen context contracts
  src/topmark/pipeline/context/status.py
  tests/pipeline/context/__init__.py
  tests/pipeline/context/test_model.py
  tests/pipeline/context/test_policy.py
  tests/pipeline/context/test_status.py
  tests/typecheck/__init__.py
  tests/typecheck/pipeline/__init__.py
  tests/typecheck/pipeline/context_protocols.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen context contracts (#264)
  src/topmark/pipeline/context/status.py
  tests/pipeline/context/__init__.py
  tests/pipeline/context/test_model.py
  tests/pipeline/context/test_policy.py
  tests/pipeline/context/test_status.py
  tests/typecheck/__init__.py
  tests/typecheck/pipeline/__init__.py
  tests/typecheck/pipeline/context_protocols.py
Due: lychee-src, docstring-ref-links

test(pipeline): add adapter contract coverage
  src/topmark/pipeline/adapters.py
  tests/pipeline/test_adapters.py
Due: lychee-src, docstring-ref-links

test(pipeline): add adapter contract coverage (#265)
  src/topmark/pipeline/adapters.py
  tests/pipeline/test_adapters.py
Due: lychee-src, docstring-ref-links

test(pipeline): add direct contract tests for pipeline kind literals
  tests/pipeline/test_kinds.py
Due: none

test(pipeline): add direct contract tests for pipeline kind literals (#266)
  tests/pipeline/test_kinds.py
Due: none

test(pipeline): strengthen engine execution contracts
  src/topmark/pipeline/engine.py
  tests/pipeline/test_engine.py
  tests/pipeline/test_hard_link_identity.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen engine execution contracts (#267)
  src/topmark/pipeline/engine.py
  tests/pipeline/test_engine.py
  tests/pipeline/test_hard_link_identity.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen outcome classification contracts
  src/topmark/pipeline/outcomes.py
  tests/pipeline/test_outcomes.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen outcome classification contracts (#268)
  src/topmark/pipeline/outcomes.py
  tests/pipeline/test_outcomes.py
Due: lychee-src, docstring-ref-links

test(pipeline): cover synthetic context contracts
  tests/pipeline/test_synthetic.py
Due: none

test(pipeline): cover synthetic context contracts (#269)
  tests/pipeline/test_synthetic.py
Due: none

test(pipeline): strengthen whitespace policy contracts
  tests/pipeline/test_policy_whitespace.py
Due: none

test(pipeline): strengthen whitespace policy contracts (#270)
  tests/pipeline/test_policy_whitespace.py
Due: none

build: promote Python 3.14 and harden documentation tooling
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .python-version
  .readthedocs.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/setup-python-nox-action.md
  docs/ci/test-validation.md
  noxfile.py
  tests/dev_validation/test_code_hygiene_tooling.py
  tests/dev_validation/test_docs_hooks.py
  tests/dev_validation/test_docs_hygiene_tooling.py
  tests/dev_validation/test_docs_utils.py
  tools/docs/check_docs_hygiene.py
Due: lychee-md

fix(ci): pass resolved Python version to setup-uv
  .github/actions/setup-python-nox/action.yml
  docs/ci/setup-python-nox-action.md
Due: lychee-md

build: promote Python 3.14 and harden documentation tooling (#271)
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .python-version
  .readthedocs.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/setup-python-nox-action.md
  docs/ci/test-validation.md
  noxfile.py
  tests/dev_validation/test_code_hygiene_tooling.py
  tests/dev_validation/test_docs_hooks.py
  tests/dev_validation/test_docs_hygiene_tooling.py
  tests/dev_validation/test_docs_utils.py
  tools/docs/check_docs_hygiene.py
Due: lychee-md

test(pipeline): strengthen resolver step contracts
  src/topmark/pipeline/steps/resolver.py
  tests/pipeline/steps/test_resolver.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen resolver step contracts (#272)
  src/topmark/pipeline/steps/resolver.py
  tests/pipeline/steps/test_resolver.py
Due: lychee-src, docstring-ref-links

fix(pipeline): halt terminal sniffer outcomes
  CHANGELOG.md
  src/topmark/pipeline/steps/sniffer.py
  tests/pipeline/steps/test_sniffer.py
Due: lychee-src, docstring-ref-links

fix(pipeline): halt terminal sniffer outcomes (#273)
  CHANGELOG.md
  src/topmark/pipeline/steps/sniffer.py
  tests/pipeline/steps/test_sniffer.py
Due: lychee-src, docstring-ref-links

fix(pipeline): halt reader-owned mixed-newline refusals
  CHANGELOG.md
  src/topmark/pipeline/steps/reader.py
  tests/pipeline/steps/test_reader.py
Due: lychee-src, docstring-ref-links

test(pipeline): preserve LF in reader fixtures on Windows
  tests/pipeline/steps/test_reader.py
Due: none

fix(pipeline): strengthen reader contracts and terminal handling (#274)
  CHANGELOG.md
  src/topmark/pipeline/steps/reader.py
  tests/pipeline/steps/test_reader.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen scanner contracts and hints
  CHANGELOG.md
  src/topmark/pipeline/steps/scanner.py
  tests/pipeline/steps/test_scanner.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen scanner contracts and hints (#275)
  CHANGELOG.md
  src/topmark/pipeline/steps/scanner.py
  tests/pipeline/steps/test_scanner.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen builder step contracts
  src/topmark/pipeline/steps/builder.py
  tests/pipeline/steps/test_builder.py
Due: lychee-src, docstring-ref-links

test(pipeline): strengthen builder step contracts (#276)
  src/topmark/pipeline/steps/builder.py
  tests/pipeline/steps/test_builder.py
Due: lychee-src, docstring-ref-links

fix(pipeline): complete renderer empty-selection state
  CHANGELOG.md
  src/topmark/pipeline/steps/renderer.py
  tests/pipeline/steps/test_renderer.py
Due: lychee-src, docstring-ref-links

fix(pipeline): complete renderer empty-selection state (#277)
  CHANGELOG.md
  src/topmark/pipeline/steps/renderer.py
  tests/pipeline/steps/test_renderer.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen stripper failure contracts
  CHANGELOG.md
  src/topmark/pipeline/steps/stripper.py
  tests/pipeline/steps/test_stripper.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen stripper failure contracts (#278)
  CHANGELOG.md
  src/topmark/pipeline/steps/stripper.py
  tests/pipeline/steps/test_stripper.py
Due: lychee-src, docstring-ref-links

fix(pipeline): strengthen planner contracts and preview hints
  CHANGELOG.md
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/steps/planner.py
  tests/pipeline/steps/test_planner.py
Due: lychee-src, docstring-ref-links
