Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

Add durable processing result primitives (#150)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/context/status.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_context_status.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): decouple outcome classification from ProcessingContext
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/context/protocols.py
  src/topmark/pipeline/outcome_snapshot.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/pre_insert_advisory.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_outcomes.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): decouple outcome classification from ProcessingContext (#151)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/context/protocols.py
  src/topmark/pipeline/outcome_snapshot.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/pre_insert_advisory.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_outcomes.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): preserve execution mode in processing results
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/kinds.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/outcome_snapshot.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/result.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/outcomes.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/helpers/api.py
  tests/helpers/pipeline.py
  tests/pipeline/test_machine_payloads.py
  tests/pipeline/test_outcomes.py
  tests/pipeline/test_result.py
  tests/presentation/test_pipeline_rendering.py
  tests/presentation/test_shared_outcomes.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): preserve execution mode in processing results (#155)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/kinds.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/outcome_snapshot.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/result.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/outcomes.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/helpers/api.py
  tests/helpers/pipeline.py
  tests/pipeline/test_machine_payloads.py
  tests/pipeline/test_outcomes.py
  tests/pipeline/test_result.py
  tests/presentation/test_pipeline_rendering.py
  tests/presentation/test_shared_outcomes.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): add batch processing-result reduction boundary
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/reduction.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_reduction.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): add batch processing-result reduction boundary (#156)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/reduction.py
  src/topmark/pipeline/result.py
  tests/pipeline/test_reduction.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): make report filtering result-compatible
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/reporting.py
  tests/pipeline/test_reporting.py
Due: lychee-md, lychee-src, docstring-ref-links

docs: resolve duplicate architecture heading after main merge
  docs/dev/architecture.md
Due: lychee-md

refactor(pipeline): make report filtering result-compatible (#158)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/reporting.py
  tests/pipeline/test_reporting.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hooks (#159)
  .pre-commit-config.yaml
Due: none

feat(pipeline): add durable detail snapshots to ProcessingResult
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/result.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(pipeline): add durable detail snapshots to ProcessingResult (#160)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/pipeline/result.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(api): package check and strip results from durable snapshots
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  tests/api/test_api_probe.py
  tests/api/test_result_view.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(api): package check and strip results from durable snapshots (#161)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  tests/api/test_api_probe.py
  tests/api/test_result_view.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): render check strip output from processing results
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/machine-output.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/result.py
  src/topmark/presentation/markdown/paths.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/shared/outcomes.py
  src/topmark/presentation/shared/paths.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/probe.py
  tests/cli/machine/test_hard_link_identity_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/pipeline/test_machine_payloads.py
  tests/pipeline/test_outcomes.py
  tests/pipeline/test_reduction.py
  tests/presentation/test_pipeline_rendering.py
  tests/presentation/test_shared_outcomes.py
Due: lychee-md, lychee-src, docstring-ref-links

test(pipeline): align machine payload expectations with result classification
  tests/pipeline/test_machine_payloads.py
Due: none

Render check strip output from processing results (#162)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/performance-baselines.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/machine-output.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/result.py
  src/topmark/presentation/markdown/paths.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/shared/outcomes.py
  src/topmark/presentation/shared/paths.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/probe.py
  tests/cli/machine/test_hard_link_identity_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/pipeline/test_machine_payloads.py
  tests/pipeline/test_outcomes.py
  tests/pipeline/test_reduction.py
  tests/presentation/test_pipeline_rendering.py
  tests/presentation/test_shared_outcomes.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): clarify context/result ownership and release lifecycle
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/reduction.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/views.py
  src/topmark/runtime/model.py
  tests/cli/conftest.py
  tests/helpers/api.py
  tests/pipeline/integration/test_nested_config_e2e.py
  tests/pipeline/test_engine_path_configs.py
  tests/pipeline/test_hard_link_identity.py
  tests/pipeline/test_reduction.py
  tests/pipeline/test_view_pruning.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): clarify context/result ownership and release lifecycle (#163)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/reduction.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/views.py
  src/topmark/runtime/model.py
  tests/cli/conftest.py
  tests/helpers/api.py
  tests/pipeline/integration/test_nested_config_e2e.py
  tests/pipeline/test_engine_path_configs.py
  tests/pipeline/test_hard_link_identity.py
  tests/pipeline/test_reduction.py
  tests/pipeline/test_view_pruning.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): migrate probe output to durable results
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/pipeline/result.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/probe.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): migrate probe output to durable results (#164)
  CHANGELOG.md
  docs/dev/architecture.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/emitters/machine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/pipeline/result.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/probe.py
  tests/pipeline/test_result.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): introduce explicit pipeline catalogue and selection model
  CHANGELOG.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/usage/machine-output.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/pipelines.py
  src/topmark/pipeline/protocols.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/helpers/api.py
  tests/helpers/pipeline.py
  tests/pipeline/integration/test_nested_config_e2e.py
  tests/pipeline/test_engine_path_configs.py
  tests/pipeline/test_hard_link_identity.py
  tests/pipeline/test_outcomes.py
  tests/pipeline/test_pipelines.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): introduce explicit pipeline catalogue and selection model (#168)
  CHANGELOG.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/usage/machine-output.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/pipelines.py
  src/topmark/pipeline/protocols.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/runtime/model.py
  tests/helpers/api.py
  tests/helpers/pipeline.py
  tests/pipeline/integration/test_nested_config_e2e.py
  tests/pipeline/test_engine_path_configs.py
  tests/pipeline/test_hard_link_identity.py
  tests/pipeline/test_outcomes.py
  tests/pipeline/test_pipelines.py
  tools/perf/pipeline_memory_baseline.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): introduce streaming-capable reduction runtime path
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/reduction.py
  tests/api/test_api_check_and_strip.py
  tests/pipeline/test_engine_path_configs.py
  tests/pipeline/test_reduction.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): introduce streaming-capable reduction runtime path (#172)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/reduction.py
  tests/api/test_api_check_and_strip.py
  tests/pipeline/test_engine_path_configs.py
  tests/pipeline/test_reduction.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(api): complete probe durable-result runtime path
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/api/view.py
  src/topmark/cli/commands/probe.py
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_probe.py
  tests/api/test_api_runtime_probe_results.py
  tests/api/test_result_view.py
  tests/pipeline/integration/test_nested_config_e2e.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(api): complete probe durable-result runtime path (#173)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/api/view.py
  src/topmark/cli/commands/probe.py
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_probe.py
  tests/api/test_api_runtime_probe_results.py
  tests/api/test_result_view.py
  tests/pipeline/integration/test_nested_config_e2e.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(pipelines): clarify PipelineSelection and RunOptions ownership
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/pipelines.md
Due: lychee-md

docs(pipelines): clarify PipelineSelection and RunOptions ownership (#175)
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/pipelines.md
Due: lychee-md

docs(pipeline): document catalogue compatibility and extension guidelines
  CHANGELOG.md
  docs/dev/pipelines.md
Due: lychee-md

docs(pipeline): document catalogue compatibility and extension guidelines (#176)
  CHANGELOG.md
  docs/dev/pipelines.md
Due: lychee-md

feat(pipeline): add structured diff metadata and shadow-validation path
  CHANGELOG.md
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/structured_diff.py
  src/topmark/pipeline/views.py
  tests/pipeline/steps/test_patcher.py
  tests/pipeline/steps/test_planner.py
  tests/pipeline/steps/test_stripper.py
  tests/pipeline/test_structured_diff.py
  tests/pipeline/test_view_pruning.py
  tests/presentation/test_diff_render.py
Due: lychee-src, docstring-ref-links

test(planner): align text-insertion fallback expectations
  tests/pipeline/steps/test_planner.py
Due: none

Issue #167: Add structured diff metadata and shadow-validation renderer (#181)
  CHANGELOG.md
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/structured_diff.py
  src/topmark/pipeline/views.py
  tests/pipeline/steps/test_patcher.py
  tests/pipeline/steps/test_planner.py
  tests/pipeline/steps/test_stripper.py
  tests/pipeline/test_structured_diff.py
  tests/pipeline/test_view_pruning.py
  tests/presentation/test_diff_render.py
Due: lychee-src, docstring-ref-links

perf(pipeline): prefer structured diff for single-edit patches
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines.md
  src/topmark/pipeline/steps/patcher.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): prefer structured diff for single-edit patches (#182)
  CHANGELOG.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines.md
  src/topmark/pipeline/steps/patcher.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-md, lychee-src, docstring-ref-links

perf(pipeline): reduce comparison and patch materialization
  CHANGELOG.md
  docs/dev/architecture.md
  docs/dev/performance-baselines.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  src/topmark/pipeline/steps/base.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/prober.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/steps/test_base.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/steps/test_patcher.py
Due: lychee-md, lychee-src, docstring-ref-links
