Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

docs: align TOML/config architecture, CLI docs, and roadmap with schema validation model
  CONTRIBUTING.md
  README.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/contributing.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/strip.md
  docs/usage/policies.md
  docs/usage/pre-commit.md
Due: lychee-md

docs(mermaid): normalize flow diagrams to explicit node-first declarations
  docs/dev/pipelines.md
  docs/usage/commands/registry.md
  src/topmark/pipeline/pipelines.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(deps): update locked dependencies in uv.lock
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

docs: clarify PEP 440 versioning and update roadmap for 1.0 stabilization
  CONTRIBUTING.md
  docs/dev/api-stability.md
  docs/dev/roadmap.md
Due: lychee-md

feat(toml): distinguish unknown top-level keys from sections in validation
  src/topmark/toml/schema.py
  src/topmark/toml/validation.py
Due: lychee-src, docstring-ref-links

refactor(pipeline-machine): align summary schemas, payloads, and docs with flat summary rows
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/schemas.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(cli): clarify config_check machine output terminology in emitter
  src/topmark/cli/emitters/machine.py
Due: lychee-src, docstring-ref-links

docs(toml): clarify malformed-section validation policy in schema
  src/topmark/toml/schema.py
Due: lychee-src, docstring-ref-links

feat(toml): emit INFO diagnostics for missing sections in schema validation
  src/topmark/toml/schema.py
  src/topmark/toml/validation.py
  tests/toml/test_schema_validation.py
Due: lychee-src, docstring-ref-links

docs(configuration): reflect TOML missing-section diagnostics and strictness semantics
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/architecture.md
Due: lychee-md

docs(config): clarify strict_config_checking semantics and effective strictness
  src/topmark/api/runtime.py
  src/topmark/config/model.py
  src/topmark/config/resolution/bridge.py
  src/topmark/core/errors.py
  src/topmark/toml/parse.py
  src/topmark/toml/topmark-example.toml
Due: lychee-src, docstring-ref-links

docs(commands,config): align strict_config_checking semantics and machine output
  README.md
  docs/dev/config-schema.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/strip.md
Due: lychee-md

refactor(config): clarify validation-boundary wording and helper names
  src/topmark/api/runtime.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/model.py
  src/topmark/config/resolution/bridge.py
  src/topmark/toml/getters.py
Due: lychee-src, docstring-ref-links

feat(docs,markdown): add generated example config and standardize version footer
  README.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  lychee.toml
  mkdocs.yml
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/presentation/markdown/config.py
  src/topmark/presentation/markdown/registry.py
  src/topmark/presentation/markdown/version.py
  src/topmark/toml/topmark-example.toml
  tools/docs/gen_api_pages.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(api): tighten runtime config validation docstrings for strictness semantics
  src/topmark/api/runtime.py
Due: lychee-src, docstring-ref-links

refactor(core,toml): move generic mapping helpers to core and clarify validation boundaries
  src/topmark/config/machine/payloads.py
  src/topmark/core/typing_guards.py
  src/topmark/toml/getters.py
Due: lychee-src, docstring-ref-links

refactor(toml): remove duplicated schema metadata from keys module
  src/topmark/toml/keys.py
  src/topmark/toml/schema.py
Due: lychee-src, docstring-ref-links

test(toml): add focused schema validation coverage for diagnostic codes and malformed sections
  tests/toml/test_schema_validation.py
Due: none

test(machine): add contract tests for processing JSON/NDJSON summary shapes
  tests/cli/machine/test_config_check_machine.py
  tests/cli/machine/test_processing_machine.py
Due: none

test(config): cover strictness gating across TOML, info, and sanitization diagnostics
  tests/config/test_config_strictness_and_validity.py
Due: none

docs(roadmap): update 1.0 readiness, breaking changes, and stabilization status
  docs/dev/roadmap.md
Due: lychee-md

refactor(packaging): adopt setuptools-scm and remove static version from pyproject
  .gitignore
  pyproject.toml
  src/topmark/constants.py
  uv.lock
Due: lychee-src, docstring-ref-links

ci(release): validate SCM-derived versions in release workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

docs(versioning): align contributor and CI docs with setuptools-scm tag-based releases
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/ci/ci-workflow.md
  docs/ci/dependabot.md
  docs/ci/release-workflow.md
  docs/contributing.md
  docs/dev/api-stability.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/version.md
Due: lychee-md

ci(release): harden workflow_run security and switch to tag-based checkouts
  .github/workflows/release.yml
Due: none

ci(security): harden release workflow and normalize YAML formatting
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .vscode/settings.json
Due: none

ci(release): switch privileged publish flow to CI-built artifacts
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci(release): gate release artifact build on full tag-push CI checks
  .github/workflows/ci.yml
Due: none

docs(ci): document artifact-based release pipeline and security model
  CONTRIBUTING.md
  docs/ci/ci-workflow.md
  docs/ci/release-workflow.md
  docs/contributing.md
Due: lychee-md

docs(release): update roadmap and changelog for 1.0.0a1 release prep
  CHANGELOG.md
  docs/dev/roadmap.md
Due: lychee-md

fix(release): correct checksum verification and simplify publish bootstrap
  .github/workflows/release.yml
Due: none

fix(ci): harden release workflow and finalize artifact-based publish flow
  .github/workflows/release.yml
Due: none

docs(changelog): normalize headings and ensure unique anchors
  CHANGELOG.md
Due: none

docs: align release workflow, roadmap, and user documentation
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/ci/release-workflow.md
  docs/dev/roadmap.md
Due: lychee-md

ci(release): enforce single release tag per commit and document preflight behavior
  .github/workflows/release.yml
  docs/ci/release-workflow.md
Due: lychee-md

refactor(config, diagnostics, tests): introduce staged validation logs and migrate config diagnostics
  src/topmark/config/io/deserializers.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/resolution/bridge.py
  src/topmark/config/validation.py
  src/topmark/diagnostic/model.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_strictness_and_validity.py
  tests/config/test_merge_semantics_invariants.py
  tests/helpers/diagnostics.py
Due: lychee-src, docstring-ref-links

feat(filetypes, json, tests): add native .jsonc support and split ambiguous .json JSONC detection
  src/topmark/filetypes/builtins/data.py
  src/topmark/filetypes/checks/json_like.py
  tests/processors/test_slash.py
  tests/processors/test_slash_indent.py
Due: lychee-src, docstring-ref-links

chore(docs, devx): add markdownlint support and suppress MD041 for snippets
  .vscode/extensions.json
  docs/_snippets/.markdownlint.jsonc
Due: none

refactor(config, api, errors): evaluate validity from staged validation logs
  src/topmark/api/runtime.py
  src/topmark/config/model.py
  src/topmark/core/errors.py
Due: lychee-src, docstring-ref-links

docs(config, api, machine): document staged config-validation semantics
  CONTRIBUTING.md
  README.md
  docs/_snippets/config-resolution.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/strip.md
  docs/usage/pre-commit.md
Due: lychee-md
