Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

chore(deps): update project dependencies and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  src/topmark/cli/options.py
  tests/processors/test_instances_contracts.py
  uv.lock
Due: lychee-src, docstring-ref-links

chore(deps): update project dependencies and pre-commit hooks (#341)
  .pre-commit-config.yaml
  pyproject.toml
  src/topmark/cli/options.py
  tests/processors/test_instances_contracts.py
  uv.lock
Due: lychee-src, docstring-ref-links

docs(design): revise multiline header field rendering
  docs/dev/configuration-schema.md
  docs/dev/index.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/configuration.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  mkdocs.yml
  src/topmark/toml/topmark-example.toml
Due: lychee-md

docs(design): revise multiline header field rendering (#340)
  docs/dev/configuration-schema.md
  docs/dev/index.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/configuration.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  mkdocs.yml
  src/topmark/toml/topmark-example.toml
Due: lychee-md

feat(headers): simplify multiline field rendering
  CHANGELOG.md
  src/topmark/config/io/deserializers.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/processors/base.py
  tests/api/test_api_check_and_strip.py
  tests/config/test_config_deserializers.py
  tests/pipeline/steps/test_comparer.py
  tests/processors/test_multiline_fields.py
Due: lychee-src, docstring-ref-links

test(headers): cover multiline field error paths
  tests/pipeline/steps/test_comparer.py
  tests/processors/test_multiline_fields.py
Due: none

feat(headers): simplify multiline field rendering (#342)
  CHANGELOG.md
  src/topmark/config/io/deserializers.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/processors/base.py
  tests/api/test_api_check_and_strip.py
  tests/config/test_config_deserializers.py
  tests/pipeline/steps/test_comparer.py
  tests/processors/test_multiline_fields.py
Due: lychee-src, docstring-ref-links

chore(deps): upgrade hypothesis to 6.168.0
  uv.lock
Due: none

build(deps): upgrade uv to 0.12
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

build(deps): upgrade uv to 0.12 (#343)
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deps): raise rich-click compatibility floor
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deps): raise rich-click compatibility floor (#344)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(ci): clarify combined matrix coverage
  docs/ci/ci-workflow.md
Due: lychee-md

docs(ci): clarify combined matrix coverage (#345)
  docs/ci/ci-workflow.md
Due: lychee-md

fix(ci): synchronize action pin
  .github/actions/setup-python-nox/action.yml
Due: none

chore (deps): update dependencies and pre-commit hooks
  .pre-commit-config.yaml
  uv.lock
Due: none

chore (deps): update dependencies and pre-commit hooks (#354)
  .pre-commit-config.yaml
  uv.lock
Due: none

fix(docs): reject Windows-rooted generated doc paths
  tests/dev_validation/test_zensical_docs_preparation.py
  tools/docs/gen_api_pages.py
Due: none

docs: add Zensical compatibility pilot
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/setup-python-nox-action.md
  docs/ci/test-validation.md
  docs/dev/documentation-pipeline.md
  docs/dev/registry-model.md
  docs/usage/shared-options.md
  noxfile.py
  pyproject.toml
  tests/dev_validation/test_zensical_docs_preparation.py
  tools/docs/gen_api_pages.py
  tools/docs/prepare_zensical_docs.py
  uv.lock
Due: lychee-md

docs: add Zensical compatibility pilot (#356)
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/setup-python-nox-action.md
  docs/ci/test-validation.md
  docs/dev/documentation-pipeline.md
  docs/dev/registry-model.md
  docs/usage/shared-options.md
  noxfile.py
  pyproject.toml
  tests/dev_validation/test_zensical_docs_preparation.py
  tools/docs/gen_api_pages.py
  tools/docs/prepare_zensical_docs.py
  uv.lock
Due: lychee-md

ci: skip duplicate project-link check in release_full (#358)
  CHANGELOG.md
  noxfile.py
Due: none

ci: skip duplicate project-link check in release_full (#358) (#359)
  CHANGELOG.md
  noxfile.py
Due: none

docs: adopt api-autonav for module references (#360)
  CHANGELOG.md
  docs/api/index.md
  docs/api/internals.md
  docs/dev/documentation-pipeline.md
  docs/dev/pipelines-reference.md
  lychee.toml
  mkdocs.yml
  pyproject.toml
  tests/dev_validation/test_docs_utils.py
  tests/dev_validation/test_zensical_docs_preparation.py
  tools/docs/__init__.py
  tools/docs/docs_utils.py
  tools/docs/gen_api_pages.py
  tools/docs/gen_cli_reference_pages.py
  tools/docs/hooks.py
  tools/docs/prepare_zensical_docs.py
  typings/mkdocs_gen_files/__init__.pyi
  uv.lock
Due: lychee-md

docs: adopt api-autonav for module references (#360) (#361)
  CHANGELOG.md
  docs/api/index.md
  docs/api/internals.md
  docs/dev/documentation-pipeline.md
  docs/dev/pipelines-reference.md
  lychee.toml
  mkdocs.yml
  pyproject.toml
  tests/dev_validation/test_docs_utils.py
  tests/dev_validation/test_zensical_docs_preparation.py
  tools/docs/__init__.py
  tools/docs/docs_utils.py
  tools/docs/gen_api_pages.py
  tools/docs/gen_cli_reference_pages.py
  tools/docs/hooks.py
  tools/docs/prepare_zensical_docs.py
  typings/mkdocs_gen_files/__init__.pyi
  uv.lock
Due: lychee-md

docs: consolidate documentation terminology
  CHANGELOG.md
  README.md
  docs/_snippets/file-type-identifiers.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/configuration-schema.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  docs/index.md
  docs/terminology.md
  docs/usage/configuration.md
  docs/usage/shared-options.md
  mkdocs.yml
Due: lychee-md

docs: consolidate documentation terminology (#362)
  CHANGELOG.md
  README.md
  docs/_snippets/file-type-identifiers.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/configuration-schema.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  docs/index.md
  docs/terminology.md
  docs/usage/configuration.md
  docs/usage/shared-options.md
  mkdocs.yml
Due: lychee-md

test: replace TOPMARK_VALIDATE runtime checks
  CHANGELOG.md
  CONTRIBUTING.md
  docs/ci/test-validation.md
  src/topmark/registry/processors.py
  tests/dev_validation/test_registry_validation.py
  tests/processors/test_instances_contracts.py
Due: lychee-md, lychee-src, docstring-ref-links

test: replace TOPMARK_VALIDATE runtime checks (#363)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/ci/test-validation.md
  src/topmark/registry/processors.py
  tests/dev_validation/test_registry_validation.py
  tests/processors/test_instances_contracts.py
Due: lychee-md, lychee-src, docstring-ref-links

build: manage Nox through uv project dependencies
  .python-version
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  Makefile
Due: none

build: manage Nox through uv project dependencies (#367)
  .python-version
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  Makefile
Due: none

ci: enforce Conventional Commit titles
  .github/workflows/pull-request-title.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  docs/_snippets/ci/related-pages.md
  docs/ci/index.md
  docs/ci/pull-request-title.md
  docs/dev/dependency-maintenance.md
  mkdocs.yml
Due: lychee-md

ci: enforce Conventional Commit titles (#369)
  .github/workflows/pull-request-title.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  docs/_snippets/ci/related-pages.md
  docs/ci/index.md
  docs/ci/pull-request-title.md
  docs/dev/dependency-maintenance.md
  mkdocs.yml
Due: lychee-md

docs: clarify commit body formatting
  CONTRIBUTING.md
Due: none

docs: clarify commit body formatting (#370)
  CONTRIBUTING.md
Due: none

feat(docs): migrate production pipeline to Zensical
  .github/workflows/ci.yml
  .readthedocs.yml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/assets/version-warning.js
  docs/ci/ci-workflow.md
  docs/ci/test-validation.md
  docs/contributing.md
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
  docs/dev/roadmap.md
  lychee.toml
  mkdocs.linkcheck.yml
  mkdocs.yml
  noxfile.py
  pyproject.toml
  tests/dev_validation/test_docs_hooks.py
  tests/dev_validation/test_zensical_docs_preparation.py
  tests/dev_validation/test_zensical_output_parity.py
  tools/docs/__init__.py
  tools/docs/check_docs_hygiene.py
  tools/docs/check_project_links.py
  tools/docs/check_zensical_parity.py
  tools/docs/gen_cli_reference_pages.py
  tools/docs/hooks.py
  tools/docs/prepare_zensical_docs.py
  typings/mkdocs_gen_files/__init__.pyi
  uv.lock
  zensical.toml
Due: lychee-md

feat(docs): migrate production pipeline to Zensical (#373)
  .github/workflows/ci.yml
  .readthedocs.yml
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/assets/version-warning.js
  docs/ci/ci-workflow.md
  docs/ci/test-validation.md
  docs/contributing.md
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
  docs/dev/roadmap.md
  lychee.toml
  mkdocs.linkcheck.yml
  mkdocs.yml
  noxfile.py
  pyproject.toml
  tests/dev_validation/test_docs_hooks.py
  tests/dev_validation/test_zensical_docs_preparation.py
  tests/dev_validation/test_zensical_output_parity.py
  tools/docs/__init__.py
  tools/docs/check_docs_hygiene.py
  tools/docs/check_project_links.py
  tools/docs/check_zensical_parity.py
  tools/docs/gen_cli_reference_pages.py
  tools/docs/hooks.py
  tools/docs/prepare_zensical_docs.py
  typings/mkdocs_gen_files/__init__.pyi
  uv.lock
  zensical.toml
Due: lychee-md

fix(docs): publish Zensical site on Read the Docs
  .readthedocs.yml
  CHANGELOG.md
Due: none

fix(docs): publish Zensical site on Read the Docs (#375)
  .readthedocs.yml
  CHANGELOG.md
Due: none

fix(docs): invoke uv module in Read the Docs jobs
  .readthedocs.yml
  CHANGELOG.md
Due: none
