Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

docs: enforce changelog heading hygiene
  CHANGELOG.md
  tools/docs/check_docs_hygiene.py
Due: none

feat(pre-commit): add diagnostic topmark-probe hook
  .pre-commit-hooks.yaml
  docs/usage/pre-commit.md
Due: lychee-md

docs(dev): introduce canonical terminology reference
  docs/dev/terminology.md
  mkdocs.yml
Due: lychee-md

docs(dev): rename config schema reference to configuration schema
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  mkdocs.yml
Due: lychee-md

fix(docs): Fix broken nav link in mkdocs.yml
  mkdocs.yml
Due: none

fix(tools): enhance Diagnostic dataclass with kw_only and slots options
  tools/docs/check_docs_hygiene.py
Due: none

refactor(policy)!: rename Policy to FrozenPolicy
  docs/configuration/discovery.md
  docs/dev/architecture.md
  src/topmark/config/model.py
  src/topmark/config/policy.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/steps/writer.py
  tests/config/test_policy_resolution.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(diagnostics)!: rename DiagnosticLog to MutableDiagnosticLog
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/resolution/bridge.py
  src/topmark/config/validation.py
  src/topmark/core/errors.py
  src/topmark/diagnostic/__init__.py
  src/topmark/diagnostic/machine/__init__.py
  src/topmark/diagnostic/machine/envelopes.py
  src/topmark/diagnostic/machine/schemas.py
  src/topmark/diagnostic/model.py
  src/topmark/diagnostic/types.py
  src/topmark/pipeline/context/model.py
  src/topmark/presentation/markdown/diagnostic.py
  src/topmark/presentation/text/diagnostic.py
  src/topmark/processors/base.py
  src/topmark/toml/getters.py
  src/topmark/toml/resolution.py
  src/topmark/toml/validation.py
  tests/config/resolution/test_bridge.py
  tests/config/test_config_validation_error.py
  tests/config/test_io.py
  tests/config/test_merge_semantics_invariants.py
Due: lychee-src, docstring-ref-links

refactor(validation)!: rename ValidationLogs to FrozenValidationLogs
  src/topmark/config/model.py
  src/topmark/config/validation.py
  src/topmark/core/errors.py
  tests/config/test_config_validation_error.py
  tests/helpers/diagnostics.py
Due: lychee-src, docstring-ref-links

chore(deps): update dependencies and refresh pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  src/topmark/toml/render.py
  uv.lock
Due: lychee-src, docstring-ref-links

docs(config): refine canonical TOML example template
  src/topmark/toml/topmark-example.toml
Due: none

docs(cli): align config command terminology with runtime model
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/config/resolution/bridge.py
  src/topmark/toml/parse.py
Due: lychee-src, docstring-ref-links

chore(hygiene): add Python prose hygiene checks
  Makefile
  docs/dev/documentation-conventions.md
  docs/dev/documentation-pipeline.md
  noxfile.py
  tools/docs/check_code_hygiene.py
Due: lychee-md

docs(roadmap): record beta documentation governance outcomes
  docs/dev/roadmap.md
Due: lychee-md

chore(deps): update pre-commit dependencies
  .pre-commit-config.yaml
Due: none

chore(deps): require typed tomlkit dumps support
  pyproject.toml
  uv.lock
Due: none

docs(roadmap): record final beta stabilization work
  docs/dev/roadmap.md
Due: lychee-md

docs(changelog): prepare 1.0.0b4 beta release notes
  CHANGELOG.md
Due: none

fix(types): simplify Click option kwargs typing
  CHANGELOG.md
  src/topmark/cli/options.py
Due: lychee-src, docstring-ref-links

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

test(pipeline): add planner step coverage
  tests/pipeline/steps/test_planner.py
Due: none

test(pipeline): harden stripper step coverage
  tests/pipeline/steps/test_stripper.py
Due: none

test(pipeline): add focused WriterStep lifecycle and sink behavior tests
  tests/pipeline/steps/test_writer.py
Due: none

test(pipeline): harden patcher step coverage
  tests/pipeline/steps/test_patcher.py
Due: none

test(toml): add template surgery coverage
  tests/toml/test_template_surgery.py
Due: none

test(toml): add structural surgery coverage
  tests/toml/test_surgery.py
Due: none

test(toml): add getter helper coverage
  tests/toml/test_getters.py
Due: none

test(presentation): harden diagnostic rendering coverage
  tests/presentation/test_diagnostic_rendering.py
Due: none

test(presentation): add registry rendering coverage
  tests/presentation/test_registry_rendering.py
Due: none

refactor(core): extract shared outcome primitives
  src/topmark/api/__init__.py
  src/topmark/api/types.py
  src/topmark/api/view.py
  src/topmark/core/outcomes.py
  src/topmark/pipeline/outcomes.py
  src/topmark/presentation/shared/outcomes.py
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_core.py
  tests/api/test_api_smoke.py
  tests/api/test_buckets_check.py
  tests/api/test_buckets_strip.py
Due: lychee-src, docstring-ref-links

test(presentation): extract Markdown table assertion helpers
  tests/presentation/conftest.py
  tests/presentation/test_registry_rendering.py
Due: none

test(presentation): add pipeline rendering coverage
  tests/presentation/test_pipeline_rendering.py
Due: none

docs(api): tidy generated API page helpers
  tools/docs/gen_api_pages.py
Due: none

docs(api): fix fenced example indentation in package docstring
  src/topmark/api/__init__.py
Due: lychee-src, docstring-ref-links

test(cli): add typed CLI state bootstrap coverage
  tests/cli/test_state.py
Due: none

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
