Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

ci(python): add Python 3.14 prerelease support to test matrix
  .github/workflows/ci.yml
Due: none

build: add Python 3.10–3.14 support; overhaul Makefile/tox; integrate Hypothesis and fix edge-case bugs
  .gitignore
  .pre-commit-config.yaml
  Makefile
  mypy.ini
  pyproject.toml
  src/topmark/config/io.py
  src/topmark/filetypes/base.py
  src/topmark/filetypes/builtins/web.py
  src/topmark/filetypes/checks/xml.py
  src/topmark/pipeline/processors/mixins.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/updater.py
  tests/pipeline/conftest.py
  tests/pipeline/processors/test_xml.py
  tests/pipeline/steps/test_stripper.py
  tests/pipeline/test_bom_shebang_policy.py
  tests/pipeline/test_header_bounds_property.py
  tests/snapshots.py
  tests/strategies_topmark.py
  tox.ini
Due: lychee-src, docstring-ref-links

docs(contrib): refresh contributor, install, api-stability, and readme docs for new workflow
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/dev/api-stability.md
Due: lychee-md

ci: switch CI/Release to tox-first; add caching & pre-commit job; drop dev-validation; update docs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/ci/ci-workflow.md
  docs/ci/dev-validation.md
  docs/ci/release-workflow.md
Due: lychee-md

ci: fix missing files error by checking out repo before setup-python/cache steps
  .github/workflows/ci.yml
Due: none

docs(ci): fix broken relative links to workflow YAMLs
  docs/ci/ci-workflow.md
  docs/ci/release-workflow.md
Due: lychee-md

ci(pre-commit): skip heavy/duplicated hooks in CI; rely on dedicated jobs
  .github/workflows/ci.yml
Due: none

chore(release): 0.9.1rc1
  pyproject.toml
Due: none

chore(release): bump version to 0.9.1 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): prepare for next development iteration
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

fix(cli): refine compliance filtering to exclude policy-blocked files
  src/topmark/cli/cmd_common.py
Due: lychee-src, docstring-ref-links

docs: update README and discovery docs for new policy system
  README.md
  docs/configuration/discovery.md
Due: lychee-md

fix(tox): fix linting with pydoclint
  tox.ini
Due: none

perf(resolver,config,tests): speed up file resolution and honor extra exclusions
  .gitignore
  pyproject.toml
  src/topmark/file_resolver.py
  tests/unit/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

feat(config,core,pipeline): add shared diagnostics and TOML nesting helper
  src/topmark/config/__init__.py
  src/topmark/config/io.py
  src/topmark/config/model.py
  src/topmark/config/types.py
  src/topmark/constants.py
  src/topmark/core/diagnostics.py
  src/topmark/pipeline/context.py
  src/topmark/pipeline/steps/writer.py
  tests/config/test_io.py
  tests/pipeline/steps/test_reader.py
Due: lychee-src, docstring-ref-links

feat(cli)!: enrich machine output and surface config diagnostics
  src/topmark/cli/cmd_common.py
  src/topmark/cli/utils.py
  src/topmark/cli_shared/utils.py
Due: lychee-src, docstring-ref-links

feat(cli,config)!: introduce config command group, unify output formatting, and remove legacy commands
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/init_config.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli/commands/show_defaults.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/main.py
  tests/cli/test_completion_integration.py
  tests/cli/test_dump_config_output.py
  tests/cli/test_help_all.py
  tests/cli/test_version.py
Due: lychee-src, docstring-ref-links

docs(cli): document config command family and updated machine output
  README.md
  docs/ci/dev-validation.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config_defaults.md
  docs/usage/commands/config_dump.md
  docs/usage/commands/config_init.md
  docs/usage/commands/filetypes.md
  docs/usage/commands/processors.md
  docs/usage/commands/strip.md
Due: lychee-md

docs(config,dev): add machine-output reference, update stability notes, and fix broken anchor
  docs/configuration/discovery.md
  docs/dev/api-stability.md
  docs/dev/machine-output.md
  mkdocs.yml
Due: lychee-md

feat(cli,docs)!: add meta payload to machine output and extract shared builders
  docs/dev/machine-output.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  src/topmark/cli/utils.py
  src/topmark/cli_shared/machine_output.py
  src/topmark/cli_shared/utils.py
  tests/cli/test_machine_output.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(pipeline): unify step/axis contracts, introduce primary_axis; replace step_statuses with step_axes; fix summary color resolution
  src/topmark/pipeline/context.py
  src/topmark/pipeline/contracts.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/base.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
Due: lychee-src, docstring-ref-links

fix(pipeline,api): correct typo in RenderStatus message; reduce noisy warnings to info-level
  src/topmark/api/view.py
  src/topmark/pipeline/status.py
Due: lychee-src, docstring-ref-links

docs(machine-output,cli): document updated JSON/NDJSON schemas and per-file payloads
  docs/dev/machine-output.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
Due: lychee-md

test(cli,machine-output): add JSON/NDJSON contract tests for processing commands
  tests/cli/test_machine_output.py
Due: none

docs(machine-output): update machine JSON/NDJSON schema docs for new outcome fields and policy helpers
  docs/dev/machine-output.md
Due: lychee-md

refactor(pipeline,context,view,cli): move policy helpers and summary rendering out of ProcessingContext
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/utils.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/context/status.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/writer.py
Due: lychee-src, docstring-ref-links

refactor(core,cli,pipeline): centralize ExitCode in core.exit_codes
  src/topmark/api/__init__.py
  src/topmark/api/runtime.py
  src/topmark/api/view.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/errors.py
  src/topmark/core/exit_codes.py
  src/topmark/pipeline/engine.py
  tests/api/test_api_discovery_parity.py
  tests/cli/conftest.py
  tests/cli/test_config_overrides.py
Due: lychee-src, docstring-ref-links

chore(deps,lint,docs): tighten dependency ranges and update mdformat/ruff toolchain
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

chore(release): cut 0.10.0 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): bump version to 0.10.1 and update CHANGELOG
  CHANGELOG.md
  pyproject.toml
Due: none

chore(dev,pre-commit): bump to 0.10.2.dev0 and update topmark hook version
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor(context,status): rename HeaderProcessingStatus to ProcessingStatus and update all references
  docs/dev/machine-output.md
  docs/usage/commands/check.md
  src/topmark/pipeline/context/__init__.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/status.py
  src/topmark/pipeline/hints.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(core,config,pipeline): centralize diagnostics and halt state; introduce HintLog
  src/topmark/api/view.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/utils.py
  src/topmark/cli_shared/machine_output.py
  src/topmark/config/model.py
  src/topmark/core/diagnostics.py
  src/topmark/pipeline/context/__init__.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/steps/base.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/writer.py
  tests/pipeline/processors/test_xml.py
  tests/pipeline/processors/test_xml_single_line_roundtrip.py
Due: lychee-src, docstring-ref-links

refactor(pipeline): extract resolver helpers and honour file-type filters
  src/topmark/pipeline/steps/resolver.py
Due: lychee-src, docstring-ref-links

refactor(writer): simplify policy enforcement logic in WriterStep
  src/topmark/pipeline/steps/writer.py
Due: lychee-src, docstring-ref-links

fix(config,pipeline): correct policy resolution and FS sniffing; add coverage
  src/topmark/config/model.py
  src/topmark/config/policy.py
  src/topmark/pipeline/steps/sniffer.py
  tests/config/test_policy_resolution.py
  tests/pipeline/steps/test_sniffer.py
Due: lychee-src, docstring-ref-links

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
