Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

build(version): bump to 0.6.3.dev0 - Use PEP 440 dev version to prepare for `0.6.3rc1` tagging without publishing
  pyproject.toml
Due: none

docs: add header examples - Enrich `README.md` and `docs/index.md` with concrete header examples (bash, XML, JS)
  README.md
  docs/index.md
Due: lychee-md

ci(release): gate publish on strict docs; unify publish job; add safety checks
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(tox): fix whitespace
  tox.ini
Due: none

ci(release,ci): harden workflows; gate publishing on docs+tests; add RC/TestPyPI guardrails; docs updated
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  docs/ci/ci-workflow.md
  docs/ci/release-workflow.md
  mkdocs.yml
Due: lychee-md

ci: split checks job into lint and docs with separate lockfiles
  .github/workflows/ci.yml
Due: none

chore(deps): add pinned requirements files for reproducible installs
  .gitignore
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

ci(lint): remove duplicate docs build step
  .github/workflows/ci.yml
Due: none

ci: align workflows with pinned requirement files and improve docs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/ci/ci-workflow.md
  docs/ci/release-workflow.md
Due: lychee-md

chore(config): remove stray topmark.toml from repository
  topmark.toml
Due: none

chore(release): bump version to 0.6.3rc1 and update CHANGELOG for 0.6.3
  CHANGELOG.md
  pyproject.toml
Due: none

feat(cli): add `--semver` option to `topmark version` and standardize JSON/Markdown outputs
  docs/usage/commands/version.md
  src/topmark/cli/commands/version.py
  src/topmark/utils/version.py
  tests/cli/test_version.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(release): prepare 0.7.0rc1
  CHANGELOG.md
  pyproject.toml
Due: none

ci(workflows): gate releases on CI success; refactor release pipeline; harden checks; update docs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/ci/ci-workflow.md
  docs/ci/release-workflow.md
Due: lychee-md

chore(release): prepare 0.7.0-rc2 and docs updates
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

fix(ci): correct quoting in release.yml check-version step
  .github/workflows/release.yml
Due: none

chore(release): 0.7.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore(workflows): harden release pipeline and enforce version/doc gates
  .github/workflows/release.yml
Due: none

chore(deps): bump ruff-pre-commit and topmark hooks; start 0.7.1.dev cycle
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(types): fix incorrectly placed type annotation causing redefinition error
  src/topmark/utils/version.py
Due: lychee-src, docstring-ref-links

feat(processors,filetypes,types): add CBlockHeaderProcessor; register CSS/SCSS/LESS/Stylus/SQL/Solidity; support .pyi in Pound test(cblock): add comprehensive test suite
  src/topmark/filetypes/instances.py
  src/topmark/pipeline/processors/cblock.py
  src/topmark/pipeline/processors/pound.py
  tests/pipeline/processors/test_cblock.py
Due: lychee-src, docstring-ref-links

refactor(pipeline,types): tighten typing across pipeline modules
  src/topmark/pipeline/__init__.py
  src/topmark/pipeline/context.py
  src/topmark/pipeline/contracts.py
  src/topmark/pipeline/processors/__init__.py
  src/topmark/pipeline/processors/base.py
  src/topmark/pipeline/processors/slash.py
  src/topmark/pipeline/processors/xml.py
  src/topmark/pipeline/runner.py
  src/topmark/pipeline/steps/__init__.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/pipeline/steps/updater.py
Due: lychee-src, docstring-ref-links

refactor(cli,cli_shared,types): enforce strict typing and logger annotations
  src/topmark/cli/__init__.py
  src/topmark/cli/cli_types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/dump_config.py
  src/topmark/cli/commands/filetypes.py
  src/topmark/cli/commands/init_config.py
  src/topmark/cli/commands/processors.py
  src/topmark/cli/commands/show_defaults.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/config_resolver.py
  src/topmark/cli/console_helpers.py
  src/topmark/cli/console_std.py
  src/topmark/cli/errors.py
  src/topmark/cli/io.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/cli/utils.py
  src/topmark/cli_shared/utils.py
Due: lychee-src, docstring-ref-links

refactor(src,types): enforce strict typing & annotations across remaining modules
  src/topmark/__init__.py
  src/topmark/api/__init__.py
  src/topmark/config/__init__.py
  src/topmark/config/io.py
  src/topmark/config/logging.py
  src/topmark/constants.py
  src/topmark/file_resolver.py
  src/topmark/filetypes/__init__.py
  src/topmark/filetypes/base.py
  src/topmark/filetypes/policy.py
  src/topmark/filetypes/registry.py
  src/topmark/registry/__init__.py
  src/topmark/registry/filetypes.py
  src/topmark/registry/processors.py
  src/topmark/rendering/api.py
  src/topmark/rendering/formats.py
  src/topmark/utils/__init__.py
  src/topmark/utils/diff.py
  src/topmark/utils/file.py
  src/topmark/utils/version.py
Due: lychee-src, docstring-ref-links

refactor(tools,types): add strict typing to helper scripts
  tools/__init__.py
  tools/api_snapshot.py
  tools/check_docstring_links.py
Due: none

chore(typings): add TopMark project headers to .pyi files
  typings/mkdocs_gen_files/__init__.pyi
Due: none

fix(cli/processors): treat filetypes as dicts in --long output; rename locals
  src/topmark/cli/commands/processors.py
Due: lychee-src, docstring-ref-links

docs: update examples and filetypes list with CBlockHeaderProcessor
  README.md
  docs/usage/filetypes.md
Due: lychee-md

chore(release): prepare 0.8.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): bump to 0.8.1.dev0 and update pre-commit hook to v0.8.0
  .pre-commit-config.yaml
  pyproject.toml
Due: none

refactor(filetypes): extract JSONC content matcher to detectors package; update registry & tests
  src/topmark/filetypes/detectors/__init__.py
  src/topmark/filetypes/detectors/jsonc.py
  src/topmark/filetypes/instances.py
  tests/pipeline/processors/test_slash.py
Due: lychee-src, docstring-ref-links

refactor(filetypes): split monolithic instances into built-in groups; keep instances.py as aggregator
  src/topmark/filetypes/builtins/__init__.py
  src/topmark/filetypes/builtins/core_langs.py
  src/topmark/filetypes/builtins/data.py
  src/topmark/filetypes/builtins/docs.py
  src/topmark/filetypes/builtins/ops.py
  src/topmark/filetypes/builtins/scripting.py
  src/topmark/filetypes/builtins/web.py
  src/topmark/filetypes/detectors/__init__.py
  src/topmark/filetypes/instances.py
Due: lychee-src, docstring-ref-links

refactor(filetypes): enforce ContentGate in FileType.matches and fix JSONC test
  src/topmark/filetypes/base.py
  tests/pipeline/processors/test_slash.py
Due: lychee-src, docstring-ref-links

test(filetypes): add unit tests for ContentGate semantics in FileType.matches
  tests/filetypes/test_content_gate.py
Due: none

chore(lychee): refine config for stability on GitHub links
  lychee.toml
Due: none

refactor(registry): switch to overlay-based registries for filetypes/processors
  docs/api/public.md
  src/topmark/registry/filetypes.py
  src/topmark/registry/processors.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(gitignore): add .lycheecache to ignored files
  .gitignore
Due: none

chore(gitignore): add .tox to ignored paths
  .gitignore
Due: none

test(api): add and refine overlay and plugin registry tests
  tests/api/conftest.py
  tests/api/test_public_api_views.py
  tests/api/test_registry_overlays.py
  tests/filetypes/test_instances_plugins.py
Due: none

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
