Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

fix(cli): clarify config dump file-list help
  docs/usage/commands/config/dump.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/options.py
  tests/cli/test_help_all.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(roadmap): finalize 1.0 readiness status and freeze CLI/policy contracts
  docs/dev/roadmap.md
Due: lychee-md

docs(changelog): add 1.0.0a11 entry (CLI applicability & policy contract freeze)
  CHANGELOG.md
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat(api): add public probe API and finalize API boundary for 1.0
  README.md
  docs/api/public.md
  docs/dev/architecture.md
  docs/dev/pipelines.md
  docs/dev/roadmap.md
  src/topmark/api/__init__.py
  src/topmark/api/commands/pipeline.py
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/api/view.py
  src/topmark/cli/commands/probe.py
  src/topmark/pipeline/synthetic.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_probe.py
  tests/api/test_public_imports.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(api): document public override and identifier boundaries
  README.md
  docs/_snippets/api-internal-overrides.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/plugins.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/probe.md
  docs/usage/commands/strip.md
  docs/usage/filtering.md
  docs/usage/policies.md
  src/topmark/config/overrides.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(config): normalize file type identifiers to qualified keys
  src/topmark/config/model.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/steps/resolver.py
  src/topmark/resolution/files.py
  src/topmark/resolution/filetypes.py
  tests/api/test_api_policy_overlays.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/config/test_policy_resolution.py
  tests/registry/test_filetype_identity.py
  tests/resolver/test_filters_and_types.py
  tests/toml/test_schema_validation_policy.py
Due: lychee-src, docstring-ref-links

docs: finalize identifier semantics documentation
  README.md
  docs/_snippets/file-type-identifiers.md
  docs/_snippets/no-stdin-option.md
  docs/api/internals.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/cli.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/configuration.md
  docs/usage/exit-codes.md
  docs/usage/filtering.md
  docs/usage/global-options.md
  docs/usage/policies.md
  docs/usage/pre-commit.md
  mkdocs.yml
Due: lychee-md

docs(changelog): announce 1.0.0a12
  CHANGELOG.md
Due: none

refactor(config): rename alpha strict config key to strict
  pyproject.toml
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/resolution/bridge.py
  src/topmark/core/errors.py
  src/topmark/core/keys.py
  src/topmark/toml/defaults.py
  src/topmark/toml/keys.py
  src/topmark/toml/parse.py
  src/topmark/toml/resolution.py
  src/topmark/toml/schema.py
  src/topmark/toml/topmark-example.toml
  tests/cli/machine/test_config_check_machine.py
  tests/cli/test_config_check_exit_codes.py
  tests/cli/test_config_overrides.py
  tests/config/test_config_strictness_and_validity.py
  tests/config/test_config_validation_error.py
  tests/toml/test_schema_validation_loading.py
  tests/toml/test_schema_validation_special_section.py
Due: lychee-src, docstring-ref-links

docs(config): document strict config key rename
  CONTRIBUTING.md
  README.md
  docs/_snippets/config-strictness.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/contributing.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/strip.md
  docs/usage/filtering.md
  docs/usage/header-placement.md
  docs/usage/pre-commit.md
Due: lychee-md

docs(changelog): document 1.0.0a13 config strictness rename
  CHANGELOG.md
Due: none

docs(roadmap): freeze 1.0 color-backend decision and defer Rich migration
  docs/dev/roadmap.md
Due: lychee-md

docs(roadmap): define beta validation gate and finalize 1.0 freeze status
  docs/dev/roadmap.md
Due: lychee-md

docs(roadmap): record beta validation and release rehearsal progress
  docs/dev/roadmap.md
Due: lychee-md

docs(roadmap): record tooling parity validation and beta freeze decisions
  docs/dev/roadmap.md
Due: lychee-md

fix(cli): stabilize help text and option spelling guidance
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/options.py
Due: lychee-src, docstring-ref-links

docs: harmonize machine-readable output terminology
  docs/api/internals.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
Due: lychee-md

docs(api): align machine-readable output docstrings
  src/topmark/cli/emitters/__init__.py
  src/topmark/cli/emitters/machine.py
  src/topmark/config/io/__init__.py
  src/topmark/config/machine/__init__.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/core/machine/__init__.py
  src/topmark/core/machine/schemas.py
  src/topmark/diagnostic/machine/__init__.py
  src/topmark/diagnostic/machine/envelopes.py
  src/topmark/diagnostic/machine/schemas.py
  src/topmark/pipeline/machine/__init__.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/presentation/markdown/registry.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/registry/machine/__init__.py
  src/topmark/registry/machine/envelopes.py
  src/topmark/registry/machine/schemas.py
  src/topmark/registry/machine/serializers.py
  src/topmark/toml/machine/__init__.py
  src/topmark/toml/machine/schemas.py
  src/topmark/version/machine/__init__.py
  src/topmark/version/machine/schemas.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/machine/test_registry_machine.py
  tests/cli/machine/test_version_machine.py
  tests/helpers/ndjson.py
Due: lychee-src, docstring-ref-links

fix(config): preserve runtime TOML sections and typed synthetic provenance
  pyproject.toml
  src/topmark/api/runtime.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/state.py
  src/topmark/cli/validators.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/machine/envelopes.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/machine/schemas.py
  src/topmark/config/machine/serializers.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/resolution/bridge.py
  src/topmark/config/resolution/layers.py
  src/topmark/config/resolution/synthetic.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/presentation/shared/config.py
  src/topmark/resolution/files.py
  src/topmark/runtime/writer_options.py
  src/topmark/toml/resolution.py
  src/topmark/toml/schema.py
  tests/cli/test_config_overrides.py
  tests/config/resolution/test_bridge.py
  tests/config/test_merge_semantics_invariants.py
  tests/config/test_model_export.py
Due: lychee-src, docstring-ref-links

docs(cli): harmonize config command semantics and machine-output wording
  docs/contributing.md
  docs/dev/roadmap.md
  docs/usage/cli.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/init.md
Due: lychee-md

docs(config): clarify defaults vs template snapshot terminology
  docs/dev/machine-formats.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  src/topmark/cli/commands/config.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(roadmap): mark beta freeze review complete
  docs/dev/roadmap.md
Due: lychee-md

docs(changelog): add v1.0.0b1 release notes
  CHANGELOG.md
Due: none

docs(docs): establish documentation conventions and improve navigation UX
  docs/dev/documentation-conventions.md
  mkdocs.yml
Due: lychee-md

docs(docs): define emoji usage conventions
  docs/dev/documentation-conventions.md
Due: lychee-md

docs(usage): improve command discovery workflows
  docs/index.md
  docs/usage/cli.md
Due: lychee-md

docs(docs): define command grouping semantics
  docs/dev/documentation-conventions.md
Due: lychee-md

docs(docs): clarify API and reference navigation policy
  docs/dev/documentation-conventions.md
Due: lychee-md

docs(site): refine command navigation hierarchy
  mkdocs.yml
Due: none

docs(docs): document navigation density conventions
  docs/dev/documentation-conventions.md
Due: lychee-md

docs(usage): reduce TOC density on overview pages
  docs/index.md
  docs/usage/cli.md
Due: lychee-md

docs(api): simplify generated internals navigation
  tools/docs/gen_api_pages.py
Due: none

docs(docs): document generated API navigation conventions
  docs/dev/documentation-conventions.md
Due: lychee-md

docs(commands): harmonize command family pages
  docs/usage/commands/config.md
  docs/usage/commands/registry.md
Due: lychee-md
