Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

feat(policy): preserve mixed line endings (#312)
  CHANGELOG.md
  README.md
  docs/_snippets/runtime-configuration-model.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/configuration-schema.md
  docs/usage/commands/check.md
  docs/usage/commands/strip.md
  docs/usage/configuration.md
  docs/usage/policies.md
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/overrides.py
  src/topmark/config/policy.py
  src/topmark/core/keys.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/toml/defaults.py
  src/topmark/toml/keys.py
  src/topmark/toml/schema.py
  src/topmark/toml/topmark-example.toml
  tests/api/test_api_check_and_strip.py
  tests/api/test_api_policy_overlays.py
  tests/cli/test_policy_options.py
  tests/config/test_policy_resolution.py
  tests/pipeline/steps/test_reader.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(ci): synchronize action pin
  .github/actions/setup-python-nox/action.yml
Due: none

chore: align lint tooling with Ruff 0.16
  .pre-commit-config.yaml
  docs/api/public.md
  docs/ci/test-validation.md
  docs/dev/documentation-pipeline.md
  docs/dev/plugins.md
  src/topmark/cli/errors.py
Due: lychee-md, lychee-src, docstring-ref-links

test(api): strengthen public API snapshot coverage
  CHANGELOG.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/test-validation.md
  docs/dev/api-stability.md
  docs/dev/release-process.md
  noxfile.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_snapshot_generator.py
  tests/api/test_public_api_snapshot.py
  tools/api_snapshot.py
Due: lychee-md

test(api): strengthen public API snapshot coverage (#313)
  CHANGELOG.md
  Makefile
  docs/ci/ci-workflow.md
  docs/ci/test-validation.md
  docs/dev/api-stability.md
  docs/dev/release-process.md
  noxfile.py
  tests/api/public_api_snapshot.json
  tests/api/test_api_snapshot_generator.py
  tests/api/test_public_api_snapshot.py
  tools/api_snapshot.py
Due: lychee-md

chore(qa): enable Ruff annotation checks
  CHANGELOG.md
  pyproject.toml
  tests/api/test_api_snapshot_generator.py
  tests/dev_validation/test_docs_hooks.py
  tests/pipeline/test_engine_path_configs.py
  tools/docs/gen_api_pages.py
  tools/docs/hooks.py
Due: none

chore(qa): enable Ruff annotation checks (#314)
  CHANGELOG.md
  pyproject.toml
  tests/api/test_api_snapshot_generator.py
  tests/dev_validation/test_docs_hooks.py
  tests/pipeline/test_engine_path_configs.py
  tools/docs/gen_api_pages.py
  tools/docs/hooks.py
Due: none

docs(config): clarify enforced Pyright rules
  pyproject.toml
Due: none

docs(config): clarify enforced Pyright rules (#315)
  pyproject.toml
Due: none

ci: publish coverage reports to Codecov
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: none

ci: publish coverage reports to Codecov (#316)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: none

docs(ci): document Codecov coverage reporting
  CONTRIBUTING.md
  docs/ci/ci-workflow.md
  docs/ci/index.md
  docs/ci/test-validation.md
  docs/contributing.md
Due: lychee-md

docs(ci): document Codecov coverage reporting (#317)
  CONTRIBUTING.md
  docs/ci/ci-workflow.md
  docs/ci/index.md
  docs/ci/test-validation.md
  docs/contributing.md
Due: lychee-md

ci: add GitHub dependency review workflow
  .github/workflows/dependency-review.yml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/_snippets/ci/related-pages.md
  docs/ci/dependabot.md
  docs/ci/dependency-review.md
  docs/ci/index.md
  docs/contributing.md
  docs/dev/release-process.md
  mkdocs.yml
Due: lychee-md

ci: add GitHub dependency review workflow (#318)
  .github/workflows/dependency-review.yml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/_snippets/ci/related-pages.md
  docs/ci/dependabot.md
  docs/ci/dependency-review.md
  docs/ci/index.md
  docs/contributing.md
  docs/dev/release-process.md
  mkdocs.yml
Due: lychee-md

docs(deps): formalize dependency baseline maintenance
  CHANGELOG.md
  CONTRIBUTING.md
  docs/_snippets/ci/related-pages.md
  docs/ci/dependabot.md
  docs/ci/test-validation.md
  docs/contributing.md
  docs/dev/dependency-maintenance.md
  docs/dev/index.md
  docs/dev/release-process.md
  mkdocs.yml
Due: lychee-md

docs(deps): formalize dependency baseline maintenance (#319)
  CHANGELOG.md
  CONTRIBUTING.md
  docs/_snippets/ci/related-pages.md
  docs/ci/dependabot.md
  docs/ci/test-validation.md
  docs/contributing.md
  docs/dev/dependency-maintenance.md
  docs/dev/index.md
  docs/dev/release-process.md
  mkdocs.yml
Due: lychee-md

chore(deps): refresh locked dependencies and hooks
  .pre-commit-config.yaml
  CHANGELOG.md
  uv.lock
Due: none

fix(ci): handle dependency license metadata
  .github/workflows/dependency-review.yml
  CHANGELOG.md
  docs/ci/dependency-review.md
Due: lychee-md

Refresh locked dependencies and pre-commit hooks (#320)
  .github/workflows/dependency-review.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/ci/dependency-review.md
  uv.lock
Due: lychee-md

ci: configure Codecov coverage policy
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  codecov.yml
  docs/_snippets/ci/related-pages.md
  docs/ci/ci-workflow.md
  docs/ci/codecov.md
  docs/ci/index.md
  docs/ci/test-validation.md
  mkdocs.yml
Due: lychee-md

fix(docs): use repository-relative Codecov policy link
  CONTRIBUTING.md
Due: none

Configure Codecov project coverage checks and reporting (#321)
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  codecov.yml
  docs/_snippets/ci/related-pages.md
  docs/ci/ci-workflow.md
  docs/ci/codecov.md
  docs/ci/index.md
  docs/ci/test-validation.md
  mkdocs.yml
Due: lychee-md

ci(docs): validate hosted links against local builds
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  docs/ci/ci-workflow.md
  docs/dev/documentation-conventions.md
  lychee.toml
  noxfile.py
  tests/dev_validation/test_project_docs_links.py
  tools/docs/check_project_links.py
Due: lychee-md

ci(docs): validate hosted links against local builds (#322)
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  docs/ci/ci-workflow.md
  docs/dev/documentation-conventions.md
  lychee.toml
  noxfile.py
  tests/dev_validation/test_project_docs_links.py
  tools/docs/check_project_links.py
Due: lychee-md

docs(contrib): add repository agent guidance
  AGENTS.md
  CHANGELOG.md
Due: none

docs(contrib): add repository agent guidance (#323)
  AGENTS.md
  CHANGELOG.md
Due: none

fix(processors): validate header fields before rendering
  CHANGELOG.md
  docs/dev/plugins.md
  docs/usage/getting-started.md
  src/topmark/cli/streaming.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/processors/base.py
  src/topmark/processors/builtins/cblock.py
  src/topmark/processors/builtins/markdown.py
  src/topmark/processors/builtins/xml.py
  src/topmark/processors/types.py
  tests/api/test_api_check_and_strip.py
  tests/cli/test_unified_check_apply.py
  tests/pipeline/steps/test_builder.py
  tests/pipeline/steps/test_renderer.py
  tests/pipeline/test_engine.py
  tests/pipeline/test_outcomes.py
  tests/processors/test_field_validation.py
Due: lychee-md, lychee-src, docstring-ref-links

test(renderer): cover diagnostic and fallback contracts
  tests/pipeline/steps/test_renderer.py
Due: none

fix(processors): validate header fields before rendering (#328)
  CHANGELOG.md
  docs/dev/plugins.md
  docs/usage/getting-started.md
  src/topmark/cli/streaming.py
  src/topmark/pipeline/engine.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/processors/base.py
  src/topmark/processors/builtins/cblock.py
  src/topmark/processors/builtins/markdown.py
  src/topmark/processors/builtins/xml.py
  src/topmark/processors/types.py
  tests/api/test_api_check_and_strip.py
  tests/cli/test_unified_check_apply.py
  tests/pipeline/steps/test_builder.py
  tests/pipeline/steps/test_renderer.py
  tests/pipeline/test_engine.py
  tests/pipeline/test_outcomes.py
  tests/processors/test_field_validation.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(design): specify multiline header field serialization
  CHANGELOG.md
  docs/dev/index.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  mkdocs.yml
Due: lychee-md

docs(design): specify multiline header field serialization (#329)
  CHANGELOG.md
  docs/dev/index.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  mkdocs.yml
Due: lychee-md

feat(processors): support literal multiline header fields
  CHANGELOG.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/configuration.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/processors/base.py
  src/topmark/processors/types.py
  src/topmark/toml/topmark-example.toml
  tests/api/test_api_check_and_strip.py
  tests/cli/test_unified_check_apply.py
  tests/pipeline/steps/test_builder.py
  tests/pipeline/steps/test_renderer.py
  tests/pipeline/test_header_bounds_property.py
  tests/processors/test_base_contracts.py
  tests/processors/test_field_validation.py
  tests/processors/test_multiline_fields.py
  tests/processors/test_xml_anchor.py
Due: lychee-md, lychee-src, docstring-ref-links

test(processors): cover optional physical line terminators
  tests/processors/test_multiline_fields.py
Due: none

feat(processors): support literal multiline header fields (#330)
  CHANGELOG.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/configuration.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/processors/base.py
  src/topmark/processors/types.py
  src/topmark/toml/topmark-example.toml
  tests/api/test_api_check_and_strip.py
  tests/cli/test_unified_check_apply.py
  tests/pipeline/steps/test_builder.py
  tests/pipeline/steps/test_renderer.py
  tests/pipeline/test_header_bounds_property.py
  tests/processors/test_base_contracts.py
  tests/processors/test_field_validation.py
  tests/processors/test_multiline_fields.py
  tests/processors/test_xml_anchor.py
Due: lychee-md, lychee-src, docstring-ref-links

docs(design): specify deterministic header field wrapping
  docs/dev/multiline-header-fields.md
Due: lychee-md

docs(design): specify deterministic header field wrapping (#331)
  docs/dev/multiline-header-fields.md
Due: lychee-md

feat(formatting): add deterministic header field wrapping
  CHANGELOG.md
  docs/configuration/discovery.md
  docs/dev/configuration-schema.md
  docs/dev/index.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/commands/config/init.md
  docs/usage/configuration.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  docs/usage/machine-output.md
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/processors/base.py
  src/topmark/toml/defaults.py
  src/topmark/toml/keys.py
  src/topmark/toml/schema.py
  src/topmark/toml/topmark-example.toml
  tests/api/test_api_check_and_strip.py
  tests/config/machine/test_config_machine_serializers.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_merge_semantics_invariants.py
  tests/config/test_model_export.py
  tests/pipeline/steps/test_renderer.py
  tests/processors/test_base_contracts.py
  tests/processors/test_multiline_fields.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(formatting): add deterministic header field wrapping (#332)
  CHANGELOG.md
  docs/configuration/discovery.md
  docs/dev/configuration-schema.md
  docs/dev/index.md
  docs/dev/multiline-header-fields.md
  docs/dev/plugins.md
  docs/usage/commands/config/init.md
  docs/usage/configuration.md
  docs/usage/getting-started.md
  docs/usage/header-placement.md
  docs/usage/machine-output.md
  src/topmark/config/io/deserializers.py
  src/topmark/config/io/serializers.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/processors/base.py
  src/topmark/toml/defaults.py
  src/topmark/toml/keys.py
  src/topmark/toml/schema.py
  src/topmark/toml/topmark-example.toml
  tests/api/test_api_check_and_strip.py
  tests/config/machine/test_config_machine_serializers.py
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_merge_semantics_invariants.py
  tests/config/test_model_export.py
  tests/pipeline/steps/test_renderer.py
  tests/processors/test_base_contracts.py
  tests/processors/test_multiline_fields.py
Due: lychee-md, lychee-src, docstring-ref-links
