Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

.pre-commit-config.yaml:

# topmark:header:start
#
#   project      : TopMark
#   file         : .pre-commit-config.yaml
#   file_relpath : .pre-commit-config.yaml
#   license      : MIT
#   copyright    : (c) 2025 Olivier Biot
#
# topmark:header:end

repos:
  # Fast generic checks first
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-added-large-files

  # Formatters
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: ^docs/api/public\.md$
        additional_dependencies:
          - mdformat-gfm
        args: ["--extensions", "tables"]

  - repo: local # Use local lychee setup to overcome the 'nightly' release tag problem in autoupdate
    hooks:
      - id: lychee-md
        name: lychee (changed Markdown)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^(README\.md|docs/).*\.(md|MD)$
        pass_filenames: true

      - id: lychee-src
        name: lychee (changed Python docstrings)
        entry: lychee
        language: system
        args: ["--config", "lychee.toml", "--no-progress"]
        files: ^src/.*\.py$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-format
      - id: ruff-check

  # Project-specific header checker (after formatters)
  - repo: https://github.com/shutterfreak/topmark
    rev: v0.10.1
    hooks:
      - id: topmark-check
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

      - id: topmark-apply
        # files: '\.(py|md|toml|ya?ml|sh|Makefile)$'

  # Docstring semantics
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.1
    hooks:
      - id: pydoclint
        args: ["-q"]

  # Links in docstrings (code)
  - repo: local
    hooks:
      - id: docstring-ref-links
        name: docstring link style (TopMark)
        entry: python
        language: system
        args: ["tools/check_docstring_links.py"]
        files: ^src/.*\.py$
        pass_filenames: true

  # TOML lint (after TOML format)
  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.9.3
    hooks:
      - id: taplo-lint
        args: ["--no-schema"]

  # Type checker last
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright

  # Makefile linting and formatting
  - repo: https://github.com/EbodShojaei/bake
    rev: v1.4.3
    hooks:
      - id: mbake-format
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

      - id: mbake-validate
        # files: (^|/)(M|m)akefile$|GNUMakefile$|\.mak$

refactor(cli): centralize option metadata for diagnostics
  src/topmark/cli/option_meta.py
  src/topmark/cli/validators.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_help_all.py
  tests/cli/test_option_meta.py
Due: lychee-src, docstring-ref-links

refactor(cli): centralize option metadata for diagnostics (#76)
  src/topmark/cli/option_meta.py
  src/topmark/cli/validators.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_help_all.py
  tests/cli/test_option_meta.py
Due: lychee-src, docstring-ref-links

refactor(cli): centralize option applicability groups
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/option_groups.py
  tests/cli/test_command_applicability.py
Due: lychee-src, docstring-ref-links

refactor(cli): centralize option applicability groups (#80)
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/option_groups.py
  tests/cli/test_command_applicability.py
Due: lychee-src, docstring-ref-links

fix(probe): avoid misleading synthetic results for explicit inputs
  docs/dev/machine-formats.md
  docs/usage/commands/probe.md
  docs/usage/machine-output.md
  src/topmark/api/runtime.py
  src/topmark/cli/commands/probe.py
  src/topmark/resolution/files.py
  tests/api/test_api_probe.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/resolver/test_discovery.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(probe): avoid misleading synthetic results for explicit inputs (#82)
  docs/dev/machine-formats.md
  docs/usage/commands/probe.md
  docs/usage/machine-output.md
  src/topmark/api/runtime.py
  src/topmark/cli/commands/probe.py
  src/topmark/resolution/files.py
  tests/api/test_api_probe.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/resolver/test_discovery.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli): preserve config diagnostics on strict validation failures
  CHANGELOG.md
  docs/_snippets/config-strictness.md
  docs/usage/machine-output.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/config/model.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_config_overrides.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/helpers/config_diagnostics.py
  tools/docs/check_docs_hygiene.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli): preserve config diagnostics on strict validation failures (#83)
  CHANGELOG.md
  docs/_snippets/config-strictness.md
  docs/usage/machine-output.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/config/model.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/test_config_overrides.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_pipeline_human_output.py
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/helpers/config_diagnostics.py
  tools/docs/check_docs_hygiene.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(cli)!: reserve exit code 2 for Click parser errors
  CHANGELOG.md
  README.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/ci.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/getting-started.md
  docs/usage/pre-commit.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/strip.py
  src/topmark/core/exit_codes.py
  tests/cli/conftest.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_check_exit_codes.py
  tests/cli/test_completion.py
  tests/cli/test_config_check_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_strip.py
  tests/resolver/test_filters_and_types.py
Due: lychee-md, lychee-src, docstring-ref-links

feat(cli)!: reserve exit code 2 for Click parser errors (#85)
  CHANGELOG.md
  README.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/ci.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/getting-started.md
  docs/usage/pre-commit.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/strip.py
  src/topmark/core/exit_codes.py
  tests/cli/conftest.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_check_exit_codes.py
  tests/cli/test_completion.py
  tests/cli/test_config_check_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/cli/test_strip.py
  tests/resolver/test_filters_and_types.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli)!: reject unknown path command options
  CHANGELOG.md
  docs/usage/commands/check.md
  docs/usage/filtering.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/option_groups.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  tests/cli/test_command_applicability.py
  tests/cli/test_policy_options.py
  tests/cli/test_validators.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(cli)!: reject unknown path command options (#86)
  CHANGELOG.md
  docs/usage/commands/check.md
  docs/usage/filtering.md
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/option_groups.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  tests/cli/test_command_applicability.py
  tests/cli/test_policy_options.py
  tests/cli/test_validators.py
Due: lychee-md, lychee-src, docstring-ref-links

ci: add cross-platform filesystem test job
  .github/workflows/ci.yml
  docs/ci/ci-workflow.md
Due: lychee-md

test(fs): cover filesystem path casing behavior
  pyproject.toml
  tests/cli/test_processing_case_insensitive_fs.py
  tests/cli/test_processing_case_sensitive_fs.py
  tests/conftest.py
  tests/pipeline/steps/test_builder.py
Due: none

fix(fs): canonicalize path-derived header fields
  src/topmark/pipeline/steps/builder.py
  src/topmark/utils/path.py
Due: lychee-src, docstring-ref-links

fix(fs): handle cross-drive relative paths on Windows
  src/topmark/utils/file.py
Due: lychee-src, docstring-ref-links

fix(cli): normalize machine output paths on Windows
  src/topmark/pipeline/machine/payloads.py
  src/topmark/resolution/files.py
Due: lychee-src, docstring-ref-links

test(cli): align probe machine tests with POSIX path output
  tests/cli/machine/test_probe_machine.py
Due: none

test(processors): preserve header view in cblock scanner test
  tests/processors/test_cblock.py
Due: none

test(processors): preserve cblock test line endings on Windows
  tests/processors/test_cblock.py
Due: none

Fix canonical path casing for built-in file fields (#87)
  .github/workflows/ci.yml
  docs/ci/ci-workflow.md
  pyproject.toml
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/resolution/files.py
  src/topmark/utils/file.py
  src/topmark/utils/path.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_processing_case_insensitive_fs.py
  tests/cli/test_processing_case_sensitive_fs.py
  tests/conftest.py
  tests/pipeline/steps/test_builder.py
  tests/processors/test_cblock.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(machine): normalize processing result paths to POSIX
  CHANGELOG.md
  README.md
  docs/_snippets/machine-path-contract-current-scope.md
  docs/_snippets/path-serialization-contract.md
  docs/index.md
  docs/usage/ci.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/header-placement.md
  docs/usage/machine-output.md
  src/topmark/filetypes/model.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/utils/path.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(machine): normalize processing result paths to POSIX (#95)
  CHANGELOG.md
  README.md
  docs/_snippets/machine-path-contract-current-scope.md
  docs/_snippets/path-serialization-contract.md
  docs/index.md
  docs/usage/ci.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/probe.md
  docs/usage/commands/registry.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/exit-codes.md
  docs/usage/header-placement.md
  docs/usage/machine-output.md
  src/topmark/filetypes/model.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/utils/path.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/machine/test_processing_machine.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(filetypes): normalize and validate filename tail-subpath rules
  CHANGELOG.md
  README.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  docs/dev/resolution.md
  docs/index.md
  docs/terminology.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/machine-output.md
  src/topmark/core/errors.py
  src/topmark/filetypes/filename_rules.py
  src/topmark/filetypes/model.py
  tests/cli/machine/test_registry_machine.py
  tests/filetypes/test_content_gate.py
  tests/filetypes/test_filename_rules.py
  tests/filetypes/test_instances_plugins.py
  tests/filetypes/test_model_matching.py
  tests/pipeline/steps/test_resolver.py
  tests/presentation/test_registry_rendering.py
  tests/registry/test_filetype_identity.py
  tests/registry/test_register_unregister.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(filetypes): normalize and validate filename tail-subpath rules (#96)
  CHANGELOG.md
  README.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/plugins.md
  docs/dev/registry-model.md
  docs/dev/resolution.md
  docs/index.md
  docs/terminology.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/machine-output.md
  src/topmark/core/errors.py
  src/topmark/filetypes/filename_rules.py
  src/topmark/filetypes/model.py
  tests/cli/machine/test_registry_machine.py
  tests/filetypes/test_content_gate.py
  tests/filetypes/test_filename_rules.py
  tests/filetypes/test_instances_plugins.py
  tests/filetypes/test_model_matching.py
  tests/pipeline/steps/test_resolver.py
  tests/presentation/test_registry_rendering.py
  tests/registry/test_filetype_identity.py
  tests/registry/test_register_unregister.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(presentation): centralize path rendering helpers
  CHANGELOG.md
  docs/_snippets/machine-path-contract-current-scope.md
  docs/_snippets/path-serialization-contract.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/registry-model.md
  docs/usage/machine-output.md
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/presentation/markdown/paths.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/markdown/utils.py
  src/topmark/presentation/shared/paths.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/probe.py
  src/topmark/utils/path.py
  tests/pipeline/steps/test_patcher.py
  tests/presentation/test_pipeline_rendering.py
  tests/utils/test_path.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(presentation): centralize path rendering helpers (#97)
  CHANGELOG.md
  docs/_snippets/machine-path-contract-current-scope.md
  docs/_snippets/path-serialization-contract.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/registry-model.md
  docs/usage/machine-output.md
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/presentation/markdown/paths.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/probe.py
  src/topmark/presentation/markdown/utils.py
  src/topmark/presentation/shared/paths.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/probe.py
  src/topmark/utils/path.py
  tests/pipeline/steps/test_patcher.py
  tests/presentation/test_pipeline_rendering.py
  tests/utils/test_path.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(machine): normalize config path serialization
  CHANGELOG.md
  docs/_snippets/machine-path-contract-current-scope.md
  docs/_snippets/path-serialization-contract.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/machine-output.md
  src/topmark/config/io/serializers.py
  src/topmark/config/machine/payloads.py
  src/topmark/core/machine/schemas.py
  src/topmark/toml/machine/payloads.py
  src/topmark/utils/path.py
  tests/cli/machine/test_config_dump_machine.py
  tests/config/machine/test_config_machine_payloads.py
  tests/config/test_model_export.py
  tests/toml/machine/test_toml_machine_payloads.py
  tests/utils/test_path.py
Due: lychee-md, lychee-src, docstring-ref-links

fix(machine): normalize config path serialization (#98)
  CHANGELOG.md
  docs/_snippets/machine-path-contract-current-scope.md
  docs/_snippets/path-serialization-contract.md
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/dump.md
  docs/usage/machine-output.md
  src/topmark/config/io/serializers.py
  src/topmark/config/machine/payloads.py
  src/topmark/core/machine/schemas.py
  src/topmark/toml/machine/payloads.py
  src/topmark/utils/path.py
  tests/cli/machine/test_config_dump_machine.py
  tests/config/machine/test_config_machine_payloads.py
  tests/config/test_model_export.py
  tests/toml/machine/test_toml_machine_payloads.py
  tests/utils/test_path.py
Due: lychee-md, lychee-src, docstring-ref-links

chore(tooling): align editor and pre-commit workflows
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  uv.lock
Due: none

fix(pre-commit): install rich for docs hygiene hooks
  .pre-commit-config.yaml
Due: none

chore(tooling): align editor and pre-commit workflows (#99)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  CHANGELOG.md
  uv.lock
Due: none

test(filesystem): expand cross-platform path and discovery regression coverage
  CHANGELOG.md
  tests/cli/machine/test_path_contracts_machine.py
  tests/cli/test_stdin_lists.py
  tests/config/test_config_resolution_paths.py
  tests/helpers/paths.py
  tests/unit/test_resolve_file_list.py
  tests/utils/test_path.py
Due: none

test(config): stabilize Windows absolute-path resolution test
  tests/config/test_config_resolution_paths.py
Due: none

Expand cross-platform path and discovery regression coverage (#100)
  CHANGELOG.md
  tests/cli/machine/test_path_contracts_machine.py
  tests/cli/test_stdin_lists.py
  tests/config/test_config_resolution_paths.py
  tests/helpers/paths.py
  tests/unit/test_resolve_file_list.py
  tests/utils/test_path.py
Due: none

docs(identity): clarify compatibility boundaries
  CHANGELOG.md
  docs/_snippets/path-serialization-contract.md
  docs/api/public.md
  docs/dev/api-stability.md
  docs/dev/machine-formats.md
  docs/terminology.md
  src/topmark/utils/path.py
Due: lychee-md, lychee-src, docstring-ref-links
