Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

refactor(policy)!: unify empty-file handling, improve outcome summaries, and rename machine envelopes
  docs/dev/machine-output.md
  src/topmark/api/protocols.py
  src/topmark/api/types.py
  src/topmark/cli/emitters/text/pipeline.py
  src/topmark/cli/emitters/text/registry.py
  src/topmark/cli/emitters/utils.py
  src/topmark/cli_shared/emitters/markdown/pipeline.py
  src/topmark/cli_shared/emitters/markdown/registry.py
  src/topmark/cli_shared/emitters/shared/registry.py
  src/topmark/cli_shared/outcomes.py
  src/topmark/config/keys.py
  src/topmark/config/policy.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/context/policy.py
  src/topmark/pipeline/machine/__init__.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/steps/builder.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/planner.py
  src/topmark/pipeline/steps/reader.py
  src/topmark/pipeline/steps/renderer.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/pipeline/steps/stripper.py
  src/topmark/registry/machine/__init__.py
  src/topmark/registry/machine/envelopes.py
  src/topmark/registry/machine/payloads.py
  src/topmark/registry/machine/schemas.py
  src/topmark/registry/machine/serializers.py
  tests/cli/test_machine_output.py
  tests/pipeline/conftest.py
  tests/pipeline/steps/test_reader.py
  tests/processors/test_idempotency.py
Due: lychee-md, lychee-src, docstring-ref-links

build(config,docs): fix markdown/taplo configuration and improve project metadata
  .mdformat.toml
  .pre-commit-config.yaml
  .taplo.toml
  Makefile
  pyproject.toml
  requirements-dev.txt
  tools/docs/hooks.py
Due: none

docs: normalize Markdown formatting across documentation
  CHANGELOG.md
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/_snippets/config-resolution.md
  docs/api/internals.md
  docs/api/public.md
  docs/ci/ci-workflow.md
  docs/ci/dev-validation.md
  docs/ci/release-workflow.md
  docs/configuration/discovery.md
  docs/dev/api-stability.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/documentation-pipeline.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
  docs/dev/plugins.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/filtering.md
  docs/usage/global-options.md
  docs/usage/pre-commit.md
Due: lychee-md

ci(actions): update workflow actions for Node 24 and pin PyPI publish action
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

style(toml): apply Taplo formatting to TOML configuration files
  .bake.toml
  lychee.toml
Due: none

ci(actions): pin workflow actions to commit SHAs and add Dependabot
  .github/actions/setup-python-nox/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci(dependabot): add labels and limit concurrent update PRs
  .github/dependabot.yml
Due: none

ci(uv): switch GitHub workflows and nox packaging checks to uv
  .github/actions/setup-python-nox/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  noxfile.py
Due: none

style(pyproject): normalize dependency ordering and comments
  pyproject.toml
Due: none

build(uv): add uv lockfile and parallel export workflow
  Makefile
  uv.lock
Due: none

build(uv): refresh exported requirements from uv.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

fix(resolution): replace deprecated pathspec gitwildmatch usage
  src/topmark/resolution/files.py
Due: lychee-src, docstring-ref-links

refactor(nox): install session dependencies from project extras
  noxfile.py
Due: none

chore(deps): regenerate requirements exports with uv
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

build(make): apply TopMark headers after generating requirements files
  Makefile
Due: none

build(deps): remove legacy pip-compile input files after uv migration
  requirements-dev.in
  requirements-docs.in
  requirements.in
Due: none

build(deps): remove legacy pip-compile workflow; uv lock is now the single source of truth
  Makefile
Due: none

build(make): normalize phony targets and remove stale migration wording
  Makefile
Due: none

build(uv): align local, CI, release, and RTD workflows with uv.lock
  .github/actions/setup-python-nox/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .readthedocs.yml
  Makefile
Due: none

ci: fix built-site linkcheck by installing docs extras via uv
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: stop treating exported requirements files as workflow inputs
  .github/workflows/ci.yml
Due: none

build(uv): remove legacy exported requirements artifacts
  .gitignore
  Makefile
  constraints.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

docs: align contributor and CI docs with uv workflow and Dependabot policy
  CONTRIBUTING.md
  INSTALL.md
  README.md
  docs/ci/ci-workflow.md
  docs/ci/dependabot.md
  docs/ci/release-workflow.md
  docs/contributing.md
  mkdocs.yml
Due: lychee-md

docs(readme): add CI status badge
  README.md
Due: none

chore: remove obsolete tox references from repo config
  .gitignore
  pyproject.toml
Due: none

docs: clarify uv-based workflow and standardize .venv development environment
  CONTRIBUTING.md
  INSTALL.md
  README.md
Due: none

docs(dev): update architecture, machine formats, and roadmap for 0.12 refactor series
  docs/dev/architecture.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
Due: lychee-md

refactor(config,pipeline): use UTC datetimes and file mtimes in processing
  pyproject.toml
  src/topmark/api/runtime.py
  src/topmark/cli/emitters/text/pipeline.py
  src/topmark/cli/emitters/utils.py
  src/topmark/config/model.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/sniffer.py
  src/topmark/utils/timestamp.py
Due: lychee-src, docstring-ref-links

test(config): align MutableConfig arg parsing tests with CLI-only verbosity
  src/topmark/config/model.py
  tests/config/test_model_export.py
Due: lychee-src, docstring-ref-links

feat(cli): introduce semantic styling and unified rendering across text and Markdown emitters
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/text/config.py
  src/topmark/cli/emitters/text/diagnostic.py
  src/topmark/cli/emitters/text/pipeline.py
  src/topmark/cli/emitters/text/utils.py
  src/topmark/cli/emitters/utils.py
  src/topmark/cli/presentation.py
  src/topmark/cli/rendering/unified_diff.py
  src/topmark/cli_shared/emitters/markdown/diagnostic.py
  src/topmark/cli_shared/emitters/markdown/pipeline.py
  src/topmark/cli_shared/emitters/shared/pipeline.py
  src/topmark/cli_shared/outcomes.py
  src/topmark/core/presentation.py
  src/topmark/diagnostic/model.py
  src/topmark/pipeline/hints.py
  src/topmark/pipeline/outcomes.py
  src/topmark/pipeline/status.py
  src/topmark/pipeline/steps/comparer.py
  src/topmark/pipeline/steps/patcher.py
  src/topmark/pipeline/steps/scanner.py
  src/topmark/rendering/unified_diff.py
  src/topmark/utils/diff.py
  tests/pipeline/steps/test_patcher.py
  tests/utils/test_diff_render.py
Due: lychee-src, docstring-ref-links

refactor(docs): move __all__ to top of docs_utils.py
  tools/docs/docs_utils.py
Due: none

docs(roadmap): reflect semantic styling, unified CLI rendering, and diagnostics refactor
  docs/dev/roadmap.md
Due: lychee-md

refactor(version): use VersionInfo in machine payload builder
  src/topmark/version/machine/payloads.py
Due: lychee-src, docstring-ref-links

feat(cli)!: replace skip flags with --report and fix summary/report filtering
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/emitters/text/pipeline.py
  src/topmark/cli/emitters/utils.py
  src/topmark/cli/keys.py
  src/topmark/cli/options.py
  src/topmark/cli/reporting.py
  src/topmark/cli/validators.py
  src/topmark/cli_shared/emitters/shared/pipeline.py
  src/topmark/config/model.py
  src/topmark/core/keys.py
  src/topmark/pipeline/steps/writer.py
  tests/cli/test_apply_write_guard.py
  tests/cli/test_file_type_and_skip_flags.py
  tests/cli/test_machine_output.py
  tests/cli/test_strip.py
Due: lychee-src, docstring-ref-links

chore(vscode): reorganize settings and update python/ruff config
  .vscode/settings.json
Due: none

style: configure ruff formatter and reformat codebase
  pyproject.toml
  src/topmark/api/__init__.py
  src/topmark/core/enum_mixins.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/registry/__init__.py
Due: lychee-src, docstring-ref-links

docs: update badges and bump dev version to 0.12.0.dev10
  README.md
  pyproject.toml
Due: none

refactor(registry)!: make bindings authoritative and store processor definitions
  src/topmark/api/commands/registry.py
  src/topmark/cli_shared/emitters/shared/registry.py
  src/topmark/filetypes/instances.py
  src/topmark/processors/bindings.py
  src/topmark/processors/instances.py
  src/topmark/registry/bindings.py
  src/topmark/registry/filetypes.py
  src/topmark/registry/machine/payloads.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
  src/topmark/registry/types.py
  src/topmark/resolution/filetypes.py
  tests/api/conftest.py
  tests/api/test_public_api_views.py
  tests/conftest.py
  tests/filetypes/test_content_gate.py
  tests/filetypes/test_instances_plugins.py
  tests/pipeline/steps/test_comparer.py
  tests/pipeline/steps/test_resolver.py
  tests/processors/test_mixins.py
  tests/registry/test_register_unregister.py
  tests/registry/test_registry_facade.py
  tests/registry/test_registry_linkage.py
  tests/registry/test_registry_one_step.py
  tests/registry/test_registry_overlays.py
  tests/registry/test_registry_public_api.py
  tests/unit/test_processor_key_token.py
  tests/unit/test_resolve_file_list.py
Due: lychee-src, docstring-ref-links

refactor(registry)!: make processor registry identity-only and unbind safely
  src/topmark/api/commands/registry.py
  src/topmark/processors/instances.py
  src/topmark/registry/processors.py
  src/topmark/registry/registry.py
  src/topmark/resolution/filetypes.py
  tests/api/conftest.py
  tests/api/test_public_api_views.py
  tests/conftest.py
  tests/registry/test_register_unregister.py
  tests/registry/test_registry_facade.py
  tests/registry/test_registry_linkage.py
  tests/registry/test_registry_one_step.py
  tests/registry/test_registry_public_api.py
  tests/unit/test_processor_key_token.py
Due: lychee-src, docstring-ref-links

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
