Repository shutterfreak/topmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: lychee-md, lychee-src, docstring-ref-links

lychee-md:
  name: lychee (changed Markdown)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

lychee-src:
  name: lychee (changed Python docstrings)
  entry: lychee
  language: system
  args:
  - --config
  - lychee.toml
  - --no-progress
  pass_filenames: true

docstring-ref-links:
  name: docstring link style (TopMark)
  entry: python
  language: system
  args:
  - tools/check_docstring_links.py
  pass_filenames: true

fix(config, pyproject): align pyproject.toml with source-local config model
  pyproject.toml
Due: none

refactor(config, cli, machine, tests)!: remove flattened diagnostics from config models
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/strip.py
  src/topmark/config/__init__.py
  src/topmark/config/io/__init__.py
  src/topmark/config/io/deserializers.py
  src/topmark/config/machine/__init__.py
  src/topmark/config/machine/envelopes.py
  src/topmark/config/machine/payloads.py
  src/topmark/config/model.py
  src/topmark/config/overrides.py
  src/topmark/config/resolution/__init__.py
  src/topmark/config/resolution/bridge.py
  src/topmark/config/validation.py
  src/topmark/core/errors.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/presentation/shared/config.py
  src/topmark/toml/parse.py
  src/topmark/toml/topmark-example.toml
  tests/config/test_config_deserializers.py
  tests/config/test_config_resolution_merge.py
  tests/config/test_config_strictness_and_validity.py
  tests/config/test_merge_semantics_invariants.py
  tests/helpers/diagnostics.py
  tests/helpers/toml.py
  tests/toml/conftest.py
  tests/toml/test_schema_validation.py
  tests/toml/test_schema_validation_loading.py
  tests/toml/test_schema_validation_missing_sections.py
  tests/toml/test_schema_validation_policy.py
  tests/toml/test_schema_validation_special_section.py
  tests/toml/test_schema_validation_top_level.py
Due: lychee-src, docstring-ref-links

docs(config, architecture, cli, api): align documentation with staged validation model
  CONTRIBUTING.md
  README.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/configuration/index.md
  docs/contributing.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/resolution.md
  docs/dev/roadmap.md
  docs/usage/commands/check.md
  docs/usage/commands/config.md
  docs/usage/commands/config/check.md
  docs/usage/commands/strip.md
  docs/usage/filtering.md
  docs/usage/pre-commit.md
Due: lychee-md

docs(index, config/io): finalize staged validation terminology cleanup
  docs/index.md
  src/topmark/config/io/deserializers.py
Due: lychee-md, lychee-src, docstring-ref-links

test(helpers): add shared JSON and NDJSON parsing helpers
  tests/helpers/json.py
  tests/helpers/ndjson.py
Due: none

test(cli,version): split human and machine version tests
  tests/cli/machine/test_version_machine.py
  tests/cli/test_version.py
  tests/helpers/version.py
Due: none

test(cli/machine): harden config check machine-output coverage
  tests/cli/machine/test_config_check_machine.py
Due: none

refactor(tests/machine): reuse shared JSON and NDJSON parsing helpers
  tests/cli/machine/test_config_defaults_machine.py
  tests/cli/machine/test_config_dump_machine.py
  tests/cli/machine/test_config_init_machine.py
  tests/cli/machine/test_processing_machine.py
Due: none

test(config): add ConfigValidationError coverage
  tests/config/test_config_validation_error.py
Due: none

docs(config, machine, roadmap): freeze flattened diagnostics contract for 1.0
  CONTRIBUTING.md
  README.md
  docs/_snippets/.markdownlint.jsonc
  docs/_snippets/config-resolution.md
  docs/_snippets/config-validation-contract.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/contributing.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/config.md
  docs/usage/commands/config/dump.md
  docs/usage/pre-commit.md
Due: lychee-md

docs(changelog): add and finalize 1.0.0a2 entry with validation, release, and JSONC updates
  CHANGELOG.md
Due: none

refactor(machine/registry): flatten JSON envelopes and add registry machine contract tests
  src/topmark/registry/machine/envelopes.py
  src/topmark/registry/machine/payloads.py
  src/topmark/registry/machine/schemas.py
  src/topmark/registry/machine/serializers.py
  tests/cli/machine/test_registry_machine.py
  tests/helpers/ndjson.py
Due: lychee-src, docstring-ref-links

refactor(tests/machine): adopt shared NDJSON helpers across existing CLI tests
  tests/cli/machine/test_config_check_machine.py
  tests/cli/machine/test_config_defaults_machine.py
  tests/cli/machine/test_config_dump_machine.py
  tests/cli/machine/test_config_init_machine.py
  tests/cli/machine/test_processing_machine.py
  tests/cli/machine/test_version_machine.py
Due: none

docs(machine): align machine format, registry command, and roadmap docs with current 1.0 contract
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/roadmap.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
Due: lychee-md

docs(machine): finalize naming conventions and update roadmap to reflect frozen 1.0 contract
  docs/dev/machine-output.md
  docs/dev/roadmap.md
Due: lychee-md

docs(roadmap): add 1.0 line-ending policy audit item
  docs/dev/roadmap.md
Due: lychee-md

ci(pre-commit): integrate markdownlint-cli2 and update hooks
  .markdownlint.jsonc
  .pre-commit-config.yaml
Due: none

fix(deps): promote typing-extensions to core dependencies
  pyproject.toml
  uv.lock
Due: none

docs(release): prepare roadmap and changelog for 1.0.0a3
  CHANGELOG.md
  docs/dev/roadmap.md
Due: lychee-md

fix(deps): promote packaging to core runtime dependency and add deptry guardrail
  CHANGELOG.md
  docs/dev/roadmap.md
  pyproject.toml
  uv.lock
Due: lychee-md

chore(pre-commit,roadmap): update TopMark hook to v1.0.0a4 and mark dependency model verification complete
  .pre-commit-config.yaml
  docs/dev/roadmap.md
Due: lychee-md

Subject / summary line refactor(cli): normalize verbosity handling and make quiet a boolean human-output flag
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  src/topmark/core/keys.py
Due: lychee-src, docstring-ref-links

refactor(cli): introduce typed CLI state and align help/epilog wording across commands
  docs/dev/roadmap.md
  src/topmark/cli/cmd_common.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/console/__init__.py
  src/topmark/cli/console/context.py
  src/topmark/cli/console/protocols.py
  src/topmark/cli/emitters/__init__.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/errors.py
  src/topmark/cli/main.py
  src/topmark/cli/state.py
  src/topmark/cli/validators.py
  tests/cli/conftest.py
Due: lychee-md, lychee-src, docstring-ref-links

refactor(cli): align human verbosity rendering and restrict --quiet to TEXT output
  src/topmark/cli/commands/version.py
  src/topmark/presentation/markdown/version.py
  src/topmark/presentation/shared/version.py
  src/topmark/presentation/text/version.py
Due: lychee-src, docstring-ref-links

fix(version): restrict quiet output suppression to TEXT rendering
  src/topmark/cli/commands/version.py
  src/topmark/cli/validators.py
  tests/cli/machine/test_version_machine.py
  tests/cli/test_version.py
Due: lychee-src, docstring-ref-links

test: update contextmanager typing for Pyright 1.1.409
  tests/helpers/registry.py
  uv.lock
Due: none

test(presentation): align diagnostic rendering across text and markdown
  src/topmark/presentation/markdown/diagnostic.py
  src/topmark/presentation/shared/diagnostic.py
  src/topmark/presentation/text/diagnostic.py
  tests/presentation/test_diagnostic_rendering.py
Due: lychee-src, docstring-ref-links

refactor(cli): restrict verbosity and quiet to TEXT output
  src/topmark/api/commands/pipeline.py
  src/topmark/api/view.py
  src/topmark/cli/commands/check.py
  src/topmark/cli/commands/config_check.py
  src/topmark/cli/commands/config_defaults.py
  src/topmark/cli/commands/config_dump.py
  src/topmark/cli/commands/config_init.py
  src/topmark/cli/commands/registry_bindings.py
  src/topmark/cli/commands/registry_filetypes.py
  src/topmark/cli/commands/registry_processors.py
  src/topmark/cli/commands/strip.py
  src/topmark/cli/commands/version.py
  src/topmark/cli/options.py
  src/topmark/cli/validators.py
  src/topmark/core/keys.py
  src/topmark/diagnostic/model.py
  src/topmark/pipeline/reporting.py
  src/topmark/presentation/markdown/config.py
  src/topmark/presentation/markdown/diagnostic.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/markdown/registry.py
  src/topmark/presentation/markdown/version.py
  src/topmark/presentation/shared/config.py
  src/topmark/presentation/shared/diagnostic.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/shared/registry.py
  src/topmark/presentation/text/config.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/presentation/text/registry.py
  tests/cli/machine/test_version_machine.py
  tests/cli/test_config_human_output.py
  tests/cli/test_registry_human_output.py
  tests/cli/test_version.py
  tests/presentation/test_diagnostic_rendering.py
Due: lychee-src, docstring-ref-links

test(cli): add human-output tests for pipeline commands (check/strip)
  tests/cli/test_pipeline_human_output.py
Due: none

docs(cli): unify TEXT/Markdown/machine output contract and extract reusable snippets
  README.md
  docs/_snippets/output-contract-no-quiet.md
  docs/_snippets/output-contract.md
  docs/api/public.md
  docs/configuration/discovery.md
  docs/dev/architecture.md
  docs/dev/config-schema.md
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
  docs/dev/pipelines-reference.md
  docs/dev/roadmap.md
  docs/index.md
  docs/usage/commands/check.md
  docs/usage/commands/config/check.md
  docs/usage/commands/config/defaults.md
  docs/usage/commands/config/dump.md
  docs/usage/commands/config/init.md
  docs/usage/commands/registry/bindings.md
  docs/usage/commands/registry/filetypes.md
  docs/usage/commands/registry/processors.md
  docs/usage/commands/strip.md
  docs/usage/commands/version.md
  docs/usage/global-options.md
  docs/usage/pre-commit.md
Due: lychee-md

chore(deps): bump pathspec to 1.1
  pyproject.toml
  src/topmark/config/types.py
  src/topmark/resolution/files.py
  uv.lock
Due: lychee-src, docstring-ref-links

docs(changelog): add 1.0.0a5 release entry
  CHANGELOG.md
Due: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs(roadmap): add registry query and probe command decisions to 1.0 planning
  docs/dev/roadmap.md
Due: lychee-md

docs(config): add generated default TOML settings page and wire into docs
  mkdocs.yml
  tools/docs/gen_api_pages.py
Due: none

feat(probe): add resolution probe command with full output and machine contract
  src/topmark/api/runtime.py
  src/topmark/api/types.py
  src/topmark/cli/commands/probe.py
  src/topmark/cli/emitters/machine.py
  src/topmark/cli/keys.py
  src/topmark/cli/main.py
  src/topmark/cli/options.py
  src/topmark/pipeline/context/model.py
  src/topmark/pipeline/machine/envelopes.py
  src/topmark/pipeline/machine/payloads.py
  src/topmark/pipeline/machine/schemas.py
  src/topmark/pipeline/machine/serializers.py
  src/topmark/pipeline/pipelines.py
  src/topmark/pipeline/steps/prober.py
  src/topmark/presentation/markdown/pipeline.py
  src/topmark/presentation/shared/pipeline.py
  src/topmark/presentation/text/pipeline.py
  src/topmark/resolution/filetypes.py
  src/topmark/resolution/probe.py
  tests/cli/conftest.py
  tests/cli/machine/test_probe_machine.py
  tests/cli/test_help_all.py
  tests/cli/test_probe_exit_codes.py
  tests/cli/test_probe_human_output.py
  tests/pipeline/steps/test_prober.py
  tests/resolver/test_probe.py
Due: lychee-src, docstring-ref-links

refactor(pipeline): share probe-backed resolution mapping
  src/topmark/pipeline/steps/prober.py
  src/topmark/pipeline/steps/resolver.py
Due: lychee-src, docstring-ref-links

docs(machine): document probe machine formats and NDJSON kind
  docs/dev/machine-formats.md
  docs/dev/machine-output.md
Due: lychee-md

docs(pipelines): add probe pipeline and ProberStep to conceptual model
  docs/dev/pipelines-reference.md
  docs/dev/pipelines.md
Due: lychee-md

docs(resolution): document probe-based resolution model and contract
  docs/dev/resolution.md
Due: lychee-md

Path conditions:
  lychee-md: any of: ^(README\.md|docs/).*\.(md|MD)$
  lychee-src: any of: ^src/.*\.py$
  docstring-ref-links: any of: ^src/.*\.py$
